{% comment %}
    Renders a text block, originally made to be used in a navigation dropdown

    Expects:
    - heading: {string} optional
    - text: {string} optional
    - button_label: {string} optional
    - button_link: {url} optional
    - button_color: {string} optional
    - className: {string} optional

    Usage:
    {% render 'nav-dropdown-text-block' heading: heading %}
{% endcomment %}

{% if heading or text or button_label %}
  <div class="{{ className }} __text-block">
    {% if heading %} <div class="h6">{{ heading }}</div>{% endif %}
    {% if text %}<div class="p-sm">{{ text }}</div>{% endif %}
    {% render 'button', button_label: button_label, button_link: button_link, button_color: button_color %}
  </div>
{% endif %}