{% comment %}
    Renders a text block, originally made to be used in a navigation dropdown

    Expects:
    - heading: {string} optional
    - text: {string} optional
    - text_size: {string} optional
    - button_label: {string} optional
    - button_link: {url} optional
    - button_color: {string} optional
    - className: {string} optional

    Usage:
    {% render 'nav-dropdown-text-block' heading: heading %}
{% endcomment %}

{% assign text_size = text_size | default: "p-sm" %}

{% if heading != blank or text != blank or button_label != blank %}
  <div class="{{ className }} __text-block">
    {% if heading %} <div class="h6">{{ heading | escape }}</div>{% endif %}
    {% if text %}<div class="{{ text_size }}">{{ text }}</div>{% endif %}
    {% render 'button', button_label: button_label, button_link: button_link, button_color: button_color %}
  </div>
{% endif %}