{% comment %}
  Renders overflow slider arrows

  Expects: 
    class: {String} optional

  Usage:
  <overflow-slider class="{% if hide_arrows_on_desktop %}__hide-desktop-arrows{% endif %} {% if hide_arrows_on_tablet %}__hide-tablet-arrows{% endif%}">
    <ul class="overflow-slider__container">
      <li>item</li>
    </ul>
    {% render 'overflow-slider-arrows' %}
  </overflow-slider>

  {% style %}

    //Your options override the default overflow slider styles
    .overflow-slider__container {
      --overflowSliderArrowRightOffset: var(--sectionGuttersSpacing) !important;
      --overflowSliderItemGap: var(--pxSize) !important;
      --overflowSliderItemSizeDesktop: 80% !important;
      --overflowSliderItemSizeTablet: 80% !important;
      --overflowSliderItemSizeMobile: 90% !important;
    }
  {% endstyle %}

{% endcomment %}

<button class="overflow-slider__arrow next {{ class }} no-js-hidden">
  {% render 'svg-slider-arrow' %}
</button>
<button class="overflow-slider__arrow prev disabled {{ class }} no-js-hidden">
  {% render 'svg-slider-arrow' %}
</button>