<h4 class="{{ class }} product-phrase {% if settings.product_phrase_badgify %}__style-badge{% endif %} {{ settings.product_phrase_text_size }} {% if settings.product_phrase_alt_heading %}alt{% endif %}">
  {{ phrase }}
</h4>
