.featured-product {
  --featuredProductSpace: var(--sectionGuttersSpacing);
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__text {
    width: 100%;

    &__first-half {
      color: RGB(var(--color-text));
      position: relative;

      > * {
        position: relative;
      }

      &:after {
        content: var(--featuredProductThemeBool);
        height: 1px;
        margin-bottom: 1rem;
        display: block;
      }

      &:before {
        content: var(--featuredProductThemeBool);
        position: absolute;
        width: 100vw;
        left: calc(-1 * var(--sectionGuttersSpacing));
        bottom: 0;
        height: calc(
          100% + calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio))
        );
        background: RGB(var(--color-background));
      }
    }

    &__btn.__style-underline {
      margin: 1rem 0;
    }

    > *:last-child {
      margin-bottom: 0;

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    padding-left: var(--featuredProductSpace);
    position: relative;

    ul {
      > li:not(:first-child) {
        display: none;
      }

      li .media {
        position: static;
        padding: 0;
      }
    }

    &__phrase {
      z-index: 2;
      margin-left: var(--featuredProductSpace);
    }
  }

  //block wrapper that wraps some product blocks
  &__block {
    display: block;

    &.__border-top {
      border-top: 1px solid RGBA(var(--color-border));
      padding-top: calc(var(--pxSize) / 4);
    }
  }

  &.__layout-reversed {
    .featured-product {
      &__text,
      &__column {
        grid-row: 1 / 2;
      }

      &__text {
        grid-column: 2 / 3;

        &__first-half {
          &:before {
            left: calc(-100% - var(--sectionGuttersSpacing));
          }
        }
      }

      &__image {
        grid-column: 1 / 2;
        padding-left: 0;
        padding-right: var(--featuredProductSpace);

        &__phrase {
          margin-left: 0;
          margin-right: var(--featuredProductSpace);
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    display: flex;
    gap: calc(var(--sectionVerticalSpacing) / 2);

    &.__layout-mobile-reversed,
    &.__layout-mobile-default {
      .featured-product {
        &__text {
          &__first-half {
            &:before {
              left: calc(-1 * var(--sectionGuttersSpacing));
            }
          }
        }

        &__image {
          &__phrase {
            margin-right: 0;
            margin-left: 0;
          }
        }
      }
    }

    &.__layout-mobile-reversed {
      flex-direction: column;

      .featured-product {
        &__image {
          margin-top: calc(var(--sectionVerticalSpacing) / 2);
          padding: 0;
        }
      }
    }

    &:not(.__layout-mobile-reversed) {
      flex-direction: column-reverse;

      .featured-product {
        &__image {
          position: relative;
          padding: 0;

          &:before {
            content: var(--featuredProductThemeBool);
            position: absolute;
            left: calc(var(--sectionGuttersSpacing) * -1);
            width: 100vw;
            bottom: 0;
            top: 50%;
            background: RGB(var(--color-background));
          }

          > * {
            position: relative;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1680px) {
    &__text {
      &__first-half {
        &:before {
          width: var(--siteMaxWidth);
        }
      }
    }
  }
}
