.gift-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 1fr;
  min-height: calc(100vh - var(--navWithAnnouncementHeight));

  &__text,
  &__qr {
    padding: calc(var(--sectionVerticalSpacing) / 2)
      calc(var(--sectionGuttersSpacing) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    grid-row: 2 / 3;
  }

  &__text {
    border-right: 1px solid RGB(var(--color-border));

    &__expired {
      border: 1px solid RGB(var(--color-border));
      background-color: transparent;
      color: RGB(var(--color-text));
      cursor: default;
      margin-bottom: 1rem;
      margin-top: 0;

      &:hover {
        opacity: 1 !important;
      }
    }

    &__btn {
      margin-top: var(--pxSize);
    }

    &__code {
      width: 100%;

      input {
        display: block;
        border: none;
        margin-top: var(--pxSize);
        width: 100%;
        text-align: center;
      }
    }

    &__value {
      display: flex;
      gap: 1rem;

      > *:first-child:not(:last-child) {
        opacity: 0.6;
      }
    }
  }

  &__qr {
    &__container {
      max-width: 300px;
      position: relative;
      border: 1px solid RGB(var(--color-border));
      width: 100%;
      padding-top: min(100%, 300px);
      margin: 0 auto;

      * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: scale(0.9);
      }
    }

    &__btn.__with-underline {
      margin: calc(var(--pxSize) / 2) auto 0 auto;
    }
  }

  @media screen and (max-width: 676px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    &__text {
      border: none;
    }

    &__qr {
      margin: 0 auto;
    }
  }
}
