.site-header {
  --siteHeaderGuttersSpace: calc(var(--pxSize) * 1.5);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 var(--pxSize);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0px 0px auto 0px;
  width: 100%;
  z-index: 999;
  color: RGB(var(--color-text));
  padding-left: var(--siteHeaderGuttersSpace);
  padding-right: var(--siteHeaderGuttersSpace);

  // We have two navigation types, this one displays on scroll up
  &.__style-on-scroll {
    transform: translateY(-100%);
    background: RGB(var(--color-background));
    opacity: 0;
    display: none;
    will-change: transform, opacity;
    transition: all 0.25s ease;

    &.__visible {
      display: grid;
      transform: translateY(0);
      opacity: 1;
    }
  }

  // We have two navigation types, this one displays at the top of the page content
  &.__style-relative {
    position: relative;
    min-height: var(--navHeight);

    &.__dropdown-open,
    &.__overlay-open {
      background: RGB(var(--color-background));
    }
  }

  //Only used on password page
  &.__style-password {
    background-color: RGB(var(--color-background));
    display: flex;
    position: relative;
    padding-right: var(--siteHeaderGuttersSpace);
  }

  //center the logo between the links
  &.__center-links {
    justify-content: center;
    grid-template-columns: 1fr auto 1fr auto;

    .site-header {
      &__logo {
        padding-left: 0;
      }
    }
  }

  // Logo
  &__logo {
    display: flex;
    min-height: var(--navHeight);
    order: 2; //preset order for when user wants to center the logo. Doesn't effect the output if they don't

    * {
      margin-bottom: 0;
    }

    a {
      display: grid;
      place-content: center;
    }

    &__text {
      display: block;
      font-size: calc(var(--vwSize) * var(--font-heading-scale));
      max-width: calc(var(--maxWidth) / 2);
      overflow-wrap: break-word;
      padding: 0.5rem 0;
    }

    img {
      height: calc(calc(var(--navHeight) * 0.6) * var(--logoMultiplier));
      margin: calc(calc(var(--navHeight) * 0.2) * var(--logoMultiplier)) 0;
      width: auto;
    }
  }

  // All the links container (can be two of these output if they decide to center logo)
  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--pxSize);
    padding: 0.5rem 0;
    flex: 1;
    align-self: stretch;
    min-height: var(--navHeight);
    z-index: 3;
    order: 3; //preset order for when user wants to center the logo. Doesn't effect the output if they don't

    + .site-header__main {
      order: 1;
      justify-content: flex-end;
    }
  }

  // Search, Account and Cart
  &__utility-links {
    position: relative;
    display: flex;
    height: var(--navHeight);
    align-items: center;
    justify-content: flex-end;
    z-index: 4;
    order: 4;

    > a,
    > details > summary {
      min-width: var(--iconMinHeight);
      display: grid;
      place-content: center;

      > svg {
        height: var(--iconMinHeight);
        width: auto;
        transform: scale(0.6);
        will-change: transform;
        transition: all ease 0.25s;
      }

      &:hover {
        > svg {
          transform: scale(0.65);
        }
      }
    }

    &__cart {
      --cartBubbleSize: 17px;
      position: relative;
      //  padding: 0 calc(var(--cartBubbleSize) / 2) calc(var(--cartBubbleSize) / 5) 0;

      > summary > span {
        position: absolute;
        bottom: 0;
        right: 0;
        height: var(--cartBubbleSize);
        width: var(--cartBubbleSize);
        background-color: RGB(var(--color-foreground));
        color: RGB(var(--color-foreground-text));
        border-radius: 50%;
        text-align: center;
        line-height: var(--cartBubbleSize);
        font-size: 10px;
        font-weight: 600;
      }
    }
  }

  // All the links text (dropdown labels and plain links)
  &__plain-link,
  &__label {
    margin: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    order: var(--linkOrder);
    z-index: var(--linkOrder); // for when multiple are open on no-js sites
  }

  &__plain-link,
  &__label .disclosure__summary {
    &:hover {
      cursor: pointer;
      color: RGB(var(--color-text) / 0.6);
    }
  }

  // dropdown label
  &__label.disclosure {
    .disclosure {
      &__summary {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        //clickable overlay to display when its open
        &:before {
          background: RGBA(var(--color-text) / 0.2);
          top: 0;
        }

        > * {
          margin: 0;
        }

        //dropdown arrow
        &:after {
          content: "";
          display: block;
          margin-left: calc(var(--pxSize) / 3);
          height: calc(var(--navHeight) / 10);
          width: calc(var(--navHeight) / 10);
          border-right: 1px solid RGB(var(--color-text));
          border-top: 1px solid RGB(var(--color-text));
          transform: rotate(135deg) translate(25%, 25%);
        }
      }
    }

    &[open] {
      .disclosure {
        &__summary {
          color: RGB(var(--color-text) / 0.6);

          &:after {
            transform: rotate(315deg) translate(-50%, 0%);
          }
        }
      }
    }
  }

  //dropdown wrapper
  &__label.disclosure {
    position: static;

    //Style nested dropdown content
    .disclosure {
      &__content {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100vw;
        order: var(--linkOrder);
        box-shadow: 5px 5px 10px 0 RGB(var(--color-text) / 0.1);
        max-height: 75vh;
        overflow: auto;
      }
    }

    //overlay that shows when open for double nested only
    &.__with-overlay[open] {
      > summary {
        position: static;
        &:before {
          position: absolute;
          left: 0;
          top: 100%;
        }
      }
    }

    //Style overrides for single nested dropdown content
    &.__skinny {
      position: relative;

      &[open] {
        z-index: 900;

        //hide overlay cause it looks bad if there's items that wrap to the next line
        > summary {
          &:before {
            content: none;
          }
        }
      }

      .disclosure {
        &__content {
          right: unset;
          width: max-content;
          max-width: calc(var(--maxWidth) / 3);
          overflow-wrap: break-word;

          .site-header__dropdown {
            &__inner {
              padding: calc(var(--pxSize) / 4) calc(var(--pxSize) / 2);
              flex-direction: column;
              gap: calc(var(--pxSize) / 2);
            }

            &__block {
              max-width: unset;
            }
          }
        }
      }
    }
  }

  // dropdown inner
  &__dropdown {
    &__inner {
      position: relative;
      background: RGB(var(--color-background));
      padding: var(--pxSize) var(--siteHeaderGuttersSpace);
      width: 100%;
      display: flex;
      gap: var(--pxSize);
    }

    //each block inside dropdown
    &__block {
      position: relative;
      z-index: 2;
      max-width: 30%;

      .p-sm {
        font-weight: 600;
      }

      //any block's label
      &__label {
        font-weight: 900;
      }

      //any block's menu list
      &__submenu-list {
        li {
          a {
            display: block;
            margin: 0;
            padding: calc(var(--pxSize) / 5) 0;

            &:hover {
              color: RGB(var(--color-text) / 0.5);
            }
          }

          &:first-of-type {
            margin-top: calc(var(--pxSize) / 5);
          }
        }
      }

      //any block's image
      &__image {
        padding-top: 60%;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          inset: 0px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          will-change: transform;
          transition: all 0.25s ease;
        }

        + * {
          margin-top: 1rem;
        }
      }

      &.__featured-page {
        max-width: 250px;
        flex: 1;
      }

      &.__text-block {
        order: -1;
      }

      // all blocks hover states
      &:hover {
        .site-header__dropdown__block {
          &__image {
            img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }

  &__hamburger {
    display: none;
  }

  &__hamburger.dialog {
    position: relative;

    > summary {
      min-width: var(--iconMinHeight);
      display: grid;

      > svg {
        height: var(--iconMinHeight);
        width: auto;
        transform: scale(0.45);
        will-change: transform;
        transition: all ease 0.25s;
      }
    }

    &[open] {
      z-index: 5;
    }
  }

  @media screen and (max-width: 1200px) {
    &:not(.__style-password) {
      grid-template-columns: 1fr auto 1fr;

      .site-header {
        &__main {
          display: none;
        }

        // All the links text (dropdown labels and plain links)
        &__plain-link,
        &__label {
          display: none;
        }

        &__hamburger.dialog {
          display: block;
        }
      }
    }

    // Logo
    &__logo {
      --logoMultiplier: 1 !important;

      &__text {
        font-size: calc(0.9rem * var(--font-heading-scale));
      }
    }
  }

  @media screen and (max-width: 676px) {
    --siteHeaderGuttersSpace: var(--sectionGuttersSpacing);
  }
}

// For sites without javascript don't show the overlay when a dropdown is active because multiple can be active at once
.no-js {
  .site-header {
    &.__style-relative {
      position: fixed;
      background: RGB(var(--color-background));
    }

    &__label.disclosure {
      .disclosure {
        &__summary {
          &:before {
            content: none !important;
          }
        }
      }
    }
  }
}
