.icons-section {
  --iconsSectionGap: var(--vwSize);

  &__heading {
    + * {
      padding-top: calc(var(--pxSize) / 2);
    }
  }

  &__icons {
    display: flex;
    flex-flow: row wrap;
    gap: var(--vwSize) 0;

    &__icon {
      text-align: center;

      img,
      svg {
        height: var(--iconHeight);
        width: auto;
        margin-bottom: 1rem;
      }
    }

    &.__layout-rows {
      gap: var(--iconsSectionGap);
    }

    &:not(.__layout-rows) {
      gap: var(--iconsSectionGap) 0;

      .icons-section__icons__icon {
        flex: 0 0 calc(100% / var(--numColumns));
        padding: 0 var(--iconsSectionGap);
      }
    }
  }

  @media screen and (max-width: 676px) {
    --iconsSectionGap: var(--pxSize);

    &__icons {
      overflow: hidden;
      
      &.__mobile-layout-rows {
        gap: var(--iconsSectionGap);

        .icons-section__icons__icon {
          padding: 0;
        }
      }

      &:not(.__mobile-layout-rows) {
        gap: var(--iconsSectionGap) 0;

        .icons-section__icons__icon {
          flex: 0 0 calc(100% / var(--mobileNumColumns));
          padding: 0 var(--iconsSectionGap);

          img, svg{
            max-width: 70vw;
          }
        }
      }
    }
  }
}

