.image-with-text {
  --imageWithTextSpace: calc(var(--sectionGuttersSpacing) / 1.5);
  --imageWithTextRatio: 37%;
  display: flex;
  gap: var(--imageWithTextSpace);

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: calc(
      var(--sectionVerticalSpacing) * var(--topInternalSpacingRatio)
    );
    padding-bottom: calc(
      var(--sectionVerticalSpacing) * var(--bottomInternalSpacingRatio)
    );

    &__heading {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    &__icon {
      margin-top: calc(var(--pxSize) / 2);

      img {
        height: calc(var(--pxSize));
        width: auto;
      }

      > *:last-child {
        margin-bottom: 0;
      }

      &.__layout {
        &-row {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto;

          img {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            margin-right: calc(var(--pxSize) / 2);
          }
        }

        &-column {
          img {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &__image {
    position: relative;

    img {
      position: absolute;
      top: 0;
      height: 100%;
      object-fit: cover;
      width: calc(var(--sectionGuttersSpacing) + 100%);
    }
  }

  &:not(.__layout-reversed) {
    .image-with-text {
      &__image {
        img {
          left: 0;
        }
      }
    }
  }

  &.__layout-reversed {
    flex-direction: row-reverse;

    .image-with-text {
      &__image {
        img {
          right: 0;
        }
      }
    }
  }

  &:not(.__image-style-square) {
    .image-with-text {
      &__text,
      &__image {
        min-height: calc(var(--vwSize) * 18);
        flex: 1;
      }

      &__image {
        flex: 0 0 var(--imageWithTextRatio);
      }
    }

    &.__image-style-wide {
      --imageWithTextRatio: 50%;
    }
  }

  &.__image-style-square {
    --imageWithTextSpace: calc(var(--sectionGuttersSpacing) / 2);
    align-items: center;

    .image-with-text {
      &__image {
        flex: 0 0 calc(var(--vwSize) * 15);
        padding-top: calc(var(--vwSize) * 15);

        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    --imageWithTextSpace: var(--sectionVerticalSpacing);
    flex-direction: column-reverse;
    gap: 0;

    &__image {
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
      width: calc(
        var(--sectionGuttersSpacing) + var(--sectionGuttersSpacing) + 100%
      );
      left: calc(var(--sectionGuttersSpacing) * -1);
      min-height: var(--mobileImageHeight) !important;

      img {
        width: 100%;
      }
    }

    &.__layout-reversed {
      flex-direction: column-reverse;
    }

    &.__layout-mobile-reversed {
      flex-direction: column;
    }

    &.__image-style-square {
      --imageWithTextSpace: var(--sectionVerticalSpacing);
    }
  }
}
