.main-search {
  --mainSearchColumns: 3;

  &__heading {
    text-align: center;
  }

  &__form {
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    margin-bottom: var(--sectionVerticalSpacing);

    > input[type="search"]:first-of-type {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      flex: 1;
    }

    button {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;

      svg {
        transform: scaleX(-1);
      }
    }

    label {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      align-items: center;
      margin-bottom: var(--pxSize);
    }
  }

  &__size {
    margin: calc(var(--pxSize) / 2) 0 var(--pxSize) 0;
  }

  &__results {
    display: grid;
    grid-template-columns: repeat(var(--mainSearchColumns), 1fr);
    gap: var(--pxSize) calc(var(--pxSize) / 3);

    li > .quote-card {
      --color-background: var(--color-foreground);
      --color-text: var(--color-foreground-text);
    }
  }

  @media screen and (max-width: 1024px) {
    --mainSearchColumns: 2;
  }

  @media screen and (max-width: 676px) {
    --mainSearchColumns: 1;
  }
}
