.site-404 {
  * {
    max-width: var(--maxWidth);
  }

  &__image {
    max-width: var(--imageMaxWidth);
    margin-bottom: calc(var(--sectionVerticalSpacing) / 2);

    img {
      width: 100%;
      height: auto;
    }
  }
}
