.main-product {
  padding: 0;
  background-color: RGB(var(--color-background));
  color: RGB(var(--color-text));

  //main container with 3 columns
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;

    &.__offset {
      &-left {
        grid-template-columns: 0px repeat(2, 1fr);

        .main-product {
          &__blocks-before-media {
            padding: 0;

            &:before {
              width: 25vw;
              right: unset;
              left: 0;
            }
          }
        }
      }

      &-right {
        grid-template-columns: repeat(2, 1fr) 0px;

        .main-product {
          &__blocks-after-media {
            padding: 0;
          }

          &__blocks-before-media {
            &:before {
              width: 75vw;
              right: unset;
              left: 0;
            }
          }
        }
      }
    }

    > * {
      padding-top: calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio));
      padding-bottom: calc(
        var(--sectionVerticalSpacing) * var(--bottomSpacingRatio)
      );
      position: sticky;
      -webkit-position: sticky;
      top: 0;
    }
  }

  //blocks before media column position and space
  &__blocks-before-media {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
    color: RGB(var(--color-text));
    min-height: calc(100vh - var(--navHeight));

    > * {
      position: relative;
    }

    &:before {
      content: "";
      position: absolute;
      width: 50vw;
      right: -50%;
      top: 0;
      bottom: 0;
      background: RGB(var(--color-background));
    }
  }

  //media column position and space
  &__media {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
    padding-right: calc(var(--sectionGuttersSpacing) / 2);
    z-index: 2;
  }

  //blocks after media column position, space and coloring
  &__blocks-after-media {
    grid-column: 3 / -1;
    padding-right: calc(var(--sectionGuttersSpacing) / 2);
  }

  //block wrapper that wraps some product blocks
  &__block {
    display: block;

    &.__border-top {
      border-top: 1px solid RGBA(var(--color-border));
      padding-top: calc(var(--pxSize) / 4);
    }
  }

  &__pickup-disclosure.disclosure {
    .disclosure {
      &__content {
        h3 {
        }
      }
    }
  }

  //media block
  &__media {
    &__container {
      a {
        display: block;
      }
    }

    &:not(.__layout-stacked) {
      .main-product {
        &__media {
          &__container {
            display: grid;
          }

          &__item {
            grid-column: 1 / -1;
            grid-row: 1 / -1;

            &:not(:first-child) {
              display: none;
            }
          }

          &__dots {
            display: grid;
            gap: calc(var(--pxSize) / 8) 0;
            grid-template-columns: 1fr repeat(var(--dotsColumns), auto) 1fr;
            justify-content: center;
            margin-top: var(--pxSize);
            align-items: center;

            &__dot {
              &.__active {
                opacity: 1;

                //disabled prev and next buttons depending on active media
                &:first-child ~ .main-product__media__dots__prev,
                + .main-product__media__dots__prev
                  + .main-product__media__dots__next {
                  opacity: 0.5;
                  pointer-events: none;
                  cursor: auto;
                }
              }
            }

            &__prev,
            &__next {
              background: transparent;
              grid-row: 1 / calc(var(--dotsRows) + 1);
              border: none;

              svg * {
                fill: RGB(var(--color-text));
              }
            }

            &__prev {
              grid-column: 1 / 2;
            }

            &__next {
              grid-column: -2 / -1;
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  &__comp-products {
    &__label {
      font-weight: 600;
    }

    &__product:not(:last-child) {
      margin-bottom: calc(var(--pxSize) / 4);
    }
  }

  &__btn.__with-underline {
    margin-top: var(--pxSize);
  }

  @media screen and (max-width: 676px) {
    &__container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &__media {
      --color-background: var(--mobile-color-background);
      --color-foreground: var(--mobile-color-foreground);
      --color-border: var(--mobile-color-border);
      --color-text: var(--mobile-color-text);
      --color-foreground-text: var(--mobile-color-foreground-text);
      position: relative;
      order: -1;
      padding-top: var(--sectionGuttersSpacing);
      padding-bottom: 0;
      background-color: RGB(var(--color-background));

      // All from shopify starter
      &__container {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--container-padding);
        scroll-padding-right: var(--container-padding);
        padding-top: var(--container-padding);
        padding-bottom: var(--container-padding);
        margin-left: calc(var(--container-padding) * -1);
        margin-right: calc(var(--container-padding) * -1);

        li {
          scroll-snap-align: center;
          max-width: 100%;
          min-width: 100%;

          &:first-child {
            scroll-snap-align: start;
            margin-left: var(--container-padding);
          }
        }
      }
    }

    //block wrapper that wraps some product blocks
    &__block {
      &.__border-top {
        padding-top: calc(var(--pxSize) / 1.5);
      }
    }

    &__blocks-before-media {
      min-height: auto;

      &:before {
        width: 100%;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }

    &__blocks-after-media,
    &__blocks-before-media,
    &__media {
      padding-left: var(--sectionGuttersSpacing);
      padding-right: var(--sectionGuttersSpacing);
    }

    &__blocks-after-media {
      padding-top: var(--pxSize);
    }

    &__blocks-before-media {
      padding-bottom: var(--pxSize);
    }
  }
}

/* Product model UI */
product-model {
  display: block;
  position: relative;

  button {
    position: relative;
    width: 100%;
    padding-bottom: calc(var(--height) / var(--width) * 100%);
    border: 0;

    img {
      object-fit: cover;
    }
  }

  button img,
  .shopify-model-viewer-ui,
  .shopify-model-viewer-ui model-viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}

.xr-button[data-shopify-xr-hidden] {
  visibility: hidden;

  @media screen and (min-width: 750px) {
    display: none;
  }
}

.shopify-design-mode .xr-button[data-shopify-xr-hidden],
.shopify-model-viewer-ui__button[hidden] {
  display: none;
}

@media screen and (max-width: 749px) {
  .active .xr-button:not([data-shopify-xr-hidden]) {
    display: block;
  }
}
