.product-recommendations {
  --productRecommendationsGap: calc(var(--pxSize) / 3);
  --gutterPlusButtonsSize: calc(
    var(--sectionGuttersSpacing) + calc(var(--arrowBtnHeight) * 2.5)
  );
  padding-right: 0;

  &__heading {
    padding-right: var(--sectionGuttersSpacing);
  }

  &__inner {
    --overflowSliderArrowRightOffset: min(
      calc(100vw - var(--gutterPlusButtonsSize)),
      calc(var(--siteMaxWidth) - var(--gutterPlusButtonsSize))
    ) !important;
    --overflowSliderItemGap: var(--productRecommendationsGap) !important;
    --overflowSliderItemSizeDesktop: 30% !important;
    --overflowSliderItemSizeTablet: 40% !important;
    --overflowSliderItemSizeMobile: 60% !important;
  }

  &__container {
    &:after {
      content: "";
      width: var(--productRecommendationsGap);
      min-width: var(--productRecommendationsGap);
      display: block;
    }
  }
}
