.shop-the-look {
  padding-left: 0;
  padding-right: 0;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  &__center-vertically {
    // Just in case the content on the right grows taller than the
    // fixed ratio image on the left, center the image vertically
    // within this container. Image must be fixed ratio, so that the
    // dots always land on the same spot on the image. Also, just in
    // case the imaage on the left is taller than the content on the
    // right, center the content on the right vertically.
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image,
  &__products {
    position: relative;
    z-index: 1;
    max-width: 50vw; //TODO x-large screens
  }

  &__image {
    position: relative;

    img,
    svg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__dots {
    position: absolute;
    inset: 0;

    .flickity-viewport {
      height: 100% !important;

      .flickity-slider {
        transform: none !important;
      }
    }

    &__dot {
      padding: calc(var(--pxSize) / 4);
      position: absolute;
      border-radius: 50%;
      border-width: calc(var(--pxSize) / 4);
      border-style: solid;
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box;
      will-change: padding, border-width;
      transition: all 0.25s ease;
      cursor: pointer;

      //Don't allow flickity to overide our css
      transform: translate(-50%, -50%) !important;
      left: var(--shopTheLookDotleft) !important;
      top: var(--shopTheLookDotTop) !important;

      &.is-selected,
      &:hover {
        border-width: calc(var(--pxSize) / 8);
        padding: calc(var(--pxSize) / 2.66);
      }
    }
  }

  &__products {
    margin: var(--pxSize) 0;

    &__product {
      width: 60%;
      padding-left: var(--pxSize);
      flex: 0 0 60%; // For when Flickity is not applied
    }

    // For when Flickity is not applied
    &:not(.flickity-enabled) {
      display: flex;
      overflow: auto;
    }
  }

  &__background-color {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    inset: 0;

    .flickity-viewport {
      height: 100% !important;
    }

    .flickity-slider {
      transform: translateX(0) !important;
    }

    &__item {
      width: 100%;
      height: 100%;
      transition: opacity 0.4s;
      opacity: 0;
      transform: translateX(0) !important;

      &.is-selected {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 676px) {
    &__inner {
      display: block;
    }

    &__image,
    &__products {
      max-width: 100%;
    }

    &__products {
      &__product {
        width: 85%;
      }
    }

    .flickity-button {
      display: none;
    }
  }
}
