.split-slideshow {
  --splitSlideshowGap: var(--splitSlideshowGap);
  padding-right: 0;

  &__inner {
    --overflowSliderArrowRightOffset: calc(
      100% - calc(var(--arrowBtnHeight) * 2.5)
    ) !important;
    --overflowSliderItemGap: var(--splitSlideshowGap) !important;
    --overflowSliderItemSizeDesktop: 80% !important;
    --overflowSliderItemSizeTablet: 80% !important;
    --overflowSliderItemSizeMobile: 90% !important;
  }

  //add an invisible pseudo element so that the last slide isn't touching the right edge
  &__slides {
    &:after {
      content: "";
      width: var(--splitSlideshowGap);
      min-width: var(--splitSlideshowGap);
      display: block;
    }
  }
}
