.timeline-section {
  --timelineSectionDotSize: calc(var(--pxSize) / 2);
  --timelineSectionGap: calc(var(--sectionVerticalSpacing) / 2);
  --timelineBgColor: var(--color-background);
  display: flex;
  gap: var(--timelineSectionGap);
  align-items: flex-start;

  &__container,
  &__parts {
    flex: 0 0 calc(50% - calc(var(--timelineSectionGap) / 2));
  }

  &__parts {
    background-color: RGB(var(--color-background));

    &__part {
      padding-bottom: var(--timelineSectionGap);
      position: relative;
      min-height: min(
        calc(100vh - calc(var(--navWithAnnouncementHeight) * 2)),
        50vh
      );

      &__text {
        padding-left: calc(var(--timelineSectionDotSize) * 1.5);
      }

      //timeline dots
      &:after {
        content: "";
        width: var(--timelineSectionDotSize);
        height: var(--timelineSectionDotSize);
        background: RGB(var(--color-foreground));
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
      }

      //line behind the timeline dots
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(var(--timelineSectionDotSize) / 2);
        width: 1px;
        background: RGB(var(--color-border));
        height: 100%;
      }
    }
  }

  &__container {
    position: sticky;
    min-height: calc(100vh - calc(var(--navWithAnnouncementHeight) * 2));
    -webkit-position: sticky;
    top: calc(var(--navWithAnnouncementHeight) * 2);
    z-index: 2;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 100%;
      width: calc(100% + var(--timelineSectionGap));
      height: 25vh;
      background: linear-gradient(
        to top,
        RGBA(var(--timelineBgColor) / 1),
        RGBA(var(--timelineBgColor) / 1),
        RGBA(var(--timelineBgColor) / 0)
      );
    }
  }

  &__heading {
    margin-bottom: calc(var(--sectionVerticalSpacing) / 2);
  }

  @media screen and (max-width: 676px) {
    --timelineSectionGap: var(--sectionVerticalSpacing);
    flex-direction: column;

    &__container {
      width: 100%;
      min-height: auto;
      position: relative;
      top: 0;

      &:before {
        content: none;
      }
    }

    &__parts {
      &__part {
        min-height: auto;
      }
    }
  }
}
