.article-card {
  position: relative;

  &__image {
    margin-bottom: calc(var(--btnHeight) / 2);
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  *:last-child {
    margin-bottom: 0;

    * {
      margin-bottom: 0;
    }
  }

  &.__align {
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &.__crop {
    &-circle {
      .product-card__image {
        border-radius: 50%;
        padding-top: 100% !important;

        img {
          border-radius: 50%;
        }
      }
    }

    &-rounded-square {
      .product-card__image {
        border-radius: 20%;
        padding-top: 100% !important;

        img {
          border-radius: 20%;
        }
      }
    }

    &-square {
      .product-card__image {
        padding-top: 100% !important;
      }
    }

    &-landscape {
      .product-card__image {
        padding-top: 66.66% !important;
      }
    }

    &-portrait {
      .product-card__image {
        padding-top: 133.33% !important;
      }
    }
  }
}
