.article-card {
  position: relative;
  display: flex;
  flex-direction: column;

  &__image {
    @extend .image-container;
    width: 100%;
    margin-bottom: calc(var(--btnHeight) / 2);
  }

  *:last-child {
    margin-bottom: 0;

    * {
      margin-bottom: 0;
    }
  }
}
