.article-comment {
  display: grid;
  grid-template-columns: var(--pxSize) auto;
  gap: 0 calc(var(--pxSize) / 4);

  &__image {
    height: var(--pxSize);
    width: var(--pxSize);
  }

  &__author {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &__comment {
    margin-top: 1rem;
    max-width: 400px;
  }

  &:not(:last-child) {
    padding-bottom: calc(var(--pxSize) / 2);
    margin-bottom: calc(var(--pxSize) / 2);
    border-bottom: 1px solid RGB(var(--color-border));
  }
}
