.collection-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__image {
    position: relative;
    overflow: hidden;
    padding-top: 125%;
    margin-bottom: 1rem;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      will-change: transform;
      transition: all 0.25s ease;
    }
  }

  &__title {
  }

  &:hover {
    cursor: pointer;

    img {
      transform: scale(1.05);
    }
  }
}
