.content-card {
  display: flex;
  flex-direction: column;
  gap: calc(var(--pxSize) / 2);

  &__image {
    @extend .image-container;
    overflow: visible;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      opacity: var(--overlayOpacity);
      background: RGB(var(--color-background));
    }

    &__heading {
      position: absolute;
      z-index: 3;
      bottom: 0;
      padding: 0;
      color: var(--contentCardSectionTextColor);
      margin: 0;
    }

    &.__crop {
      &-square,
      &-default,
      &-portrait,
      &-landscape,
      &-arch {
        .content-card {
          &__heading {
            padding: 0 calc(var(--pxSize) / 3);
            color: RGB(var(--color-text));
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &.__style-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .content-card {
      &__text {
        height: 100%;
        grid-column: 2 / 3;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__image {
        grid-column: 1 / 2;
      }
    }
  }

  @media screen and (max-width: 676px) {
    &.__style-row {
      display: flex;
      flex-direction: column;
    }
  }
}
