.content-card {
  &__image {
    @extend .image-container;
    overflow: visible;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      opacity: var(--overlayOpacity);
      background: RGB(var(--color-background));
    }

    + * {
      margin-top: calc(var(--pxSize) / 2);
    }

    &__heading {
      position: absolute;
      z-index: 3;
      bottom: 0;
      padding: 0;
      color: var(--contentCardSectionTextColor);
      margin: 0;
    }

    &.__crop {
      &-square,
      &-default,
      &-portrait,
      &-landscape,
      &-arch {
        .content-card {
          &__heading {
            padding: 0 calc(var(--pxSize) / 3);
            color: RGB(var(--color-text));
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &.__style-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 var(--pxSize);

    > * {
      grid-column: 2 / 3;
    }

    .content-card {
      &__image {
        grid-column: 1 / 2;
        grid-row: 1 / -1;

        + * {
          margin-top: 0;
        }
      }
    }
  }
}
