.expandable-content {
  --expandableContentIconWidth: calc(var(--pxSize) / 4);
  border-top: 1px solid RGB(var(--color-border));
  border-bottom: 1px solid RGB(var(--color-border));

  + .expandable-content {
    border-top: none;
  }

  &__summary,
  &__content {
    padding: calc(var(--pxSize) / 4) 0;
  }

  &__summary {
    padding-right: calc(var(--expandableContentIconWidth) * 2);
    position: relative;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      width: var(--expandableContentIconWidth);
      height: 1px;
      background: RGB(var(--color-text));
      position: absolute;
      right: 0;
      top: 50%;
    }

    &:after {
      will-change: transform;
      transition: transform 0.25s ease;
      transform: rotate(90deg);
    }
  }

  &[open] {
    .expandable-content {
      &__summary {
        &:after {
          transform: none;
        }
      }
    }
  }

  &.__style-dropdown {
    border: 1px solid RGB(var(--color-border));

    &__summary {
      padding-right: calc(var(--expandableContentIconWidth) * 2);
      padding-left: var(--expandableContentIconWidth);
      position: relative;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        width: var(--expandableContentIconWidth);
        height: 1px;
        background: RGB(var(--color-text));
        position: absolute;
        right: 0;
        top: 50%;
      }

      &:after {
        content: none;
      }

      &:before {
        height: var(--expandableContentIconWidth);
        background: transparent;
        border-left: 1px solid RGB(var(--color-text));
        border-bottom: 1px solid RGB(var(--color-text));
        transform: rotate(45deg);
      }
    }

    ul {
      li {
        display: block;

        &:not(:last-child) {
          border-bottom: 1px solid RGB(var(--color-border));
        }
      }
    }
  }
}
