.filter-and-sort {
  display: flex;
  gap: calc(var(--pxSize) / 3);

  &__filters {
    &__details.disclosure {
      .disclosure {
        &__content {
          width: 0px;
          overflow: visible;
        }
      }
    }

    &__container {
      padding: calc(var(--sectionVerticalSpacing) / 2) 0;
      margin-top: calc(var(--sectionVerticalSpacing) / 4);
      border-top: 1px solid RGB(var(--color-border));
      width: calc(
        100vw - var(--sectionGuttersSpacing) - var(--sectionGuttersSpacing)
      );
      max-width: calc(
        var(--siteMaxWidth) - var(--sectionGuttersSpacing) -
          var(--sectionGuttersSpacing)
      );
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: calc(var(--pxSize) / 3);
    }

    &__checkboxes {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__price {
      .filter-and-sort {
        &__row {
          gap: 1rem;
        }
      }

      label {
        display: block;
        margin-bottom: 0.25rem;
      }
    }

    &__label {
      display: flex;
      align-items: baseline;
      gap: 1rem;
      margin-bottom: 1rem;

      * {
        margin-bottom: 0;
      }
    }
  }

  &__icon {
    --customIconHeight: calc(var(--inputHeight) / 2);
  }

  &__row {
    display: flex;
  }

  &__sort {
    --color-foreground: var(--color-background);
    --color-foreground-text: var(--color-text);
    align-self: flex-start;

    &__details {
      .disclosure {
        &__summary {
          border: 1px solid RGB(var(--color-foreground-text)) !important;
        }
      }
    }

    input {
      display: none;
    }
  }

  @media screen and (max-width: 676px) {
    &__filters {
      &__container {
        gap: var(--pxSize);
        grid-template-columns: repeat(1, 1fr);
      }

      &__checkboxes {
        flex-direction: row;
        flex-wrap: wrap;

        > * {
          flex-basis: calc(50% - calc(var(--pxSize) / 6));
        }
      }
    }
  }
}
