.newsletter-signup {
  margin-top: calc(var(--pxSize) / 2);

  form {
    display: flex;
    width: 100%;

    label {
      display: none;
    }

    input[type="email"] {
      background-color: var(--color-foreground);
      color: var(--color-foreground-text);
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      flex: 1;

      &::placeholder {
        color: var(--color-foreground-text);
      }
    }

    button {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;

      svg {
        transform: scaleX(-1);
        * {
          fill: var(--color-foreground-text);
        }
      }
    }
  }
}
