.newsletter-signup {
  margin-top: calc(var(--pxSize) / 2);

  form {
    display: flex;
    width: 100%;

    label {
      display: none;
    }

    input[type="email"] {
      background-color: RGB(var(--color-foreground));
      color: RGB(var(--color-foreground-text));
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      flex: 1;

      &::placeholder {
        color: RGB(var(--color-foreground-text));
      }
    }

    button {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;

      svg {
        transform: scaleX(-1);
        * {
          fill: RGB(var(--color-foreground-text));
        }
      }
    }
  }
}
