.number-input {
  display: flex;

  input[type="number"] {
    border: none;
    -moz-appearance: textfield;
    text-align: center;
    width: var(--pxSize);
    height: var(--btnHeight);
    line-height: var(--btnHeight);
    padding: 0;
    background: transparent;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  button {
    margin: 0;
    background: RGBA(var(--color-text) / 0.05);
    color: RGB(var(--color-text));
    padding: 0 calc(var(--btnHeight) * 0.35);
  }
}
