overflow-slider,
.overflow-slider {
  --overflowSliderItemGap: calc(var(--pxSize) / 3);
  --overflowSliderArrowRightOffset: 0;
  --overflowSliderItemSizeDesktop: 25%;
  --overflowSliderItemSizeTablet: 50%;
  --overflowSliderItemSizeMobile: 75%;
  position: relative;

  &__container {
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;
    padding-top: calc(var(--arrowBtnHeight) * 1.5);
    padding-bottom: var(--arrowBtnHeight);
    margin-left: calc(var(--overflowSliderItemGap) / -2);
    margin-right: calc(var(--overflowSliderItemGap) / -2);
    width: calc(100% + var(--overflowSliderItemGap));

    > * {
      flex: 0 0 var(--overflowSliderItemSizeDesktop);
      padding: 0 calc(var(--overflowSliderItemGap) / 2);
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: RGB(var(--color-text));
      outline: none;
      border-radius: 30px;
      cursor: grab;
    }

    &::-webkit-scrollbar-track {
      background-color: RGBA(var(--color-text) / 0.2);
      border-radius: 30px;
      margin: 0 var(--sectionGuttersSpacing);
    }
  }

  &__arrow {
    height: var(--arrowBtnHeight);
    width: var(--arrowBtnHeight);
    padding: 0;
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    right: calc(var(--arrowBtnHeight) * 1.5);
    margin-top: 0;
    margin-right: var(--overflowSliderArrowRightOffset);

    svg * {
      fill: RGB(var(--color-foreground-text));
      width: 40%;
      height: auto;
    }

    &.next {
      right: 0;

      svg {
        transform: scale(-1);
      }
    }

    &.hide {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &.__hide-desktop-arrows {
    .overflow-slider {
      &__arrow {
        display: none;
      }

      &__container {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__container {
      > * {
        flex: 0 0 var(--overflowSliderItemSizeTablet);
      }
    }

    &.__hide-tablet-arrows {
      .overflow-slider {
        &__container {
          padding-top: 0;
          padding-bottom: 0;
        }

        &__arrow {
          display: none;
        }
      }
    }

    &.__hide-desktop-arrows {
      .overflow-slider {
        &__arrow {
          display: grid;
        }

        &__container {
          padding-top: calc(var(--arrowBtnHeight) * 1.5);
          padding-bottom: var(--arrowBtnHeight);
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    &__container {
      > * {
        flex: 0 0 var(--overflowSliderItemSizeMobile);
      }
    }

    &__container,
    &.__hide-desktop-arrows .overflow-slider__container {
      padding-top: 0;
    }

    &__arrow {
      display: none;
    }

    &.__hide-desktop-arrows {
      .overflow-slider {
        &__arrow {
          display: none;
        }
      }
    }
  }
}
