overflow-slider,
.overflow-slider {
  position: relative;

  &__container {
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;
    padding-top: var(--arrowBtnHeight);
    padding-bottom: var(--arrowBtnHeight);

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: RGB(var(--color-text));
      outline: none;
      border-radius: 30px;
      cursor: grab;
    }

    &::-webkit-scrollbar-track {
      background-color: RGBA(var(--color-text) / 0.2);
      border-radius: 30px;
      margin: 10px 60px 0;
    }
  }

  &__arrow {
    height: var(--arrowBtnHeight);
    width: var(--arrowBtnHeight);
    padding: 0;
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    right: calc(var(--arrowBtnHeight) * 1.5);
    margin-top: 0;

    svg * {
      fill: RGB(var(--color-foreground-text));
      width: 40%;
      height: auto;
    }

    &.next {
      right: 0;

      svg {
        transform: scale(-1);
      }
    }

    &.hide {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &.__hide-desktop-arrows {
    .overflow-slider {
      &__arrow {
        display: none;
      }

      &__container {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &.__hide-tablet-arrows {
      .overflow-slider {
        &__container {
          padding-top: 0;
          padding-bottom: 0;
        }

        &__arrow {
          display: none;
        }
      }
    }

    &.__hide-desktop-arrows {
      .overflow-slider {
        &__arrow {
          display: grid;
        }

        &__container {
          padding-top: var(--arrowBtnHeight);
          padding-bottom: var(--arrowBtnHeight);
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    &__container,
    &.__hide-desktop-arrows .overflow-slider__container {
      padding-top: 0;
    }

    &__arrow {
      display: none;
    }

    &.__hide-desktop-arrows {
      .overflow-slider {
        &__arrow {
          display: none;
        }
      }
    }
  }
}
