.product-card {
  position: relative;
  display: block;

  a {
    position: absolute;
    inset: 0;
    z-index: 3;
  }

  &__image {
    width: 100%;
    margin-bottom: calc(var(--btnHeight) / 2);
    z-index: 1;
  }

  &__quick-add-btn {
    position: relative;
    height: calc(var(--btnHeight) / 4);
    z-index: 3;
    text-align: center;
    display: flex;
    justify-content: center;

    &__btn {
      margin: 0;
      transform: translateY(-100%);
    }
  }

  &__phrase {
    position: absolute;
    width: 50%;
    text-align: center;
    right: 10%;
    top: 0;
    transform: rotate(5deg);
    z-index: 2;

    + * {
      margin-top: var(--pxSize);
    }
  }

  &__row {
    display: block;
    z-index: 1;

    * {
      display: inline-block;
    }

    > *:last-child:before:not(:first-child) {
      content: "\00a0";
    }
  }

  > *:last-child {
    margin-bottom: 0;

    * {
      margin-bottom: 0;
    }
  }

  &.__include-bg {
    .product-card__image {
      border-radius: 0 !important;

      &:before {
        content: "";
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: var(--productColor);
      }

      img {
        transform: scale(0.9);
        transform-origin: bottom;
      }

      ~ *:not(.btn) {
        padding-left: 5%;
        padding-right: 5%;
      }
    }
  }
}
