.product-card {
  position: relative;

  &__image {
    margin-bottom: calc(var(--btnHeight) / 2);
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__quick-add-btn {
    height: calc(var(--btnHeight) / 4);
    z-index: 2;
    text-align: center;

    button {
      margin: 0;
      transform: translateY(-100%);
    }
  }

  &__phrase {
    position: absolute;
    width: 50%;
    text-align: center;
    right: 10%;
    top: 0;
    transform: rotate(5deg);
    z-index: 1;

    + * {
      margin-top: var(--pxSize);
    }
  }

  &__row {
    display: flex;
    align-items: baseline;
    gap: calc(var(--pxSize) / 4);
  }

  *:last-child {
    margin-bottom: 0;

    * {
      margin-bottom: 0;
    }
  }

  &.__align {
    &-center {
      text-align: center;

      .product-card__row {
        justify-content: center;
      }
    }

    &-right {
      text-align: right;

      .product-card__row {
        justify-content: flex-end;
      }
    }
  }

  &.__crop {
    &-circle {
      .product-card__image {
        border-radius: 50%;
        padding-top: 100% !important;

        img {
          border-radius: 50%;
        }
      }
    }

    &-rounded-square {
      .product-card__image {
        border-radius: 20%;
        padding-top: 100% !important;

        img {
          border-radius: 20%;
        }
      }
    }

    &-square {
      .product-card__image {
        padding-top: 100% !important;
      }
    }

    &-landscape {
      .product-card__image {
        padding-top: 66.66% !important;
      }
    }

    &-portrait {
      .product-card__image {
        padding-top: 133.33% !important;
      }
    }
  }

  &.__include-bg {
    .product-card__image {
      border-radius: 0 !important;

      &:before {
        content: "";
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: var(--productColor);
      }

      img {
        transform: scale(0.9);
        transform-origin: bottom;
      }
    }
  }
}
