.article-comment {
  display: grid;
  grid-template-columns: var(--pxSize) auto;
  gap: 0 1rem;

  &__avatar {
    height: var(--pxSize);
    line-height: var(--pxSize);
    width: var(--pxSize);
    text-align: center;
    border-radius: 100%;
    background-color: RGBA(var(--color-text) / 0.05);
  }

  &__content {
    padding-top: calc(var(--pxSize) / 3);
  }

  &__author {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &__comment {
    margin-top: 1rem;
    max-width: 400px;
  }

  &:not(:last-child) {
    padding-bottom: calc(var(--pxSize) / 2);
    margin-bottom: calc(var(--pxSize) / 2);
    border-bottom: 1px solid RGB(var(--color-border));
  }
}
