.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  img,
  svg {
    transform: scale(1);
    will-change: transform;
    transition: all 0.25s ease;
  }

  &__top {
    width: 100%;
    margin-bottom: calc(var(--btnHeight) / 2);
    position: relative;
  }

  &__assc-products {
    display: grid;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 2;

    &__bubble {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      width: 25%;
      padding-top: 25%;
      background: RGB(var(--color-foreground));
      color: RGB(var(--color-foreground-text));
      font-weight: 700;

      &:after {
        content: var(--articleCardProductsCount);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    + * {
      transform: scale(0.95);
      transform-origin: top left;
    }
  }

  *:last-child {
    margin-bottom: 0;

    * {
      margin-bottom: 0;
    }
  }

  &:hover {
    cursor: pointer;

    img,
    svg {
      transform: scale(1.05);
    }
  }
}
