/* Custom icon, extend this class where custom icons are used */

.custom-icon {
  &:before {
    content: "";
    width: var(--customIconHeight);
    height: var(--customIconHeight);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
  }
}

/* Custom icons container */

.featured-icons {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--customIconHeight));
  margin-bottom: calc(var(--pxSize) / 2);

  &__icon {
    display: flex;
    flex-direction: column;
    gap: calc(var(--customIconHeight) / 3);
    align-items: center;
    text-align: center;

    span {
      margin: 0;
    }

    svg {
      width: var(--customIconHeight);
      height: var(--customIconHeight);
    }
  }

  &.__layout {
    &-row {
      .featured-icons {
        &__icon {
          flex-direction: row;
          text-align: left;
        }
      }
    }

    &-icon-only {
      .featured-icons {
        &__icon {
          span {
            display: none;
          }
        }
      }
    }
  }
}
