.dialog {
  --margin: 20px;
  --width: 750px;

  &__summary {
    &__close {
      display: grid;
      opacity: 0;
      will-change: opacity;
      transition: opacity ease 0s;
      position: fixed;
      height: var(--navHeight);
      width: var(--navHeight);
      z-index: 3;
      top: 0;
      place-content: center;

      svg {
        will-change: transform;
        transition: all 0.25s ease;
        height: 20px;
        width: auto;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: fixed;
    z-index: 2;
    background-color: RGB(var(--color-background));
    border: 1px solid RGB(var(--color-border));
    box-shadow: 5px 5px 10px 0 RGBA(var(--color-text) / 0.1);

    &__header,
    &__footer {
      flex-grow: 0;
      flex-shrink: 0;
      padding: calc(var(--pxSize) / 2);
    }

    &__header {
      border-bottom: 1px solid RGB(var(--color-border));
    }

    &__body {
      flex-grow: 1;
      padding: 0 calc(var(--pxSize) / 4);
      margin-bottom: min(150px, 50vh);
    }
  }

  &[open] {
    .dialog {
      &__summary {
        &:before {
          all: unset;
          content: "";
          position: fixed;
          z-index: 2;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          cursor: default;
          background-color: RGBA(var(--color-text) / 0.1);
        }

        &__close {
          opacity: 1;
          transition: opacity 0.25s ease 0.25s;

          &:hover {
            cursor: pointer;

            svg {
              transform: scale(1.05);
            }
          }
        }

        // Let .dialog-close handle focus styles when dialog is open
        &:focus {
          outline: none;
        }

        // Browsers that do support and fallback for browsers that don't support `:focus-visible`
        &:focus-visible,
        &:focus {
          .dialog {
            &__summary {
              &__close {
                outline: 1px solid RGB(var(--color-border));
              }
            }
          }
        }

        // Negate fallback if browser supports `:focus-visible`
        &:focus:not(:focus-visible) {
          .dialog {
            &__summary {
              &__close {
                outline: none;
              }
            }
          }
        }
      }
    }
  }

  &.__style {
    &-pop-up {
      .dialog {
        &__content {
          top: var(--pxSize);
          bottom: initial;
          left: 50%;
          max-width: var(--width);
          width: calc(100% - var(--pxSize) * 2);
          transform: translateX(-50%);
          max-height: calc(100% - var(--pxSize) * 2);
        }
      }
    }

    &-left-drawer,
    &-right-drawer {
      .dialog {
        &__content {
          top: 0;
          bottom: 0;
          max-width: 375px;
          width: 375px;
          will-change: transform;
          transition: transform 0.25s ease;
        }
      }

      &[open] {
        .dialog {
          &__content {
            transform: translateX(0);
          }
        }
      }
    }

    &-left-drawer {
      .dialog {
        &__content {
          left: 0;
          transform: translateX(-100%);
        }

        &__summary {
          &__close {
            left: 0;
          }
        }
      }
    }

    &-right-drawer {
      .dialog {
        &__content {
          right: 0;
          transform: translateX(100%);
        }

        &__summary {
          &__close {
            right: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    &[open] {
      .dialog {
        &__summary {
          &__close {
            transform: none;
            left: 10px;
          }
        }
      }
    }

    &.__style {
      &-pop-up,
      &-left-drawer,
      &-right-drawer {
        .dialog {
          &__content {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            min-height: 375px;
            max-width: none;
            width: auto;
          }
        }
      }
    }
  }
}
