.disclosure {
  --expandableContentIconWidth: 0.75rem;

  //Styles used on all types of disclosures
  &__summary {
    position: relative;
    cursor: pointer;

    span {
      pointer-events: none;
    }
  }

  // Include this modifier when we want a clickable overlay to display when its open
  &.__with-overlay {
    &[open] > summary:before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100vw;
      cursor: default;
    }
  }

  &.__style {
    // The style where the height doesn't change and the content is absolute
    &-dropdown-traditional,
    &-dropdown-button {
      position: relative; // from sarter styles

      .disclosure {
        &__content {
          //from starter
          background-color: RGBA(var(--color-background));
          border: 1px solid RGBA(var(--color-border));
          box-shadow: 5px 5px 10px 0 RGB(var(--color-text) / 0.1);
          position: absolute;
          left: 0;
          z-index: 500;

          input {
            display: none;
          }

          &.__content-top {
            bottom: 100%;
          }
        }
      }
    }

    &-dropdown-traditional,
    &-dropdown-button {
      .disclosure {
        &__content {
          min-width: 200px;
          max-height: 350px;
          overflow-y: auto;

          ul {
            margin: 0;

            li {
              display: block;

              &:not(:first-child) {
                border-top: 1px solid RGB(var(--color-border));
              }

              a,
              label {
                display: block;
                padding: var(--expandableContentIconWidth);
                width: 100%;
                height: auto;
                cursor: pointer;

                &:after {
                  content: none;
                }
              }

              a.current,
              input:checked + label {
                opacity: 0.8;

                &:before {
                  content: "- ";
                }
              }
            }
          }
        }
      }
    }

    &-dropdown-button,
    &-default,
    &-blank-button {
      //the plus sign made out of pseudo elements
      .disclosure {
        &__summary {
          &:before,
          &:after {
            content: "";
            width: var(--expandableContentIconWidth);
            height: 1px;
            background: RGB(var(--color-text));
            position: absolute;
            right: 0;
            top: 50%;
          }

          &:after {
            will-change: transform;
            transition: transform 0.25s ease;
            transform: rotate(90deg);
          }
        }
      }

      &[open] {
        .disclosure {
          &__summary {
            &:after {
              transform: none;
            }
          }
        }
      }
    }

    &-dropdown-traditional {
      border: 1px solid RGB(var(--color-border));

      .disclosure {
        &__summary {
          padding: 0 var(--expandableContentIconWidth);
          height: var(--inputHeight);
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            margin: 0;
          }

          &:after {
            content: "\25BE";
          }
        }

        &__content {
          width: 100%;
        }
      }

      &[open] {
        .disclosure {
          &__summary {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    // The style where the height grows when open
    &-default {
      border-top: 1px solid RGB(var(--color-border));
      border-bottom: 1px solid RGB(var(--color-border));

      //only show top border on first one, so they don't double up
      + .disclosure {
        border-top: none;
      }

      .disclosure {
        &__summary,
        &__content {
          padding: calc(var(--pxSize) / 4) 0;
        }

        &__summary {
          padding-right: calc(var(--expandableContentIconWidth) * 2);
        }
      }
    }

    &-dropdown-button,
    &-blank-button {
      .disclosure {
        &__summary {
          margin-top: 0;
          padding-right: calc(var(--expandableContentIconWidth) * 3);

          span {
            margin: 0;
          }

          &:before,
          &:after {
            background: RGB(var(--color-foreground-text));
            right: var(--expandableContentIconWidth);
          }
        }
      }
    }
  }
}
