.newsletter-signup,
.password-form {
  form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--maxWidth);
    margin: 0 auto;
  }

  small {
    flex: 0 0 100%;
    margin-bottom: 1rem;
  }

  label {
    display: none;
  }

  button {
    margin-left: calc(var(--pxSize) / 6);

    svg {
      transform: scaleX(-1);

      * {
        fill: RGB(var(--color-foreground-text));
      }
    }
  }

  &.__style-bold {
    form:not(.__no-form-styles) {
      input[type="email"],
      input[type="password"] {
        background-color: RGB(var(--color-foreground));
        color: RGB(var(--color-foreground-text));
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border: none;
        flex: 1;

        &::placeholder {
          color: RGB(var(--color-foreground-text));
        }

        &:focus-visible ~ button {
          outline: 3px solid RGBA(var(--color-foreground) / 1);
          outline-offset: 0;
        }

        /* Fallback for browsers that don't support `:focus-visible` */
        &:focus ~ button {
          outline: 3px solid RGBA(var(--color-foreground) / 1);
          outline-offset: 0;
        }

        /* Negate fallback if browser supports `:focus-visible` */
        &:focus:not(:focus-visible) ~ button {
          outline: none;
        }
      }

      button {
        --svgWidth: calc(var(--inputHeight) / 2.5);
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin-left: 0;
        height: var(--inputHeight);
        line-height: var(--inputHeight);
        padding: 0 calc(var(--btnHeight) / 2);

        svg {
          width: var(--svgWidth);
          height: auto;
          transform: scaleX(-1);
        }

        &:has(svg) {
          padding-left: var(--svgWidth);
          padding-right: var(--svgWidth);
        }
      }
    }
  }
}
