@import "../utilities/mixins";

.overlay-nav {
  padding-top: var(--navHeight);

  &__plain-link,
  &__disclosure.disclosure.__style-default .disclosure__summary {
    display: block;
    padding-top: calc(var(--pxSize) / 2.5);
    padding-bottom: calc(var(--pxSize) / 2.5);

    span {
      @include p-lg;
      margin: 0;
    }

    &:hover {
      span {
        opacity: 0.6;
      }
    }
  }

  &__plain-link,
  &__disclosure.disclosure.__style-default {
    border-bottom: 1px solid RGB(var(--color-border));
    border-top: none;
  }

  &__disclosure.disclosure.__style-default {
    .disclosure__content {
      display: flex;
      flex-direction: column;
      gap: calc(var(--pxSize) / 1.5);
      padding: 0 0 0 calc(var(--pxSize) / 2);

      .p-lg,
      a.p-sm {
        display: block;
        padding: calc(var(--pxSize) / 5) 0;
        margin: 0;
      }

      .p-lg {
        @include p;
        font-weight: 600;
      }

      a.p-sm,
      a.__featured-page {
        &:hover {
          opacity: 0.6;
        }
      }
    }

    .overlay-nav {
      &__disclosure {
        &__block {
          &:last-child {
            margin-bottom: calc(var(--pxSize) / 2);
          }

          &.__featured-page {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto 1fr;
            gap: 0 calc(var(--pxSize) / 3);

            > *:not(.overlay-nav__disclosure__block__image) {
              grid-column: 2 / 3;
              margin: 0;

              *:last-child {
                margin: 0;
              }
            }
          }

          &__image {
            padding-top: 100%;
            grid-row: 1 / 3;
          }
        }
      }
    }
  }
}
