.disclosure-content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid RGB(var(--color-text));
  border-top: none;
  background: RGB(var(--color-background));
  padding: 1rem;
  z-index: 4;

  form.product-form .product-form__row {
    margin-bottom: 0;
  }
}

.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;

  a {
    position: absolute;
    inset: 0;
    z-index: 3;
  }

  &__quick-add-btn {
    position: relative;
    z-index: 4;
    width: 100%;

    .disclosure {
      background: RGBA(var(--color-background) / 0);
      box-shadow: 5px 5px 10px 0 RGBA(var(--color-text) / 0);

      &__content {
        @extend .disclosure-content;
      }

      &__summary {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        will-change: transform;
        transition: transform 0.25s ease;
        padding-top: 1rem;

        .btn {
          margin: 0;
          padding-left: 0;
          padding-right: calc(var(--expandableContentIconWidth) * 4) !important;

          &::before,
          &:after {
            right: calc(var(--expandableContentIconWidth) * 1.5) !important;
          }
        }
      }

      &[open] {
        border: 1px solid RGB(var(--color-text));
        border-bottom: none;
        background: RGB(var(--color-background));

        .disclosure {
          &__summary {
            transform: scale(0.9);

            //rotate plus sign into negative
            .btn:after {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  &__image {
    z-index: 1;
    margin-bottom: 0.25rem;

    img,
    svg {
      transform: scale(1);
      will-change: transform;
      transition: all 0.25s ease;
    }
  }

  &__phrase {
    right: 10%;
    top: 0;
    transform: rotate(var(--productPhraseTilt));
    z-index: 2;

    + * {
      margin-top: 3rem;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.25rem 1rem;
    margin-bottom: 1rem;
    grid-row: 2 / 3;
    z-index: 4;

    .price {
      display: inline-flex;
      gap: 1rem;
      margin: 0;
    }

    * {
      margin: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0;

    > * {
      margin-bottom: 0;
    }
  }

  &.__include-bg {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;

    &:before {
      content: "";
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: var(--productColor);
    }

    .product-card {
      &__phrase {
        top: 1rem;

        + * {
          margin-top: 0;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;

    img,
    svg {
      transform: scale(1.05);
    }

    .product-card__image img:first-of-type {
      z-index: 2;
    }
  }
}

.product-card-relocated-dosclosure-content {
  @extend .disclosure-content;
}
