@import "../utilities/mixins";
@import "../snippets/variant-picker";

form.product-form {
  > *:last-child {
    margin-bottom: calc(var(--pxSize) / 4);
  }

  //get super specific so overwriting form feidl styles isn't miserable
  .product-form {
    &__row,
    &__column {
      display: flex;
      gap: calc(var(--pxSize) / 5);
    }

    &__column {
      flex-direction: column;
    }

    &__row {
      margin-bottom: calc(var(--pxSize) / 4);
      flex-wrap: wrap;

      &.__include-border {
        padding-bottom: calc(var(--pxSize) / 4);
        margin-bottom: calc(var(--pxSize) / 4);
        border-bottom: 1px solid RGBA(var(--color-border));
      }
    }

    &__add-to-cart {
      flex: 1;
    }
  }

  .shopify-payment-button {
    &__button {
      border-radius: var(--btnBorderRadius);

      &--unbranded {
        background-color: transparent;
        color: RGB(var(--color-text));
        border: 1px solid RGB(var(--color-text));

        &:hover:not([disabled]) {
          background-color: RGB(var(--color-text));
          color: RGB(var(--color-background));
        }
      }

      + .shopify-payment-button__button--hidden {
        /* Physically hide visually hidden dynamic buttons */
        display: none;
      }
    }

    &__more-options {
      all: unset;
      @include textLink;
      cursor: pointer;
      position: relative;
      margin: 1rem auto 0 auto;

      &:hover {
        text-decoration: none;
      }
    }
  }

  button {
    margin: 0;
    justify-content: center;
    width: 100%;
  }
}
