.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;

  a {
    position: absolute;
    inset: 0;
    z-index: 3;
    display: none; //TO remove after restyle
  }

  &__image,
  &__desc,
  &__bottom-price {
    grid-column: 1 / -1;
  }

  &__quick-add-btn {
    grid-column: 2 / 3;

    .btn {
      padding-left: 0;
      padding-right: calc(var(--expandableContentIconWidth) * 4) !important;

      &::before,
      &:after {
        right: calc(var(--expandableContentIconWidth) * 1.5) !important;
      }
    }
  }

  &__image {
    margin-bottom: calc(var(--btnHeight) / 2);
    z-index: 1;

    img,
    svg {
      transform: scale(1);
      will-change: transform;
      transition: all 0.25s ease;
    }
  }

  &__quick-add-btn.__modal {
    position: relative;
    height: calc(var(--btnHeight) / 4);
    z-index: 3;
    text-align: center;
    display: flex;
    justify-content: center;

    &__btn {
      margin: 0;
      transform: translateY(-100%);
    }
  }

  &__phrase {
    right: 10%;
    top: 0;
    transform: rotate(var(--productPhraseTilt));
    z-index: 2;

    + * {
      margin-top: 3rem;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    z-index: 1;
    gap: 0.25rem 1rem;
    margin-bottom: 1rem;

    .price {
      display: inline-flex;
      gap: 1rem;
      margin: 0;
    }

    * {
      margin: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0;

    * {
      margin-bottom: 0;
    }
  }

  &.__include-bg {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;

    &:before {
      content: "";
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: var(--productColor);
    }

    .product-card {
      &__phrase {
        top: 1rem;

        + * {
          margin-top: 0;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;

    img,
    svg {
      transform: scale(1.05);
    }

    .product-card__image img:first-of-type {
      z-index: 2;
    }
  }
}
