.quick-product {
  --color-foreground: var(--color-text);
  --color-foreground-text: var(--color-background);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--pxSize) / 6) calc(var(--pxSize) / 3);

  > * {
    margin: 0;
  }

  &__image {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
      width: 100%;
    }
  }

  &__title,
  &__btn,
  &__variants {
    grid-column: 2 / 4;
  }

  &__btn {
    .btn {
      margin: 0;
      width: auto;
      flex: unset !important;
    }
  }

  &.__style-stacked {
    display: flex;
    flex-direction: column;
  }
}
