.variant-picker {
  //fieldsets inside radios for variant picker
  &__fieldset {
    margin: 0;

    &__label {
      margin-bottom: 0.5rem;

      span {
        display: block;
      }
    }

    &__input {
      &:checked + label {
        --valueHoverColor: RGBA(var(--color-foreground) / 1);
        color: RGB(var(--color-foreground-text));
      }

      &:focus + label {
        transform: scale(1.1);
      }
    }

    &__value {
      --valueMinWidth: 70px;
      --valueHoverColor: RGBA(var(--color-foreground) / 0);
      display: inline-block;
      border-radius: 100%;
      cursor: pointer;
      position: relative;
      min-width: 70px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      will-change: transform;
      transition: transform 0.25s ease;

      &__text {
        position: relative;
        padding: calc(var(--pxSize) / 6) calc(var(--pxSize) / 4);
        z-index: 2;
        height: 100%;
        display: block;
        margin: 0;
      }

      span:not(.p-sm) {
        display: block;
        position: absolute;
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        bottom: 0;
        background-color: var(--valueHoverColor);
        width: max(0px, calc(100% - var(--valueMinWidth)));
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: min(100%, var(--valueMinWidth));
      }

      &:before {
        left: 0;
        border-top-left-radius: 100%;
        background: linear-gradient(
          to right,
          var(--valueHoverColor) 50%,
          RGBA(var(--color-foreground) / 0) 50%
        );
        border-bottom-left-radius: 100%;
      }

      &:after {
        right: 0;
        background: linear-gradient(
          to left,
          var(--valueHoverColor) 50%,
          RGBA(var(--color-foreground) / 0) 50%
        );
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
      }

      &:hover {
        --valueHoverColor: RGBA(var(--color-foreground) / 0.2);
      }
    }
  }

  //dropdowns for variant picker
  &__dropdown {
    &__label {
      display: block;
      margin-bottom: 0.5rem;
    }

    &__select {
      width: 100%;
      margin-bottom: 0.5rem;
      border: 1px solid RGBA(var(--color-border));
    }
  }
}
