.variant-picker {
  //fieldsets inside radios for variant picker
  &__fieldset {
    margin: 0;

    &__label {
      margin-bottom: 0.5rem;

      span {
        display: block;
      }
    }

    &__input {
      &:checked + label {
        background-color: RGB(var(--color-foreground));
        color: RGB(var(--color-foreground-text));
      }

      &:focus + label {
        transform: scale(1.1);
      }
    }

    &__value {
      --valueMinWidth: 70px;
      display: inline-block;
      border-radius: 100%;
      cursor: pointer;
      position: relative;
      min-width: 70px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      will-change: transform;
      transition: transform 0.25s ease;
      border-radius: var(--btnBorderRadius);

      &__text {
        position: relative;
        padding: calc(var(--pxSize) / 6) calc(var(--pxSize) / 4);
        z-index: 2;
        height: 100%;
        display: block;
        margin: 0;
      }

      &:hover {
        background-color: RGB(var(--color-foreground));
        color: RGB(var(--color-foreground-text));
      }
    }
  }

  //dropdowns for variant picker
  &__dropdown {
    &__label {
      display: block;
      margin-bottom: 0.5rem;
    }

    &__select {
      width: 100%;
      margin-bottom: 0.5rem;
      border: 1px solid RGBA(var(--color-border));
    }
  }
}
