h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: 0.06rem;
  color: var(--color-foreground);
  line-height: 1.15;
  word-break: break-word;
  margin: 0 0 1rem 0;
}

h1,
.h1 {
  font-size: calc(4rem * var(--font-heading-scale));
  font-weight: 900;

  @media (max-width: 1024px) {
    font-size: calc(2.6rem * var(--font-heading-scale));
  }

  @media (max-width: 676px) {
    font-size: calc(2.25rem * var(--font-heading-scale));
  }
}

h2,
.h2 {
  font-size: calc(3rem * var(--font-heading-scale));
  font-weight: 900;

  @media (max-width: 1024px) {
    font-size: calc(2rem * var(--font-heading-scale));
  }

  @media (max-width: 676px) {
    font-size: calc(1.5rem * var(--font-heading-scale));
  }
}

h3,
.h3 {
  font-size: calc(3rem * var(--font-heading-scale));
  font-weight: 500;

  @media (max-width: 1024px) {
    font-size: calc(2rem * var(--font-heading-scale));
  }

  @media (max-width: 676px) {
    font-size: calc(1.5rem * var(--font-heading-scale));
  }
}

h4,
.h4 {
  font-size: calc(2.25rem * var(--font-heading-scale));

  @media (max-width: 1024px) {
    font-size: calc(1.75rem * var(--font-heading-scale));
  }

  @media (max-width: 676px) {
    font-size: calc(1.25rem * var(--font-heading-scale));
  }
}

h5,
.h5 {
  font-size: calc(1.75rem * var(--font-heading-scale));

  @media (max-width: 1024px) {
    font-size: calc(1.65rem * var(--font-heading-scale));
  }

  @media (max-width: 676px) {
    font-size: calc(1.25rem * var(--font-heading-scale));
  }
}

h6,
.h6 {
  font-size: calc(1.3125rem * var(--font-heading-scale));

  @media (max-width: 1024px) {
    font-size: calc(1.3rem * var(--font-heading-scale));
  }

  @media (max-width: 676px) {
    font-size: calc(1.2rem * var(--font-heading-scale));
  }
}

p,
.p,
.p-sm,
.p-lg {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  margin: 0 0 1rem 0;
}

p,
.p {
  font-size: calc(1.125rem * var(--font-body-scale));
}

.p-sm,
.p-sm > p {
  font-size: calc(1rem * var(--font-heading-scale));
}

.p-lg,
.p-lg > p {
  font-size: calc(1.375rem * var(--font-heading-scale));

  @media (max-width: 1024px) {
    font-size: calc(1.2rem * var(--font-heading-scale));
  }
}

.caption,
.caption-sm,
.caption-lg {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  letter-spacing: 0.06rem;
}

.caption {
  font-size: calc(1.125rem * var(--font-heading-scale));
}

.caption-sm {
  font-size: calc(0.75rem * var(--font-heading-scale));
}

.caption-lg {
  font-weight: 700;
  font-size: calc(1.3125rem * var(--font-heading-scale));
}

a {
  color: var(--color-foreground);
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.__article-txt,
.__article-txt-p-sm {
  h1 {
    font-size: calc(2.25rem * var(--font-heading-scale));
  }

  h2 {
    font-size: calc(1.75rem * var(--font-heading-scale));
  }

  h3 {
    font-size: calc(1.31rem * var(--font-heading-scale));
  }

  h4 {
    font-size: calc(1.125rem * var(--font-heading-scale));
  }

  h5 {
    font-size: calc(1rem * var(--font-heading-scale));
  }

  h6 {
    font-size: calc(0.9rem * var(--font-heading-scale));
  }

  a {
    position: relative;
    color: var(--color-foreground);
    opacity: 1;
    will-change: opacity;
    transition: all 0.25s ease;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: var(--color-foreground);
      transform: scale(1);
      will-change: transform;
      transition: all 0.25s ease;
    }

    &:hover {
      opacity: 0.8;

      &:after {
        transform: scale(1.1, 1.5);
      }
    }
  }

  blockquote,
  blockquote p {
    padding-left: 0;
    font-style: italic;
    font-size: calc(1rem * var(--font-heading-scale));
    font-weight: 600;
    padding-left: 1.5rem;
    position: relative;
    width: fit-content;

    &::before {
      content: '"';
    }

    &::after {
      content: '"';
    }
  }

  ul,
  ol {
    line-height: 28px;
    margin-left: calc(var(--pxSize) / 4);
    margin-bottom: 1rem;

    li {
      font-size: calc(0.9rem * var(--font-heading-scale));
    }
  }

  ul {
    li {
      list-style: inside;
    }
  }

  ol {
    padding-inline-start: 15px;

    li {
      list-style: revert;
    }
  }
}

.__article-txt-p-lg,
.__article-txt.p-lg {
  p {
    font-size: calc(1.375rem * var(--font-heading-scale));

    @media (max-width: 1024px) {
      font-size: calc(1.2rem * var(--font-heading-scale));
    }
  }
}

.__article-txt-p-sm,
.__article-txt.p-sm {
  p {
    font-size: calc(0.875rem * var(--font-heading-scale));
  }
}
