// --------------------------------------------------
// Colors

:root,
.__theme-default {
  /*
  --color-background: rgba(var(--color-background));
  --color-background-alt: rgba(var(--color-background-alt));
  --color-text: rgba(var(--color-text));
  --color-foreground: rgba(var(--color-foreground));
  --color-foreground-text: rgba(var(--color-foreground-text));
  --color-border: rgba(var(--color-border));
  */
}

.__btn-clr-something {
  /*
  --color-btn: rgba(var(--color-background));
  --color-btn-txt: rgba(var(--color-background));
  --color-btn-hover: rgba(var(--color-background));
  --color-btn-hover-txt: rgba(var(--color-background));
  */
}

// Sizing

:root {
  --pxSize: 50px;
  --vwSize: 2vw;

  --sectionVerticalSpacing: 100px;
  --sectionHorizontalSpacing: calc(var(--vwSize) * 6);
  --sectionHorizontalBump: calc(var(--vwSize) * 1.5);

  --topSpacingRatio: 1;
  --bottomSpacingRatio: 1;
  --overlayOpacity: 0.5;

  --navHeight: 75px;
  --inputHeight: 48px;
  --btnHeight: 48px;

  --stickyElementTransition: transformY(0);

  @media (max-width: 1024px) {
    --pxSize: 40px;
    --vwSize: 1.6vw;

    --sectionVerticalSpacing: 70px;
    --sectionHorizontalSpacing: calc(var(--vwSize) * 3);
    --sectionHorizontalBump: 0px;

    --navHeight: 65px;
    --inputHeight: 48px;
    --btnHeight: 48px;
  }

  @media (max-width: 676px) {
    --pxSize: 30px;
    --vwSize: 1.2vw;

    --sectionVerticalSpacing: 50px;
    --sectionHorizontalSpacing: 25px;
    --sectionHorizontalBump: 0px;

    --navHeight: 60px;
    --inputHeight: 45px;
    --btnHeight: 45px;
  }
}
