// --------------------------------------------------
// Colors

.__theme-primary {
  --color-background: var(--color-background-default);
  --color-text: var(--color-text-default);
  --color-foreground: var(--color-foreground-default);
  --color-foreground-text: var(--color-foreground-text-default);
  --color-border: var(--color-border-default);
}

.__btn-clr-primary {
  --color-foreground: RGB(var(--color-background));
  --color-foreground-text: RGB(var(--color-text));
}

.__theme-2 {
  --color-background: var(--color-background-2);
  --color-text: var(--color-text-2);
  --color-foreground: var(--color-foreground-2);
  --color-foreground-text: var(--color-foreground-text-2);
  --color-border: var(--color-border-2);
}

.__btn-clr-2 {
  --color-foreground: var(--color-background-2);
  --color-foreground-text: var(--color-text-2);
}

.__theme-3 {
  --color-background: var(--color-background-3);
  --color-text: var(--color-text-3);
  --color-foreground: var(--color-foreground-3);
  --color-foreground-text: var(--color-foreground-text-3);
  --color-border: var(--color-border-3);
}

.__btn-clr-3 {
  --color-foreground: var(--color-background-3);
  --color-foreground-text: var(--color-text-3);
}

.__theme-4 {
  --color-background: var(--color-background-4);
  --color-text: var(--color-text-4);
  --color-foreground: var(--color-foreground-4);
  --color-foreground-text: var(--color-foreground-text-4);
  --color-border: var(--color-border-4);
}

.__btn-clr-4 {
  --color-foreground: var(--color-background-4);
  --color-foreground-text: var(--color-text-4);
}

.__theme-5 {
  --color-background: var(--color-background-5);
  --color-text: var(--color-text-5);
  --color-foreground: var(--color-foreground-5);
  --color-foreground-text: var(--color-foreground-text-5);
  --color-border: var(--color-border-5);
}

.__btn-clr-5 {
  --color-foreground: var(--color-background-5);
  --color-foreground-text: var(--color-text-5);
}

// Sizing

:root {
  --pxSize: 50px;
  --vwSize: 2vw;

  --sectionVerticalSpacing: 100px;
  --sectionGuttersSpacing: calc(var(--vwSize) * 5.5);

  --topSpacingRatio: 1;
  --bottomSpacingRatio: 1;
  --overlayOpacity: 0.5;

  --navHeight: 75px;
  --inputHeight: 48px;
  --arrowBtnHeight: calc(var(--pxSize) * 4 / 5);
  --customIconHeight: var(var(--pxSize));

  --stickyElementTransition: transformY(0);
  --maxWidth: 750px;
  --siteMaxWidth: 1680px;

  @media (min-width: 1680px) {
    --vwSize: calc(var(--siteMaxWidth) * 0.02);
  }

  @media (max-width: 1024px) {
    --pxSize: 40px;
    --vwSize: 1.6vw;

    --sectionVerticalSpacing: 70px;
    --sectionGuttersSpacing: calc(var(--vwSize) * 3);

    --navHeight: 65px;
    --inputHeight: 48px;
  }

  @media (max-width: 676px) {
    --pxSize: 30px;
    --vwSize: 1.2vw;

    --sectionVerticalSpacing: 65px;
    --sectionGuttersSpacing: 20px;

    --navHeight: 60px;
    --inputHeight: 45px;
  }
}
