// --------------------------------------------------
// Colors

.__theme-primary {
  --color-background: var(--color-background-default);
  --color-text: var(--color-text-default);
  --color-foreground: var(--color-foreground-default);
  --color-foreground-text: var(--color-foreground-text-default);
  --color-border: var(--color-border-default);
}

.__btn-clr-primary {
  --color-foreground: var(--color-background);
  --color-foreground-text: var(--color-text);
}

.__theme-secondary {
  --color-background: var(--color-background-2);
  --color-text: var(--color-text-2);
  --color-foreground: var(--color-foreground-2);
  --color-foreground-text: var(--color-foreground-text-2);
  --color-border: var(--color-border-2);
}

.__btn-clr-secondary {
  --color-foreground: var(--color-background-2);
  --color-foreground-text: var(--color-text-2);
}

.__theme-tertiary {
  --color-background: var(--color-background-3);
  --color-text: var(--color-text-3);
  --color-foreground: var(--color-foreground-3);
  --color-foreground-text: var(--color-foreground-text-3);
  --color-border: var(--color-border-3);
}

.__btn-clr-tertiary {
  --color-foreground: var(--color-background-3);
  --color-foreground-text: var(--color-text-3);
}

// Sizing

:root {
  --pxSize: 50px;
  --vwSize: 2vw;

  --sectionVerticalSpacing: 100px;
  --sectionHorizontalSpacing: calc(var(--vwSize) * 6);
  --sectionHorizontalBump: calc(var(--vwSize) * 1.5);

  --topSpacingRatio: 1;
  --bottomSpacingRatio: 1;
  --overlayOpacity: 0.5;

  --navHeight: 75px;
  --inputHeight: 48px;
  --btnHeight: 48px;

  --stickyElementTransition: transformY(0);

  @media (max-width: 1024px) {
    --pxSize: 40px;
    --vwSize: 1.6vw;

    --sectionVerticalSpacing: 70px;
    --sectionHorizontalSpacing: calc(var(--vwSize) * 3);
    --sectionHorizontalBump: 0px;

    --navHeight: 65px;
    --inputHeight: 48px;
    --btnHeight: 48px;
  }

  @media (max-width: 676px) {
    --pxSize: 30px;
    --vwSize: 1.2vw;

    --sectionVerticalSpacing: 50px;
    --sectionHorizontalSpacing: 25px;
    --sectionHorizontalBump: 0px;

    --navHeight: 60px;
    --inputHeight: 45px;
    --btnHeight: 45px;
  }
}
