.__align {
  &-center {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    > *,
    p {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-left {
    text-align: left;
    align-items: flex-start;
    margin-right: auto;

    > *,
    p {
      justify-content: flex-start;
      margin-right: auto;
    }
  }

  &-right {
    text-align: right;
    align-items: flex-end;
    margin-left: auto;

    > *,
    p {
      justify-content: flex-end;
      margin-left: auto;
    }
  }
}

.image-container {
  position: relative;
  overflow: hidden;

  img,
  svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.__crop {
  &-default {
    padding-top: var(--imageRatio);
  }

  &-circle,
  &-square,
  &-rounded-square {
    padding-top: 100%;
  }

  &-landscape,
  &-semicircle-landscape,
  &-rounded-landscape {
    padding-top: 66.66%;
  }

  &-wide,
  &-rounded-wide,
  &-semicircle-wide {
    padding-top: 30%;
  }

  &-portrait,
  &-rounded-portrait,
  &-semicircle-portrait,
  &-arch {
    padding-top: 133.33%;
  }

  &-circle,
  &-semicircle,
  &-semicircle-portrait,
  &-semicircle-landscape,
  &-semicircle-wide {
    border-radius: 4000px;

    &:after,
    img {
      border-radius: 4000px;
    }
  }

  &-rounded,
  &-rounded-square,
  &-rounded-portrait,
  &-rounded-landscape,
  &-rounded-wide {
    border-radius: calc(var(--vwSize) * 2);

    &:after,
    img {
      border-radius: var(--vwSize);
    }
  }

  &-arch {
    border-top-left-radius: 4000px;
    border-top-right-radius: 4000px;

    &:after,
    img {
      border-top-left-radius: 4000px;
      border-top-right-radius: 4000px;
    }
  }
}
