{% comment %}
  Pass all settings to the image-banner snippet so other section's can use its styles too
{% endcomment %}

{% capture section_id %}Image-banner-{{ section.id }}{% endcapture %}

{% capture text_content %}
  {% if section.blocks.size > 0 %}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
          {% comment %} Type Heading {% endcomment %}
        {%- when 'heading' -%}
          {% if section.settings.hero == true %}
            {% assign heading_tag = "h1" %}
          {% endif %}

          {% render 'heading',
            class: 'image-banner',
            heading_tag: heading_tag,
            heading: block.settings.heading,
            heading_size: block.settings.heading_size
          %}

          {% comment %} Type Text {% endcomment %}
        {%- when 'text' -%}
          <div class="image-banner__text __article-txt">{{ block.settings.text }}</div>

          {% comment %} Type Button {% endcomment %}
        {%- when 'button' -%}
          {% render 'button',
            class: 'image-banner',
            button_label: block.settings.button_label,
            button_link: block.settings.button_link,
            button_color: block.settings.button_color
          %}
      {%- endcase -%}
    {%- endfor -%}
  {% endif %}
{% endcapture %}

{%- if section.settings.image != blank -%}
  {% assign section_image = section.settings.image %}
{%- endif -%}

{% render 'image-banner',
  top_spacing: section.settings.top_spacing,
  bottom_spacing: section.settings.bottom_spacing,
  top_internal_spacing: section.settings.top_internal_spacing,
  bottom_internal_spacing: section.settings.bottom_internal_spacing,
  overlay: section.settings.overlay,
  section_id: section_id,
  theme: section.settings.theme,
  crop_shape: section.settings.crop_shape,
  overlay_theme: section.settings.overlay_theme,
  alignment: section.settings.alignment,
  text_content: text_content,
  image: section_image,
  hero: section.settings.hero
%}

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "range",
      "id": "overlay",
      "label": "t:sections.image-banner.settings.overlay_opacity.label",
      "info": "t:sections.image-banner.settings.overlay_opacity.info",
      "min": 0,
      "max": 70,
      "step": 10,
      "unit": "%",
      "default": 50
    },
    {
      "type": "select",
      "id": "overlay_theme",
      "info": "t:sections.image-banner.settings.overlay_theme.info",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.image-banner.settings.overlay_theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.image-banner.settings.overlay_theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.image-banner.settings.overlay_theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.image-banner.settings.overlay_theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.image-banner.settings.overlay_theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.image-banner.settings.overlay_theme.label"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_10"
        },
        {
          "value": "wide",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_11"
        },
        {
          "value": "rounded-wide",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_12"
        },
        {
          "value": "semicircle-wide",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_13"
        },
        {
          "value": "arch",
          "label": "t:sections.image-banner.settings.crop_shape.options.label_14"
        }
      ],
      "default": "default",
      "label": "t:sections.image-banner.settings.crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header_2.label"
    },
    {
      "type": "checkbox",
      "id": "hero",
      "label": "t:sections.image-banner.settings.hero.label",
      "info": "t:sections.image-banner.settings.hero.info"
    },
    {
      "type": "radio",
      "id": "alignment",
      "label": "t:sections.image-banner.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.alignment.options.label_3"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header_3.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.image-banner.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.image-banner.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.image-banner.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.image-banner.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.image-banner.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.image-banner.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_internal_spacing",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.top_internal_spacing.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "bottom_internal_spacing",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.bottom_internal_spacing.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.top_spacing.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.bottom_spacing.label",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Lorem ipsum dolor sit",
          "label": "t:sections.image-banner.blocks.heading.settings.header"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options.label_1"
            },
            {
              "value": "h4",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options.label_2"
            },
            {
              "value": "h5",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options.label_3"
            },
            {
              "value": "h6",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options.label_4"
            }
          ],
          "default": "h2",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
          "label": "t:sections.image-banner.blocks.text.settings.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-banner.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Laboris Nisi",
          "label": "t:sections.image-banner.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-banner.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "t:sections.image-banner.blocks.button.settings.button_color.label",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "t:sections.image-banner.blocks.button.settings.button_color.options.label_1"
            },
            {
              "value": "primary",
              "label": "t:sections.image-banner.blocks.button.settings.button_color.options.label_2"
            },
            {
              "value": "2",
              "label": "t:sections.image-banner.blocks.button.settings.button_color.options.label_3"
            },
            {
              "value": "3",
              "label": "t:sections.image-banner.blocks.button.settings.button_color.options.label_4"
            },
            {
              "value": "4",
              "label": "t:sections.image-banner.blocks.button.settings.button_color.options.label_5"
            },
            {
              "value": "5",
              "label": "t:sections.image-banner.blocks.button.settings.button_color.options.label_6"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
