.breadcrumbs {
  margin: 0 0 var(--pxSize); }
  .breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline; }
  .breadcrumbs__item {
    margin: 0;
    display: flex;
    margin-right: calc(var(--pxSize) / 3);
    align-items: center; }
    .breadcrumbs__item:not(:last-child):after {
      content: "";
      height: calc(var(--pxSize) / 6);
      width: calc(var(--pxSize) / 6);
      transform: rotate(45deg);
      border-top: 1px solid RGB(var(--color-text)/0.5);
      border-right: 1px solid RGB(var(--color-text)/0.5);
      margin: 0;
      display: block; }
  .breadcrumbs__link {
    opacity: 0.5;
    margin-right: calc(var(--pxSize) / 4); }
    .breadcrumbs__link:hover {
      opacity: 1; }
    .breadcrumbs__link[aria-current="page"] {
      opacity: 1; }
      .breadcrumbs__link[aria-current="page"]:hover, .breadcrumbs__link[aria-current="page"]:focus {
        opacity: 0.5; }
