.collection-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .collection-card__image {
    position: relative;
    overflow: hidden;
    padding-top: 125%;
    margin-bottom: 1rem;
    width: 100%;
    background: RGBA(var(--color-text)/0.1); }
    .collection-card__image h3 {
      padding: 1rem; }
    .collection-card__image img,
    .collection-card__image svg {
      transform: scale(1);
      will-change: transform;
      transition: all 0.25s ease; }
  .collection-card:hover {
    cursor: pointer; }
    .collection-card:hover img,
    .collection-card:hover svg {
      transform: scale(1.05); }
