.disclosure {
  --expandableContentIconWidth: 0.75rem; }
  .disclosure__summary {
    position: relative;
    cursor: pointer; }
    .disclosure__summary span {
      pointer-events: none; }
  .disclosure.__with-overlay[open] > summary:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    cursor: default; }
  .disclosure.__style-dropdown-traditional, .disclosure.__style-dropdown-button {
    position: relative; }
    .disclosure.__style-dropdown-traditional .disclosure__content, .disclosure.__style-dropdown-button .disclosure__content {
      background-color: RGBA(var(--color-background));
      border: 1px solid RGBA(var(--color-border));
      box-shadow: 5px 5px 10px 0 RGB(var(--color-text)/0.1);
      position: absolute;
      left: 0;
      z-index: 500; }
      .disclosure.__style-dropdown-traditional .disclosure__content input, .disclosure.__style-dropdown-button .disclosure__content input {
        display: none; }
      .disclosure.__style-dropdown-traditional .disclosure__content.__content-top, .disclosure.__style-dropdown-button .disclosure__content.__content-top {
        bottom: 100%; }
  .disclosure.__style-dropdown-traditional .disclosure__content, .disclosure.__style-dropdown-button .disclosure__content {
    min-width: 200px;
    max-height: 350px;
    overflow-y: auto; }
    .disclosure.__style-dropdown-traditional .disclosure__content ul, .disclosure.__style-dropdown-button .disclosure__content ul {
      margin: 0; }
      .disclosure.__style-dropdown-traditional .disclosure__content ul li, .disclosure.__style-dropdown-button .disclosure__content ul li {
        display: block; }
        .disclosure.__style-dropdown-traditional .disclosure__content ul li:not(:first-child), .disclosure.__style-dropdown-button .disclosure__content ul li:not(:first-child) {
          border-top: 1px solid RGB(var(--color-border)); }
        .disclosure.__style-dropdown-traditional .disclosure__content ul li a,
        .disclosure.__style-dropdown-traditional .disclosure__content ul li label, .disclosure.__style-dropdown-button .disclosure__content ul li a,
        .disclosure.__style-dropdown-button .disclosure__content ul li label {
          display: block;
          padding: var(--expandableContentIconWidth);
          width: 100%;
          height: auto;
          cursor: pointer; }
          .disclosure.__style-dropdown-traditional .disclosure__content ul li a:after,
          .disclosure.__style-dropdown-traditional .disclosure__content ul li label:after, .disclosure.__style-dropdown-button .disclosure__content ul li a:after,
          .disclosure.__style-dropdown-button .disclosure__content ul li label:after {
            content: none; }
        .disclosure.__style-dropdown-traditional .disclosure__content ul li a.current,
        .disclosure.__style-dropdown-traditional .disclosure__content ul li input:checked + label, .disclosure.__style-dropdown-button .disclosure__content ul li a.current,
        .disclosure.__style-dropdown-button .disclosure__content ul li input:checked + label {
          opacity: 0.8; }
          .disclosure.__style-dropdown-traditional .disclosure__content ul li a.current:before,
          .disclosure.__style-dropdown-traditional .disclosure__content ul li input:checked + label:before, .disclosure.__style-dropdown-button .disclosure__content ul li a.current:before,
          .disclosure.__style-dropdown-button .disclosure__content ul li input:checked + label:before {
            content: "- "; }
  .disclosure.__style-dropdown-button .disclosure__summary:before, .disclosure.__style-dropdown-button .disclosure__summary:after, .disclosure.__style-default .disclosure__summary:before, .disclosure.__style-default .disclosure__summary:after, .disclosure.__style-blank-button .disclosure__summary:before, .disclosure.__style-blank-button .disclosure__summary:after {
    content: "";
    width: var(--expandableContentIconWidth);
    height: 1px;
    background: RGB(var(--color-text));
    position: absolute;
    right: 0;
    top: 50%; }
  .disclosure.__style-dropdown-button .disclosure__summary:after, .disclosure.__style-default .disclosure__summary:after, .disclosure.__style-blank-button .disclosure__summary:after {
    will-change: transform;
    transition: transform 0.25s ease;
    transform: rotate(90deg); }
  .disclosure.__style-dropdown-button[open] .disclosure__summary:after, .disclosure.__style-default[open] .disclosure__summary:after, .disclosure.__style-blank-button[open] .disclosure__summary:after {
    transform: none; }
  .disclosure.__style-dropdown-traditional {
    border: 1px solid RGB(var(--color-border)); }
    .disclosure.__style-dropdown-traditional .disclosure__summary {
      padding: 0 var(--expandableContentIconWidth);
      height: var(--inputHeight);
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .disclosure.__style-dropdown-traditional .disclosure__summary span {
        margin: 0; }
      .disclosure.__style-dropdown-traditional .disclosure__summary:after {
        content: "\25BE"; }
    .disclosure.__style-dropdown-traditional .disclosure__content {
      width: 100%; }
    .disclosure.__style-dropdown-traditional[open] .disclosure__summary:after {
      transform: rotate(180deg); }
  .disclosure.__style-default {
    border-top: 1px solid RGB(var(--color-border));
    border-bottom: 1px solid RGB(var(--color-border)); }
    .disclosure.__style-default + .disclosure {
      border-top: none; }
    .disclosure.__style-default .disclosure__summary, .disclosure.__style-default .disclosure__content {
      padding: calc(var(--pxSize) / 4) 0; }
    .disclosure.__style-default .disclosure__summary {
      padding-right: calc(var(--expandableContentIconWidth) * 2); }
  .disclosure.__style-dropdown-button .disclosure__summary, .disclosure.__style-blank-button .disclosure__summary {
    margin-top: 0;
    padding-right: calc(var(--expandableContentIconWidth) * 3); }
    .disclosure.__style-dropdown-button .disclosure__summary span, .disclosure.__style-blank-button .disclosure__summary span {
      margin: 0; }
    .disclosure.__style-dropdown-button .disclosure__summary:before, .disclosure.__style-dropdown-button .disclosure__summary:after, .disclosure.__style-blank-button .disclosure__summary:before, .disclosure.__style-blank-button .disclosure__summary:after {
      background: RGB(var(--color-foreground-text));
      right: var(--expandableContentIconWidth); }

/*# sourceMappingURL=disclosure.css.map */
