.gallery {
  --gallerySpaceBase: 0.5vw;
  overflow: hidden; }
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gallerySpaceMultiplier) * var(--gallerySpaceBase)) 0;
    margin-left: calc( calc(var(--gallerySpaceMultiplier) * var(--gallerySpaceBase)) / -2 );
    margin-right: calc( calc(var(--gallerySpaceMultiplier) * var(--gallerySpaceBase)) / -2 );
    width: calc( 100% + calc(var(--gallerySpaceMultiplier) * var(--gallerySpaceBase) * 2) ); }
  .gallery__image {
    flex: 0 0 calc(calc(var(--desktopWidth)) * 100%);
    padding-left: calc( calc(var(--gallerySpaceMultiplier) * var(--gallerySpaceBase)) / 2 );
    padding-right: calc( calc(var(--gallerySpaceMultiplier) * var(--gallerySpaceBase)) / 2 ); }
  .gallery.__style-fullwidth, .gallery.__style-space {
    padding-left: 0;
    padding-right: 0; }
  .gallery.__style-space .gallery__container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: calc( calc(var(--gallerySpaceMultiplier) * var(--gallerySpaceBase)) / 2 );
    padding-right: calc( calc(var(--gallerySpaceMultiplier) * var(--gallerySpaceBase)) / 2 ); }
  @media screen and (max-width: 676px) {
    .gallery__image {
      flex: 0 0 calc(calc(var(--mobileWidth)) * 100%); } }
