.recipient-form {
  /* (2.88[line-height] - 1.6rem) / 2 */
  --recipient-checkbox-margin-top: 0.64rem;
  display: block;
  position: relative;
  max-width: 44rem;
  margin-bottom: 2.5rem; }

.recipient-form .form__message.hidden {
  display: none; }

.recipient-form .recipient-form-field-label--space-between {
  display: flex;
  justify-content: space-between; }

.recipient-form .recipient-checkbox {
  flex-grow: 1;
  font-size: 1.6rem;
  display: flex !important;
  word-break: break-word;
  align-items: flex-start;
  max-width: inherit;
  position: relative;
  cursor: pointer;
  padding: 0 !important; }

.no-js .recipient-checkbox {
  display: none; }

.recipient-form > input[type='checkbox'] {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 0;
  left: 0;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none; }

.recipient-fields .field__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 3.5rem);
  overflow: hidden; }

.recipient-checkbox > svg {
  margin-right: 1.2rem;
  flex-shrink: 0; }

.recipient-form .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0.28rem;
  z-index: 5;
  top: 0.4rem; }

.form__message .icon {
  flex-shrink: 0;
  height: 1.3rem;
  margin-right: 0.5rem;
  width: 1.3rem; }

.recipient-form > input[type='checkbox']:checked + label .icon-checkmark {
  visibility: visible; }

.js .recipient-fields {
  display: none; }

.recipient-fields hr {
  margin: 1.6rem auto; }

.recipient-form > input[type='checkbox']:checked ~ .recipient-fields {
  display: block;
  animation: animateMenuOpen var(--duration-default) ease; }

.recipient-form > input[type='checkbox']:not(:checked, :disabled) ~ .recipient-fields,
.recipient-email-label {
  display: none; }

.js .recipient-email-label.required,
.no-js .recipient-email-label.optional {
  display: inline; }

.recipient-form ul {
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  padding-left: 4.4rem;
  text-align: left; }

.recipient-form ul a {
  display: inline; }

.recipient-form .error-message::first-letter {
  text-transform: capitalize; }
