.site-header {
  --siteHeaderGuttersSpace: calc(var(--pxSize) * 1.5);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 var(--pxSize);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0px 0px auto 0px;
  width: 100%;
  z-index: 999;
  color: RGB(var(--color-text));
  padding-left: var(--siteHeaderGuttersSpace);
  padding-right: var(--siteHeaderGuttersSpace); }
  .site-header.__style-on-scroll {
    transform: translateY(-100%);
    background: RGB(var(--color-background));
    opacity: 0;
    display: none;
    will-change: transform, opacity;
    transition: all 0.25s ease; }
    .site-header.__style-on-scroll.__visible {
      display: grid;
      transform: translateY(0);
      opacity: 1; }
  .site-header.__style-relative {
    position: relative;
    min-height: var(--navHeight); }
    .site-header.__style-relative.__dropdown-open, .site-header.__style-relative.__overlay-open {
      background: RGB(var(--color-background)); }
  .site-header.__style-password {
    background-color: RGB(var(--color-background));
    display: flex;
    position: relative;
    padding-right: var(--siteHeaderGuttersSpace); }
  .site-header.__center-links {
    justify-content: center;
    grid-template-columns: 1fr auto 1fr; }
    .site-header.__center-links .site-header__logo {
      padding-left: 0; }
  .site-header__logo {
    display: flex;
    min-height: var(--navHeight);
    order: 1; }
    .site-header__logo * {
      margin-bottom: 0; }
    .site-header__logo a {
      display: grid;
      place-content: center; }
    .site-header__logo__text {
      display: block;
      font-size: calc(var(--vwSize) * var(--font-heading-scale));
      max-width: calc(var(--maxWidth) / 2);
      overflow-wrap: break-word;
      padding: 0.5rem 0; }
    .site-header__logo img {
      height: calc(calc(var(--navHeight) * 0.6) * var(--logoMultiplier));
      margin: calc(calc(var(--navHeight) * 0.2) * var(--logoMultiplier)) 0;
      width: auto; }
  .site-header__col {
    display: flex;
    gap: 0 var(--pxSize);
    order: 0; }
    .site-header__col + .site-header__col, .site-header__col:last-child {
      order: 2; }
      .site-header__col + .site-header__col .site-header__main, .site-header__col:last-child .site-header__main {
        justify-content: flex-start; }
  .site-header__main {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--pxSize);
    padding: 0.5rem 0;
    flex: 1;
    align-self: stretch;
    min-height: var(--navHeight);
    z-index: 3;
    justify-content: flex-end; }
  .site-header__utility-links {
    position: relative;
    display: flex;
    height: var(--navHeight);
    align-items: center;
    justify-content: flex-end;
    z-index: 4; }
    .site-header__utility-links > a,
    .site-header__utility-links > details > summary {
      min-width: var(--iconMinHeight);
      display: grid;
      place-content: center; }
      .site-header__utility-links > a > svg,
      .site-header__utility-links > details > summary > svg {
        height: var(--iconMinHeight);
        width: auto;
        transform: scale(0.6);
        will-change: transform;
        transition: all ease 0.25s; }
      .site-header__utility-links > a:hover > svg,
      .site-header__utility-links > details > summary:hover > svg {
        transform: scale(0.65); }
    .site-header__utility-links__cart {
      --cartBubbleSize: 17px;
      position: relative; }
      .site-header__utility-links__cart > summary > span {
        position: absolute;
        bottom: 0;
        right: 0;
        height: var(--cartBubbleSize);
        width: var(--cartBubbleSize);
        background-color: RGB(var(--color-foreground));
        color: RGB(var(--color-foreground-text));
        border-radius: 50%;
        text-align: center;
        line-height: var(--cartBubbleSize);
        font-size: 10px;
        font-weight: 600; }
  .site-header__plain-link, .site-header__label {
    margin: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    order: var(--linkOrder);
    z-index: var(--linkOrder); }
  .site-header__plain-link:hover, .site-header__label .disclosure__summary:hover {
    cursor: pointer;
    color: RGB(var(--color-text)/0.6); }
  .site-header__label.disclosure .disclosure__summary {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .site-header__label.disclosure .disclosure__summary:before {
      background: RGBA(var(--color-text)/0.2);
      top: 0; }
    .site-header__label.disclosure .disclosure__summary > * {
      margin: 0; }
    .site-header__label.disclosure .disclosure__summary:after {
      content: "";
      display: block;
      margin-left: calc(var(--pxSize) / 3);
      height: calc(var(--navHeight) / 10);
      width: calc(var(--navHeight) / 10);
      border-right: 1px solid RGB(var(--color-text));
      border-top: 1px solid RGB(var(--color-text));
      transform: rotate(135deg) translate(25%, 25%); }
  .site-header__label.disclosure[open] .disclosure__summary {
    color: RGB(var(--color-text)/0.6); }
    .site-header__label.disclosure[open] .disclosure__summary:after {
      transform: rotate(315deg) translate(-50%, 0%); }
  .site-header__label.disclosure {
    position: static; }
    .site-header__label.disclosure .disclosure__content {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100vw;
      order: var(--linkOrder);
      box-shadow: 5px 5px 10px 0 RGB(var(--color-text)/0.1);
      max-height: 75vh;
      overflow: auto; }
    .site-header__label.disclosure.__with-overlay[open] > summary {
      position: static; }
      .site-header__label.disclosure.__with-overlay[open] > summary:before {
        position: absolute;
        left: 0;
        top: 100%; }
    .site-header__label.disclosure.__skinny {
      position: relative; }
      .site-header__label.disclosure.__skinny[open] {
        z-index: 900; }
        .site-header__label.disclosure.__skinny[open] > summary:before {
          content: none; }
      .site-header__label.disclosure.__skinny .disclosure__content {
        right: unset;
        width: max-content;
        max-width: calc(var(--maxWidth) / 3);
        overflow-wrap: break-word; }
        .site-header__label.disclosure.__skinny .disclosure__content .site-header__dropdown__inner {
          padding: calc(var(--pxSize) / 4) calc(var(--pxSize) / 2);
          flex-direction: column;
          gap: calc(var(--pxSize) / 2); }
        .site-header__label.disclosure.__skinny .disclosure__content .site-header__dropdown__block {
          max-width: unset; }
  .site-header__dropdown__inner {
    position: relative;
    background: RGB(var(--color-background));
    padding: var(--pxSize) var(--siteHeaderGuttersSpace);
    width: 100%;
    display: flex;
    gap: var(--pxSize); }
  .site-header__dropdown__block {
    position: relative;
    z-index: 2;
    max-width: 30%; }
    .site-header__dropdown__block .p-sm {
      font-weight: 600; }
    .site-header__dropdown__block__label {
      font-weight: 900; }
    .site-header__dropdown__block__submenu-list li a {
      display: block;
      margin: 0;
      padding: calc(var(--pxSize) / 5) 0; }
      .site-header__dropdown__block__submenu-list li a:hover {
        color: RGB(var(--color-text)/0.5); }
    .site-header__dropdown__block__submenu-list li:first-of-type {
      margin-top: calc(var(--pxSize) / 5); }
    .site-header__dropdown__block__image {
      padding-top: 60%;
      position: relative;
      overflow: hidden; }
      .site-header__dropdown__block__image img {
        position: absolute;
        inset: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        will-change: transform;
        transition: all 0.25s ease; }
      .site-header__dropdown__block__image + * {
        margin-top: 1rem; }
    .site-header__dropdown__block.__featured-page {
      max-width: 250px;
      flex: 1; }
    .site-header__dropdown__block.__text-block {
      order: -1; }
    .site-header__dropdown__block:hover .site-header__dropdown__block__image img {
      transform: scale(1.05); }
  .site-header__hamburger {
    display: none; }
  .site-header__hamburger.dialog {
    position: relative; }
    .site-header__hamburger.dialog > summary {
      min-width: var(--iconMinHeight);
      display: grid; }
      .site-header__hamburger.dialog > summary > svg {
        height: var(--iconMinHeight);
        width: auto;
        transform: scale(0.45);
        will-change: transform;
        transition: all ease 0.25s; }
    .site-header__hamburger.dialog[open] {
      z-index: 5; }
  @media screen and (max-width: 1200px) {
    .site-header:not(.__style-password) {
      grid-template-columns: 1fr auto 1fr; }
      .site-header:not(.__style-password) .site-header__col {
        display: none; }
        .site-header:not(.__style-password) .site-header__col:has(.site-header__utility-links) {
          display: block; }
          .site-header:not(.__style-password) .site-header__col:has(.site-header__utility-links) .site-header__main {
            display: none; }
      .site-header:not(.__style-password) .site-header__plain-link, .site-header:not(.__style-password) .site-header__label {
        display: none; }
      .site-header:not(.__style-password) .site-header__hamburger.dialog {
        display: block; }
    .site-header__logo {
      --logoMultiplier: 1 !important; }
      .site-header__logo__text {
        font-size: calc(0.9rem * var(--font-heading-scale)); } }
  @media screen and (max-width: 676px) {
    .site-header {
      --siteHeaderGuttersSpace: var(--sectionGuttersSpacing); } }

.no-js .site-header.__style-relative {
  position: fixed;
  background: RGB(var(--color-background)); }
.no-js .site-header__label.disclosure .disclosure__summary:before {
  content: none !important; }

/*# sourceMappingURL=header.css.map */
