.main-article {
  display: grid;
  grid-template-columns: 1fr auto 1fr; }
  .main-article__main-content {
    grid-column: 2 / 3; }
  .main-article__comments-wrapper {
    grid-column: 1 / -1; }
  .main-article__sidebar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding-left: calc(var(--pxSize) / 3); }
    .main-article__sidebar__inner {
      max-height: calc(100vh - calc(var(--navHeight) * 1.5));
      padding-bottom: var(--pxSize);
      padding-top: calc(var(--pxSize) / 2);
      position: sticky;
      -webkit-position: sitcky;
      top: calc(var(--navHeight));
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
    .main-article__sidebar__products {
      display: flex;
      flex-direction: column;
      gap: calc(var(--pxSize));
      margin-bottom: calc(var(--pxSize)); }
      .main-article__sidebar__products__product {
        width: 150px; }
  .main-article__content img, .main-article__main-content {
    max-width: var(--maxWidth);
    width: 100%; }
  .main-article__image {
    grid-row: 1/2;
    grid-column: 1 / -1;
    position: relative; }
    .main-article__image + .main-article__sidebar {
      grid-row: 2 / 3; }
    .main-article__image:after {
      content: "";
      background: RGB(var(--color-background));
      opacity: var(--overlayOpacity);
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none; }
  .main-article__btn {
    margin-top: var(--sectionVerticalSpacing); }
  .main-article__heading.__overlap-true {
    margin-top: calc(var(--pxSize) / -2);
    position: relative;
    z-index: 2; }
  .main-article__content img {
    margin-bottom: 1rem; }
  .main-article__content p img {
    margin-bottom: 0; }
  .main-article__content p {
    max-width: none; }
  .main-article__comments-wrapper__disclaimer {
    margin-top: 1rem; }
  .main-article__comments-wrapper form-state:not(:first-child) form {
    margin-top: var(--sectionVerticalSpacing); }
  @media screen and (max-width: 1024px) {
    .main-article {
      grid-column: 1fr; }
      .main-article__image + .main-article__sidebar {
        grid-row: auto; }
      .main-article__sidebar {
        height: auto;
        padding: 0;
        position: static;
        top: 0px;
        grid-column: 1 / -1;
        grid-row: auto; }
        .main-article__sidebar__inner {
          max-height: none;
          overflow: unset;
          padding: calc(var(--sectionVerticalSpacing) / 2) 0; }
        .main-article__sidebar__products {
          flex-direction: row;
          flex-wrap: wrap; }
          .main-article__sidebar__products__product {
            flex: 1 0 200px;
            max-width: 300px;
            width: 300px; } }
  @media screen and (max-width: 676px) {
    .main-article__sidebar__products__product {
      flex: 1 1 40%; } }
