.main-cart__form > .js-contents {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto auto 1fr;
  gap: var(--pxSize); }
.main-cart__heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0; }
.main-cart__items {
  grid-row: 2 / 3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 1.5rem 1rem; }
.main-cart__label {
  margin: 0;
  padding-bottom: 1rem; }
  .main-cart__label:first-of-type {
    grid-column: 1 / 3;
    position: relative; }
    .main-cart__label:first-of-type:after {
      content: "";
      position: absolute;
      display: block;
      width: calc((5 / 3) * 100%);
      left: 0;
      bottom: 0;
      border-bottom: 1px solid RGB(var(--color-border)); }
.main-cart__line-item__image {
  grid-column: 1 / 2; }
.main-cart__line-item__text {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-cart__line-item__text__price {
    display: flex; }
    .main-cart__line-item__text__price s {
      opacity: 0.6;
      flex-wrap: wrap;
      margin-right: calc(var(--pxSize) / 12); }
  .main-cart__line-item__text__unit-price {
    display: block;
    margin-top: 0.25rem;
    opacity: 0.8; }
  .main-cart__line-item__text__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem; }
    .main-cart__line-item__text__list dt {
      font-weight: 600; }
    .main-cart__line-item__text__list dd:not(:last-child):after {
      content: "/";
      margin-left: 0.25rem; }
  .main-cart__line-item__text > * {
    margin: 0 0 0.75rem 0; }
    .main-cart__line-item__text > * * {
      margin: 0; }
.main-cart__line-item__whole-price__container {
  margin: 0; }
  .main-cart__line-item__whole-price__container dl {
    display: flex;
    flex-wrap: wrap; }
    .main-cart__line-item__whole-price__container dl s {
      opacity: 0.6;
      margin-right: calc(var(--pxSize) / 12); }
  .main-cart__line-item__whole-price__container__unit-price {
    margin-bottom: 0;
    margin-top: 0.25rem;
    opacity: 0.8; }
.main-cart__link {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: right; }
.main-cart__textarea {
  margin-left: 0; }
  .main-cart__textarea textarea {
    margin-bottom: 0; }
.main-cart__footer {
  grid-column: 2 / 3;
  grid-row: 2 / 6; }
  .main-cart__footer > .cart-actions {
    background: RGBA(var(--color-text)/0.05);
    padding: calc(var(--pxSize) / 2); }
    .main-cart__footer > .cart-actions .main-cart__footer__total, .main-cart__footer > .cart-actions .main-cart__footer__discounts ul li {
      display: flex;
      justify-content: space-between;
      gap: calc(var(--pxSize) / 2); }
    .main-cart__footer > .cart-actions .main-cart__footer__fine-print {
      display: block; }
    .main-cart__footer > .cart-actions button {
      width: 100%;
      justify-content: center; }
  .main-cart__footer__messages {
    padding: calc(var(--pxSize) / 2) calc(var(--pxSize) / 2) 0 calc(var(--pxSize) / 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: calc(var(--pxSize) / 2); }
.main-cart li p:first-child {
  display: inline; }
.main-cart.__cart-drawer .main-cart__form > .js-contents {
  display: flex;
  flex-direction: column; }
.main-cart.__cart-drawer .main-cart__link {
  order: 2;
  text-align: center; }
.main-cart.__cart-drawer .main-cart__heading {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid RGB(var(--color-border)); }
.main-cart.__cart-drawer .main-cart__items {
  max-width: var(--maxWidth);
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid RGB(var(--color-border));
  grid-template-columns: 1fr 1.5fr;
  gap: 0 2rem; }
.main-cart.__cart-drawer .main-cart__label {
  display: none; }
.main-cart.__cart-drawer .main-cart__line-item__image {
  grid-row: span 2; }
.main-cart.__cart-drawer .main-cart__line-item__text, .main-cart.__cart-drawer .main-cart__line-item__quantity {
  grid-column: 2 / 3; }
.main-cart.__cart-drawer .main-cart__line-item__whole-price {
  display: none; }
.main-cart.__cart-drawer .main-cart__line-item__quantity, .main-cart.__cart-drawer .main-cart__line-item__image {
  margin-bottom: 1.5rem; }
.main-cart.__cart-drawer .main-cart__textarea {
  margin-left: auto; }
.main-cart.__cart-drawer .main-cart__footer__messages {
  max-width: var(--maxWidth);
  margin: 0 auto; }
  .main-cart.__cart-drawer .main-cart__footer__messages * {
    margin-left: auto;
    margin-right: auto; }
.main-cart.__cart-drawer .main-cart__heading {
  min-height: var(--navHeight);
  line-height: var(--navHeight);
  padding: 0; }
@media screen and (max-width: 1024px) {
  .main-cart .main-cart__form > .js-contents {
    display: flex;
    flex-direction: column; }
  .main-cart .main-cart__link {
    order: 2;
    text-align: center; }
  .main-cart .main-cart__heading {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid RGB(var(--color-border)); }
  .main-cart .main-cart__items {
    max-width: var(--maxWidth);
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid RGB(var(--color-border));
    grid-template-columns: 1fr 1.5fr;
    gap: 0 2rem; }
  .main-cart .main-cart__label {
    display: none; }
  .main-cart .main-cart__line-item__image {
    grid-row: span 2; }
  .main-cart .main-cart__line-item__text, .main-cart .main-cart__line-item__quantity {
    grid-column: 2 / 3; }
  .main-cart .main-cart__line-item__whole-price {
    display: none; }
  .main-cart .main-cart__line-item__quantity, .main-cart .main-cart__line-item__image {
    margin-bottom: 1.5rem; }
  .main-cart .main-cart__textarea {
    margin-left: auto; }
  .main-cart .main-cart__footer__messages {
    max-width: var(--maxWidth);
    margin: 0 auto; }
    .main-cart .main-cart__footer__messages * {
      margin-left: auto;
      margin-right: auto; } }
