.main-password {
  display: flex;
  flex-direction: column;
  padding: 0; }
  .main-password__forms, .main-password__bottom {
    padding-left: calc(var(--pxSize) * 1.5);
    padding-right: calc(var(--pxSize) * 1.5); }
  .main-password__forms {
    flex: 1;
    padding-top: var(--pxSize);
    padding-bottom: var(--pxSize);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-password__forms__btn {
      margin-top: 0; }
    .main-password__forms__newsletter, .main-password__forms__password {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1; }
      .main-password__forms__newsletter > *:not(form), .main-password__forms__password > *:not(form) {
        text-align: center;
        max-width: 350px; }
  .main-password__bottom {
    background: RGB(var(--color-background));
    color: RGB(var(--color-text));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: calc(var(--pxSize) / 3);
    padding-bottom: calc(var(--pxSize) / 3); }
    .main-password__bottom__third {
      display: flex;
      align-items: center;
      margin-bottom: 0; }
      .main-password__bottom__third:first-child {
        grid-column: 1 / 2; }
      .main-password__bottom__third:nth-child(2) {
        grid-column: 2 / 3;
        justify-content: center; }
      .main-password__bottom__third:last-child {
        grid-column: 3 / 4;
        justify-content: flex-end; }
        .main-password__bottom__third:last-child a {
          margin-left: 0.5rem;
          will-change: transform;
          transition: transform 0.25s ease; }
          .main-password__bottom__third:last-child a:hover {
            transform: scale(1.05); }
      .main-password__bottom__third > * {
        margin-bottom: 0; }
      .main-password__bottom__third svg {
        height: calc(var(--pxSize) / 2); }
  .main-password.__full-height {
    min-height: calc(100vh - var(--navHeight)); }
  .main-password.__enable-toggle #form-password {
    display: none; }
    .main-password.__enable-toggle #form-password ~ .__cancel {
      display: none; }
    .main-password.__enable-toggle #form-password:target {
      display: flex; }
      .main-password.__enable-toggle #form-password:target ~ #form-newsletter {
        display: none; }
      .main-password.__enable-toggle #form-password:target ~ .__cancel {
        display: inline-block; }
        .main-password.__enable-toggle #form-password:target ~ .__cancel + a {
          display: none; }
  @media screen and (max-width: 1024px) {
    .main-password__bottom {
      display: flex;
      flex-direction: column;
      gap: calc(var(--pxSize)); }
      .main-password__bottom__third:first-child, .main-password__bottom__third:nth-child(2), .main-password__bottom__third:last-child {
        justify-content: center; } }
  @media screen and (max-width: 676px) {
    .main-password__forms, .main-password__bottom {
      padding-left: var(--sectionGuttersSpacing);
      padding-right: var(--sectionGuttersSpacing); }
    .main-password__bottom {
      padding-top: var(--sectionGuttersSpacing);
      padding-bottom: var(--sectionGuttersSpacing); } }
