.main-product {
  padding: 0;
  background-color: RGB(var(--color-background));
  color: RGB(var(--color-text)); }
  .main-product__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto; }
    .main-product__container.__offset-left {
      grid-template-columns: 0px repeat(2, 1fr); }
      .main-product__container.__offset-left .main-product__blocks-before-media {
        padding: 0; }
        .main-product__container.__offset-left .main-product__blocks-before-media:before {
          width: 25vw;
          right: unset;
          left: 0; }
    .main-product__container.__offset-right {
      grid-template-columns: repeat(2, 1fr) 0px; }
      .main-product__container.__offset-right .main-product__blocks-after-media {
        padding: 0; }
      .main-product__container.__offset-right .main-product__blocks-before-media:before {
        width: 75vw;
        right: unset;
        left: 0; }
    .main-product__container > * {
      padding-top: calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio));
      padding-bottom: calc( var(--sectionVerticalSpacing) * var(--bottomSpacingRatio) );
      position: sticky;
      -webkit-position: sticky;
      top: 0; }
  .main-product__blocks-before-media {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
    color: RGB(var(--color-text));
    min-height: calc(100vh - var(--navHeight)); }
    .main-product__blocks-before-media > * {
      position: relative; }
    .main-product__blocks-before-media:before {
      content: "";
      position: absolute;
      width: 50vw;
      right: -50%;
      top: 0;
      bottom: 0;
      background: RGB(var(--color-background)); }
  .main-product__media {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
    padding-right: calc(var(--sectionGuttersSpacing) / 2);
    z-index: 2; }
  .main-product__blocks-after-media {
    grid-column: 3 / -1;
    padding-right: calc(var(--sectionGuttersSpacing) / 2); }
  .main-product__block {
    display: block; }
    .main-product__block.__border-top {
      border-top: 1px solid RGBA(var(--color-border));
      padding-top: calc(var(--pxSize) / 4); }
  .main-product__media__container a {
    display: block; }
  .main-product__media:not(.__layout-stacked) .main-product__media__container {
    display: grid; }
  .main-product__media:not(.__layout-stacked) .main-product__media__item {
    grid-column: 1 / -1;
    grid-row: 1 / -1; }
    .main-product__media:not(.__layout-stacked) .main-product__media__item:not(:first-child) {
      display: none; }
  .main-product__media:not(.__layout-stacked) .main-product__media__dots {
    display: grid;
    gap: calc(var(--pxSize) / 8) 0;
    grid-template-columns: 1fr repeat(var(--dotsColumns), auto) 1fr;
    justify-content: center;
    margin-top: var(--pxSize);
    align-items: center; }
    .main-product__media:not(.__layout-stacked) .main-product__media__dots__dot.__active {
      opacity: 1; }
      .main-product__media:not(.__layout-stacked) .main-product__media__dots__dot.__active:first-child ~ .main-product__media__dots__prev,
      .main-product__media:not(.__layout-stacked) .main-product__media__dots__dot.__active + .main-product__media__dots__prev
      + .main-product__media__dots__next {
        opacity: 0.5;
        pointer-events: none;
        cursor: auto; }
    .main-product__media:not(.__layout-stacked) .main-product__media__dots__prev, .main-product__media:not(.__layout-stacked) .main-product__media__dots__next {
      background: transparent;
      grid-row: 1/calc(var(--dotsRows) + 1);
      border: none; }
      .main-product__media:not(.__layout-stacked) .main-product__media__dots__prev svg *, .main-product__media:not(.__layout-stacked) .main-product__media__dots__next svg * {
        fill: RGB(var(--color-text)); }
    .main-product__media:not(.__layout-stacked) .main-product__media__dots__prev {
      grid-column: 1 / 2; }
    .main-product__media:not(.__layout-stacked) .main-product__media__dots__next {
      grid-column: -2 / -1;
      margin-left: auto; }
  .main-product__comp-products__label {
    font-weight: 600; }
  .main-product__comp-products__product:not(:last-child) {
    margin-bottom: calc(var(--pxSize) / 4); }
  .main-product__btn.__with-underline {
    margin-top: var(--pxSize); }
  @media screen and (max-width: 676px) {
    .main-product__container {
      display: flex;
      flex-direction: column;
      overflow: hidden; }
    .main-product__media {
      --color-background: var(--mobile-color-background);
      --color-foreground: var(--mobile-color-foreground);
      --color-border: var(--mobile-color-border);
      --color-text: var(--mobile-color-text);
      --color-foreground-text: var(--mobile-color-foreground-text);
      position: relative;
      order: -1;
      padding-top: var(--sectionGuttersSpacing);
      padding-bottom: 0;
      background-color: RGB(var(--color-background)); }
      .main-product__media__container {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: var(--container-padding);
        scroll-padding-right: var(--container-padding);
        padding-top: var(--container-padding);
        padding-bottom: var(--container-padding);
        margin-left: calc(var(--container-padding) * -1);
        margin-right: calc(var(--container-padding) * -1); }
        .main-product__media__container li {
          scroll-snap-align: center;
          max-width: 100%;
          min-width: 100%; }
          .main-product__media__container li:first-child {
            scroll-snap-align: start;
            margin-left: var(--container-padding); }
    .main-product__block.__border-top {
      padding-top: calc(var(--pxSize) / 1.5); }
    .main-product__blocks-before-media {
      min-height: auto; }
      .main-product__blocks-before-media:before {
        width: 100%;
        right: 0;
        bottom: 0;
        top: 0; }
    .main-product__blocks-after-media, .main-product__blocks-before-media, .main-product__media {
      padding-left: var(--sectionGuttersSpacing);
      padding-right: var(--sectionGuttersSpacing); }
    .main-product__blocks-after-media {
      padding-top: var(--pxSize); }
    .main-product__blocks-before-media {
      padding-bottom: var(--pxSize); } }

/* Product model UI */
product-model {
  display: block;
  position: relative; }
  product-model button {
    position: relative;
    width: 100%;
    padding-bottom: calc(var(--height) / var(--width) * 100%);
    border: 0; }
    product-model button img {
      object-fit: cover; }
  product-model button img,
  product-model .shopify-model-viewer-ui,
  product-model .shopify-model-viewer-ui model-viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%; }

.xr-button[data-shopify-xr-hidden] {
  visibility: hidden; }
  @media screen and (min-width: 750px) {
    .xr-button[data-shopify-xr-hidden] {
      display: none; } }

.shopify-design-mode .xr-button[data-shopify-xr-hidden],
.shopify-model-viewer-ui__button[hidden] {
  display: none; }

@media screen and (max-width: 749px) {
  .active .xr-button:not([data-shopify-xr-hidden]) {
    display: block; } }
