.newsletter-signup form,
.password-form form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--maxWidth);
  margin: 0 auto; }
.newsletter-signup small,
.password-form small {
  flex: 0 0 100%;
  margin-bottom: 1rem; }
.newsletter-signup label,
.password-form label {
  display: none; }
.newsletter-signup button,
.password-form button {
  margin-left: calc(var(--pxSize) / 6); }
  .newsletter-signup button svg,
  .password-form button svg {
    transform: scaleX(-1); }
    .newsletter-signup button svg *,
    .password-form button svg * {
      fill: RGB(var(--color-foreground-text)); }
.newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="email"],
.newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="password"],
.password-form.__style-bold form:not(.__no-form-styles) input[type="email"],
.password-form.__style-bold form:not(.__no-form-styles) input[type="password"] {
  background-color: RGB(var(--color-foreground));
  color: RGB(var(--color-foreground-text));
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
  flex: 1;
  /* Fallback for browsers that don't support `:focus-visible` */
  /* Negate fallback if browser supports `:focus-visible` */ }
  .newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="email"]::placeholder,
  .newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="password"]::placeholder,
  .password-form.__style-bold form:not(.__no-form-styles) input[type="email"]::placeholder,
  .password-form.__style-bold form:not(.__no-form-styles) input[type="password"]::placeholder {
    color: RGB(var(--color-foreground-text)); }
  .newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="email"]:focus-visible ~ button,
  .newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="password"]:focus-visible ~ button,
  .password-form.__style-bold form:not(.__no-form-styles) input[type="email"]:focus-visible ~ button,
  .password-form.__style-bold form:not(.__no-form-styles) input[type="password"]:focus-visible ~ button {
    outline: 3px solid RGBA(var(--color-foreground)/1);
    outline-offset: 0; }
  .newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="email"]:focus ~ button,
  .newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="password"]:focus ~ button,
  .password-form.__style-bold form:not(.__no-form-styles) input[type="email"]:focus ~ button,
  .password-form.__style-bold form:not(.__no-form-styles) input[type="password"]:focus ~ button {
    outline: 3px solid RGBA(var(--color-foreground)/1);
    outline-offset: 0; }
  .newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="email"]:focus:not(:focus-visible) ~ button,
  .newsletter-signup.__style-bold form:not(.__no-form-styles) input[type="password"]:focus:not(:focus-visible) ~ button,
  .password-form.__style-bold form:not(.__no-form-styles) input[type="email"]:focus:not(:focus-visible) ~ button,
  .password-form.__style-bold form:not(.__no-form-styles) input[type="password"]:focus:not(:focus-visible) ~ button {
    outline: none; }
.newsletter-signup.__style-bold form:not(.__no-form-styles) button,
.password-form.__style-bold form:not(.__no-form-styles) button {
  --svgWidth: calc(var(--inputHeight) / 2.5);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 0;
  height: var(--inputHeight);
  line-height: var(--inputHeight);
  padding: 0 calc(var(--btnHeight) / 2); }
  .newsletter-signup.__style-bold form:not(.__no-form-styles) button svg,
  .password-form.__style-bold form:not(.__no-form-styles) button svg {
    width: var(--svgWidth);
    height: auto;
    transform: scaleX(-1); }
  .newsletter-signup.__style-bold form:not(.__no-form-styles) button:has(svg),
  .password-form.__style-bold form:not(.__no-form-styles) button:has(svg) {
    padding-left: var(--svgWidth);
    padding-right: var(--svgWidth); }

/*# sourceMappingURL=newsletter-signup-and-password-form.css.map */
