.variant-picker__fieldset {
  margin: 0; }
  .variant-picker__fieldset__label {
    margin-bottom: 0.5rem; }
    .variant-picker__fieldset__label span {
      display: block; }
  .variant-picker__fieldset__input:checked + label {
    background-color: RGB(var(--color-foreground));
    color: RGB(var(--color-foreground-text)); }
  .variant-picker__fieldset__input:focus + label {
    transform: scale(1.1); }
  .variant-picker__fieldset__value {
    --valueMinWidth: 70px;
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    min-width: 70px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    will-change: transform;
    transition: transform 0.25s ease;
    border-radius: var(--btnBorderRadius); }
    .variant-picker__fieldset__value__text {
      position: relative;
      padding: calc(var(--pxSize) / 6) calc(var(--pxSize) / 4);
      z-index: 2;
      height: 100%;
      display: block;
      margin: 0; }
    .variant-picker__fieldset__value:hover {
      background-color: RGB(var(--color-foreground));
      color: RGB(var(--color-foreground-text)); }
.variant-picker__dropdown__label {
  display: block;
  margin-bottom: 0.5rem; }
.variant-picker__dropdown__select {
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid RGBA(var(--color-border)); }

form.product-form > *:last-child {
  margin-bottom: calc(var(--pxSize) / 4); }
form.product-form .product-form__row, form.product-form .product-form__column {
  display: flex;
  gap: calc(var(--pxSize) / 5); }
form.product-form .product-form__column {
  flex-direction: column; }
form.product-form .product-form__row {
  margin-bottom: calc(var(--pxSize) / 4);
  flex-wrap: wrap; }
  form.product-form .product-form__row.__include-border {
    padding-bottom: calc(var(--pxSize) / 4);
    margin-bottom: calc(var(--pxSize) / 4);
    border-bottom: 1px solid RGBA(var(--color-border)); }
form.product-form .product-form__add-to-cart {
  flex: 1; }
form.product-form .shopify-payment-button__button {
  border-radius: var(--btnBorderRadius); }
  form.product-form .shopify-payment-button__button--unbranded {
    background-color: transparent;
    color: RGB(var(--color-text));
    border: 1px solid RGB(var(--color-text)); }
    form.product-form .shopify-payment-button__button--unbranded:hover:not([disabled]) {
      background-color: RGB(var(--color-text));
      color: RGB(var(--color-background)); }
  form.product-form .shopify-payment-button__button + .shopify-payment-button__button--hidden {
    /* Physically hide visually hidden dynamic buttons */
    display: none; }
form.product-form .shopify-payment-button__more-options {
  letter-spacing: var(--font-body-spacing);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: 1.4;
  margin: 0 0 1rem 0;
  font-size: calc(0.9rem * var(--font-body-scale));
  position: relative;
  color: RGB(var(--color-text));
  opacity: 1;
  will-change: opacity;
  transition: all 0.25s ease;
  height: unset;
  display: inline;
  text-align: left;
  width: fit-content;
  padding: 0;
  text-transform: none;
  cursor: pointer;
  position: relative;
  margin: 1rem 0; }
  form.product-form .shopify-payment-button__more-options:is(p) {
    max-width: 400px; }
  form.product-form .shopify-payment-button__more-options:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: RGB(var(--color-text));
    transform: scale(1);
    will-change: transform;
    transition: all 0.25s ease; }
  form.product-form .shopify-payment-button__more-options:hover {
    opacity: 0.8; }
    form.product-form .shopify-payment-button__more-options:hover:after {
      transform: scale(1.1, 1.5); }
  form.product-form .shopify-payment-button__more-options:hover {
    text-decoration: none; }
form.product-form button {
  margin: 0;
  justify-content: center;
  width: 100%; }

/*# sourceMappingURL=product-form.css.map */
