.product-card,
.product-card-relocated-disclosure-content {
  --spaceBeneathImage: 1.25rem;
  --disclosureButtonHeight: 2rem; }

.disclosure-styles, .product-card__quick-add-btn .disclosure, .product-card-relocated-disclosure-content {
  z-index: 4; }
  .disclosure-styles[open], .product-card__quick-add-btn [open].disclosure, [open].product-card-relocated-disclosure-content {
    box-shadow: 5px 5px 10px 0 RGBA(var(--color-text)/0.1);
    background: RGB(var(--color-background));
    padding: 1rem;
    margin: 0 -1rem;
    transform: translateY(-1rem); }
    .disclosure-styles[open] .disclosure__summary .btn:after, .product-card__quick-add-btn [open].disclosure .disclosure__summary .btn:after, [open].product-card-relocated-disclosure-content .disclosure__summary .btn:after {
      transform: rotate(180deg); }
  .disclosure-styles.__align-center .disclosure__summary, .product-card__quick-add-btn .__align-center.disclosure .disclosure__summary, .__align-center.product-card-relocated-disclosure-content .disclosure__summary {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: calc( calc( var(--spaceBeneathImage) + calc(var(--disclosureButtonHeight) / 2) ) * -1 ); }
  .disclosure-styles.__align-center form.product-form .product-form__row, .product-card__quick-add-btn .__align-center.disclosure form.product-form .product-form__row, .__align-center.product-card-relocated-disclosure-content form.product-form .product-form__row {
    justify-content: center; }
  .disclosure-styles.__align-right .disclosure__summary, .product-card__quick-add-btn .__align-right.disclosure .disclosure__summary, .__align-right.product-card-relocated-disclosure-content .disclosure__summary {
    flex-direction: row-reverse; }
  .disclosure-styles.__align-right form.product-form .product-form__row, .product-card__quick-add-btn .__align-right.disclosure form.product-form .product-form__row, .__align-right.product-card-relocated-disclosure-content form.product-form .product-form__row {
    justify-content: flex-end; }
  .disclosure-styles .disclosure__content form.product-form .product-form__row, .product-card__quick-add-btn .disclosure .disclosure__content form.product-form .product-form__row, .product-card-relocated-disclosure-content .disclosure__content form.product-form .product-form__row {
    margin-bottom: 0; }
  .disclosure-styles .disclosure__summary, .product-card__quick-add-btn .disclosure .disclosure__summary, .product-card-relocated-disclosure-content .disclosure__summary {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    will-change: transform;
    transition: transform 0.25s ease; }
    .disclosure-styles .disclosure__summary .btn, .product-card__quick-add-btn .disclosure .disclosure__summary .btn, .product-card-relocated-disclosure-content .disclosure__summary .btn {
      --btnHeight: var(--disclosureButtonHeight);
      --expandableContentIconWidth: calc(var(--btnHeight) / 4);
      margin: 0;
      padding-left: 0;
      padding-right: calc(var(--expandableContentIconWidth) * 4) !important; }
      .disclosure-styles .disclosure__summary .btn::before, .product-card__quick-add-btn .disclosure .disclosure__summary .btn::before, .product-card-relocated-disclosure-content .disclosure__summary .btn::before, .disclosure-styles .disclosure__summary .btn:after, .product-card__quick-add-btn .disclosure .disclosure__summary .btn:after, .product-card-relocated-disclosure-content .disclosure__summary .btn:after {
        right: calc(var(--expandableContentIconWidth) * 1.5) !important; }

.product-card {
  position: relative; }
  .product-card a {
    position: absolute;
    inset: 0;
    z-index: 3; }
  .product-card__quick-add-btn {
    position: relative;
    display: block;
    z-index: 4;
    width: 100%; }
    .product-card__quick-add-btn .disclosure {
      position: static; }
  .product-card__image {
    z-index: 1;
    margin-bottom: var(--spaceBeneathImage); }
    .product-card__image img,
    .product-card__image svg {
      transform: scale(1);
      will-change: transform;
      transition: all 0.25s ease; }
  .product-card__phrase {
    right: 10%;
    top: 0;
    transform: rotate(var(--productPhraseTilt));
    z-index: 2; }
    .product-card__phrase + * {
      margin-top: 3rem; }
  .product-card__row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.25rem 1rem;
    margin-bottom: 1rem;
    z-index: 4; }
    .product-card__row .price {
      display: inline-flex;
      gap: 1rem;
      margin: 0; }
    .product-card__row * {
      margin: 0; }
  .product-card > *:last-child {
    margin-bottom: 0; }
    .product-card > *:last-child > * {
      margin-bottom: 0; }
  .product-card.__include-bg {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem; }
    .product-card.__include-bg:before {
      content: "";
      padding-top: var(--bgRatio);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: var(--productColor); }
    .product-card.__include-bg .product-card__phrase {
      top: 1rem; }
      .product-card.__include-bg .product-card__phrase + * {
        margin-top: 0; }
  .product-card:hover {
    cursor: pointer; }
    .product-card:hover img,
    .product-card:hover svg {
      transform: scale(1.05); }
    .product-card:hover .product-card__image img:first-of-type {
      z-index: 2; }

.product-card-relocated-disclosure-content {
  position: absolute; }
