.shop-the-look {
  padding-left: 0;
  padding-right: 0; }
  .shop-the-look__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative; }
  .shop-the-look__center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .shop-the-look__image, .shop-the-look__products {
    position: relative;
    z-index: 1;
    max-width: 50vw; }
  .shop-the-look__image {
    position: relative; }
    .shop-the-look__image img,
    .shop-the-look__image svg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .shop-the-look__dots {
    position: absolute !important;
    inset: 0; }
    .shop-the-look__dots .flickity-viewport {
      height: 100% !important; }
      .shop-the-look__dots .flickity-viewport .flickity-slider {
        transform: none !important; }
    .shop-the-look__dots__dot {
      padding: calc(var(--pxSize) / 4);
      position: absolute;
      border-radius: 50%;
      border-width: calc(var(--pxSize) / 4);
      border-style: solid;
      -webkit-background-clip: padding-box;
      /* for Safari */
      background-clip: padding-box;
      will-change: padding, border-width;
      transition: all 0.25s ease;
      cursor: pointer;
      transform: translate(-50%, -50%) !important;
      left: var(--shopTheLookDotleft) !important;
      top: var(--shopTheLookDotTop) !important; }
      .shop-the-look__dots__dot.is-selected, .shop-the-look__dots__dot:hover {
        border-width: calc(var(--pxSize) / 8);
        padding: calc(var(--pxSize) / 2.66); }
  .shop-the-look__products {
    margin: var(--pxSize) 0; }
    .shop-the-look__products__product {
      width: 60%;
      padding-left: var(--pxSize);
      flex: 0 0 60%; }
    .shop-the-look__products:not(.flickity-enabled) {
      display: flex;
      overflow: auto; }
  .shop-the-look__background-color {
    z-index: 0;
    pointer-events: none;
    position: absolute !important;
    inset: 0; }
    .shop-the-look__background-color .flickity-viewport {
      height: 100% !important; }
    .shop-the-look__background-color .flickity-slider {
      transform: translateX(0) !important; }
    .shop-the-look__background-color__item {
      width: 100%;
      height: 100%;
      transition: opacity 0.4s;
      opacity: 0;
      transform: translateX(0) !important; }
      .shop-the-look__background-color__item.is-selected {
        opacity: 1; }
  @media screen and (max-width: 676px) {
    .shop-the-look__inner {
      display: block; }
    .shop-the-look__image, .shop-the-look__products {
      max-width: 100%; }
    .shop-the-look__products__product {
      width: 85%; }
    .shop-the-look .flickity-button {
      display: none; } }
