@charset "UTF-8";
:root {
  --pxSize: 50px;
  --vwSize: 2vw;
  --sectionVerticalSpacing: 100px;
  --sectionGuttersSpacing: calc(var(--vwSize) * 5.5);
  --topSpacingRatio: 1;
  --bottomSpacingRatio: 1;
  --overlayOpacity: 0.5;
  --inputHeight: 48px;
  --customIconHeight: var(var(--pxSize));
  --expandableContentIconWidth: 0.75rem;
  --stickyElementTransition: transformY(0);
  --maxWidth: 750px;
  --siteMaxWidth: 1680px;
  --navHeight: 75px; }
  @media (min-width: 1680px) {
    :root {
      --vwSize: calc(var(--siteMaxWidth) * 0.02); } }
  @media (max-width: 1024px) {
    :root {
      --pxSize: 40px;
      --vwSize: 1.6vw;
      --sectionVerticalSpacing: 70px;
      --sectionGuttersSpacing: calc(var(--vwSize) * 3);
      --navHeight: 65px;
      --inputHeight: 48px; } }
  @media (max-width: 676px) {
    :root {
      --pxSize: 30px;
      --vwSize: 1.2vw;
      --sectionVerticalSpacing: 65px;
      --sectionGuttersSpacing: 20px;
      --navHeight: 60px;
      --inputHeight: 45px; } }

h1,
.h1,
.h1 > p {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: RGB(var(--color-text));
  line-height: 1.15;
  letter-spacing: var(--font-heading-spacing);
  word-break: break-word;
  margin: 0 0 1rem 0;
  font-size: calc(4rem * var(--font-heading-scale)); }
  h1.alt,
  .h1.alt,
  .h1 > p.alt {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight); }
  @media (max-width: 1024px) {
    h1,
    .h1,
    .h1 > p {
      font-size: calc(2.6rem * var(--font-heading-scale)); } }
  @media (max-width: 676px) {
    h1,
    .h1,
    .h1 > p {
      font-size: calc(2.25rem * var(--font-heading-scale)); } }

h2,
.h2,
.h2 > p {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: RGB(var(--color-text));
  line-height: 1.15;
  letter-spacing: var(--font-heading-spacing);
  word-break: break-word;
  margin: 0 0 1rem 0;
  font-size: calc(3rem * var(--font-heading-scale)); }
  h2.alt,
  .h2.alt,
  .h2 > p.alt {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight); }
  @media (max-width: 1024px) {
    h2,
    .h2,
    .h2 > p {
      font-size: calc(2rem * var(--font-heading-scale)); } }
  @media (max-width: 676px) {
    h2,
    .h2,
    .h2 > p {
      font-size: calc(1.5rem * var(--font-heading-scale)); } }

h3,
.h3,
.h3 > p {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: RGB(var(--color-text));
  line-height: 1.15;
  letter-spacing: var(--font-heading-spacing);
  word-break: break-word;
  margin: 0 0 1rem 0;
  font-size: calc(3rem * var(--font-heading-scale)); }
  h3.alt,
  .h3.alt,
  .h3 > p.alt {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight); }
  @media (max-width: 1024px) {
    h3,
    .h3,
    .h3 > p {
      font-size: calc(2rem * var(--font-heading-scale)); } }
  @media (max-width: 676px) {
    h3,
    .h3,
    .h3 > p {
      font-size: calc(1.5rem * var(--font-heading-scale)); } }

h4,
.h4,
.h4 > p {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: RGB(var(--color-text));
  line-height: 1.15;
  letter-spacing: var(--font-heading-spacing);
  word-break: break-word;
  margin: 0 0 1rem 0;
  font-size: calc(2.25rem * var(--font-heading-scale)); }
  h4.alt,
  .h4.alt,
  .h4 > p.alt {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight); }
  @media (max-width: 1024px) {
    h4,
    .h4,
    .h4 > p {
      font-size: calc(1.75rem * var(--font-heading-scale)); } }
  @media (max-width: 676px) {
    h4,
    .h4,
    .h4 > p {
      font-size: calc(1.25rem * var(--font-heading-scale)); } }

h5,
.h5,
.h5 > p {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: RGB(var(--color-text));
  line-height: 1.15;
  letter-spacing: var(--font-heading-spacing);
  word-break: break-word;
  margin: 0 0 1rem 0;
  font-size: calc(1.75rem * var(--font-heading-scale)); }
  h5.alt,
  .h5.alt,
  .h5 > p.alt {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight); }
  @media (max-width: 1024px) {
    h5,
    .h5,
    .h5 > p {
      font-size: calc(1.65rem * var(--font-heading-scale)); } }
  @media (max-width: 676px) {
    h5,
    .h5,
    .h5 > p {
      font-size: calc(1.25rem * var(--font-heading-scale)); } }

h6,
.h6,
.h6 > p {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: RGB(var(--color-text));
  line-height: 1.15;
  letter-spacing: var(--font-heading-spacing);
  word-break: break-word;
  margin: 0 0 1rem 0;
  font-size: calc(1.3125rem * var(--font-heading-scale)); }
  h6.alt,
  .h6.alt,
  .h6 > p.alt {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight); }
  @media (max-width: 1024px) {
    h6,
    .h6,
    .h6 > p {
      font-size: calc(1.3rem * var(--font-heading-scale)); } }
  @media (max-width: 676px) {
    h6,
    .h6,
    .h6 > p {
      font-size: calc(1.2rem * var(--font-heading-scale)); } }

p a {
  position: relative;
  color: RGB(var(--color-text));
  opacity: 1;
  will-change: opacity;
  transition: all 0.25s ease; }
  p a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: RGB(var(--color-text));
    transform: scale(1);
    will-change: transform;
    transition: all 0.25s ease; }
  p a:hover {
    opacity: 0.8; }
    p a:hover:after {
      transform: scale(1.1, 1.5); }

p,
.p {
  letter-spacing: var(--font-body-spacing);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: 1.4;
  margin: 0 0 1rem 0;
  font-size: calc(1.125rem * var(--font-body-scale)); }
  p:is(p),
  .p:is(p) {
    max-width: 500px; }

.p-sm,
.p-sm > p {
  letter-spacing: var(--font-body-spacing);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: 1.4;
  margin: 0 0 1rem 0;
  font-size: calc(0.9rem * var(--font-body-scale)); }
  .p-sm:is(p),
  .p-sm > p:is(p) {
    max-width: 400px; }

.p-lg,
.p-lg > p {
  letter-spacing: var(--font-body-spacing);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: 1.4;
  margin: 0 0 1rem 0;
  max-width: 700px;
  font-size: calc(1.375rem * var(--font-body-scale)); }
  .p-lg:is(p),
  .p-lg > p:is(p) {
    max-width: 600px; }
  @media (max-width: 1024px) {
    .p-lg,
    .p-lg > p {
      font-size: calc(1.2rem * var(--font-body-scale)); } }

a {
  color: RGB(var(--color-text));
  text-decoration: none; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

em,
i {
  font-style: italic; }

.txt-link {
  position: relative;
  color: RGB(var(--color-text));
  opacity: 1;
  will-change: opacity;
  transition: all 0.25s ease; }
  .txt-link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: RGB(var(--color-text));
    transform: scale(1);
    will-change: transform;
    transition: all 0.25s ease; }
  .txt-link:hover {
    opacity: 0.8; }
    .txt-link:hover:after {
      transform: scale(1.1, 1.5); }

.__article-txt h1, .rte h1,
.__article-txt-p h1,
.__article-txt-p-sm h1,
.__article-txt-p-lg h1 {
  font-size: calc(2.25rem * var(--font-heading-scale)); }
.__article-txt h2, .rte h2,
.__article-txt-p h2,
.__article-txt-p-sm h2,
.__article-txt-p-lg h2 {
  font-size: calc(1.75rem * var(--font-heading-scale)); }
.__article-txt h3, .rte h3,
.__article-txt-p h3,
.__article-txt-p-sm h3,
.__article-txt-p-lg h3 {
  font-size: calc(1.31rem * var(--font-heading-scale)); }
.__article-txt h4, .rte h4,
.__article-txt-p h4,
.__article-txt-p-sm h4,
.__article-txt-p-lg h4 {
  font-size: calc(1.125rem * var(--font-heading-scale)); }
.__article-txt h5, .rte h5,
.__article-txt-p h5,
.__article-txt-p-sm h5,
.__article-txt-p-lg h5 {
  font-size: calc(1rem * var(--font-heading-scale)); }
.__article-txt h6, .rte h6,
.__article-txt-p h6,
.__article-txt-p-sm h6,
.__article-txt-p-lg h6 {
  font-size: calc(0.9rem * var(--font-heading-scale)); }
.__article-txt a, .rte a,
.__article-txt-p a,
.__article-txt-p-sm a,
.__article-txt-p-lg a {
  position: relative;
  color: RGB(var(--color-text));
  opacity: 1;
  will-change: opacity;
  transition: all 0.25s ease; }
  .__article-txt a:after, .rte a:after,
  .__article-txt-p a:after,
  .__article-txt-p-sm a:after,
  .__article-txt-p-lg a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: RGB(var(--color-text));
    transform: scale(1);
    will-change: transform;
    transition: all 0.25s ease; }
  .__article-txt a:hover, .rte a:hover,
  .__article-txt-p a:hover,
  .__article-txt-p-sm a:hover,
  .__article-txt-p-lg a:hover {
    opacity: 0.8; }
    .__article-txt a:hover:after, .rte a:hover:after,
    .__article-txt-p a:hover:after,
    .__article-txt-p-sm a:hover:after,
    .__article-txt-p-lg a:hover:after {
      transform: scale(1.1, 1.5); }
.__article-txt blockquote, .rte blockquote,
.__article-txt blockquote p,
.rte blockquote p,
.__article-txt-p blockquote,
.__article-txt-p blockquote p,
.__article-txt-p-sm blockquote,
.__article-txt-p-sm blockquote p,
.__article-txt-p-lg blockquote,
.__article-txt-p-lg blockquote p {
  padding-left: 0;
  font-style: italic;
  font-size: calc(1rem * var(--font-body-scale));
  font-weight: 600;
  padding-left: 1.5rem;
  position: relative;
  width: fit-content; }
  .__article-txt blockquote::before, .rte blockquote::before,
  .__article-txt blockquote p::before,
  .rte blockquote p::before,
  .__article-txt-p blockquote::before,
  .__article-txt-p blockquote p::before,
  .__article-txt-p-sm blockquote::before,
  .__article-txt-p-sm blockquote p::before,
  .__article-txt-p-lg blockquote::before,
  .__article-txt-p-lg blockquote p::before {
    content: '"'; }
  .__article-txt blockquote::after, .rte blockquote::after,
  .__article-txt blockquote p::after,
  .rte blockquote p::after,
  .__article-txt-p blockquote::after,
  .__article-txt-p blockquote p::after,
  .__article-txt-p-sm blockquote::after,
  .__article-txt-p-sm blockquote p::after,
  .__article-txt-p-lg blockquote::after,
  .__article-txt-p-lg blockquote p::after {
    content: '"'; }
.__article-txt ul, .rte ul,
.__article-txt ol,
.rte ol,
.__article-txt-p ul,
.__article-txt-p ol,
.__article-txt-p-sm ul,
.__article-txt-p-sm ol,
.__article-txt-p-lg ul,
.__article-txt-p-lg ol {
  line-height: 28px;
  margin-left: calc(var(--pxSize) / 4);
  margin-bottom: 1rem; }
  .__article-txt ul li, .rte ul li,
  .__article-txt ol li,
  .rte ol li,
  .__article-txt-p ul li,
  .__article-txt-p ol li,
  .__article-txt-p-sm ul li,
  .__article-txt-p-sm ol li,
  .__article-txt-p-lg ul li,
  .__article-txt-p-lg ol li {
    font-size: calc(0.9rem * var(--font-body-scale)); }
.__article-txt ul li, .rte ul li,
.__article-txt-p ul li,
.__article-txt-p-sm ul li,
.__article-txt-p-lg ul li {
  list-style: inside; }
.__article-txt ol, .rte ol,
.__article-txt-p ol,
.__article-txt-p-sm ol,
.__article-txt-p-lg ol {
  padding-inline-start: 15px; }
  .__article-txt ol li, .rte ol li,
  .__article-txt-p ol li,
  .__article-txt-p-sm ol li,
  .__article-txt-p-lg ol li {
    list-style: revert; }

.__article-txt-p-lg p,
.__article-txt-p-lg ul li,
.__article-txt-p-lg ol li,
.__article-txt.p-lg p,
.p-lg.rte p,
.__article-txt.p-lg ul li,
.p-lg.rte ul li,
.__article-txt.p-lg ol li,
.p-lg.rte ol li {
  font-size: calc(1.375rem * var(--font-body-scale)); }
  @media (max-width: 1024px) {
    .__article-txt-p-lg p,
    .__article-txt-p-lg ul li,
    .__article-txt-p-lg ol li,
    .__article-txt.p-lg p,
    .p-lg.rte p,
    .__article-txt.p-lg ul li,
    .p-lg.rte ul li,
    .__article-txt.p-lg ol li,
    .p-lg.rte ol li {
      font-size: calc(1.2rem * var(--font-body-scale)); } }

.__article-txt-p-sm p,
.__article-txt-p-sm ul li,
.__article-txt-p-sm ol li,
.__article-txt.p-sm p,
.p-sm.rte p,
.__article-txt.p-sm ul li,
.p-sm.rte ul li,
.__article-txt.p-sm ol li,
.p-sm.rte ol li {
  font-size: calc(0.9rem * var(--font-body-scale)); }

* {
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: inherit; }

*:focus-visible {
  outline: 5px solid RGBA(var(--color-foreground)/0.5);
  outline-offset: 0; }

/* Fallback for browsers that don't support `:focus-visible` */
*:focus {
  outline: 5px solid RGBA(var(--color-foreground)/0.5);
  outline-offset: 0; }

/* Negate fallback if browser supports `:focus-visible` */
*:focus:not(:focus-visible) {
  outline: none; }

body {
  margin: 0; }

dt {
  margin-top: 10px;
  font-weight: bold; }

dd {
  margin-left: 0; }

html.no-js .no-js-hidden {
  display: none !important; }

.visually-hidden {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome, Edge, Opera and Firefox */ }

.skip-to-content-link:focus {
  z-index: 9999;
  position: static;
  clip-path: none;
  width: auto;
  height: auto;
  overflow: visible; }

.container {
  --container-padding: 15px;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding); }

/* Remember to add role="list" to element if this class is applied (for Safari + VO)  */
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

/* Grid */
.grid {
  --grid-columns: 1;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr)); }

@media screen and (min-width: 750px) {
  .grid {
    --grid-columns: 2;
    gap: 2rem; } }
@media screen and (min-width: 990px) {
  .grid {
    --grid-columns: 4; } }
/* Hide marker */
details > summary {
  list-style: none; }

/* Hide marker (webkit) */
details > summary::-webkit-details-marker {
  display: none; }

fieldset {
  padding: 0;
  border: 0; }

/* Tables */
th {
  text-align: left; }

th,
td {
  padding: 10px; }

.media {
  position: relative;
  /* Aspect ratio calculated using variables (can be defined via inline style) */
  padding-bottom: calc(var(--height) / var(--width) * 100%); }

.media > * {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.play-icon::after,
.model-icon::after {
  position: absolute;
  top: 20px;
  left: 20px;
  filter: drop-shadow(0px 0px 2px black);
  pointer-events: none; }

.play-icon::after {
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white; }

.model-icon::after {
  content: attr(data-label);
  padding: 5px;
  background-color: RGB(var(--color-background)); }

.footer {
  border-top: 1px solid RGB(var(--color-border));
  margin-top: 20px; }

.footer .container > * {
  margin-top: 20px;
  margin-bottom: 20px; }

.footer .grid > * {
  align-self: flex-end; }

/* Tables */
table {
  border-collapse: collapse;
  width: 100%; }

table td,
table th {
  border: 1px solid RGB(var(--color-border));
  padding: 20px;
  text-align: start; }

@media screen and (max-width: 749px) {
  .horizontal-scrolling table {
    white-space: nowrap; }

  .horizontal-scrolling {
    overflow-x: auto; } }
.loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem; }

.loading-overlay > div {
  width: 1.8rem;
  display: inline-block; }

.loading-overlay svg {
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }
.loading-overlay circle {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: RGB(var(--color-foreground));
  animation: dash 1.4s ease-in-out infinite; }

@media screen and (forced-colors: active) {
  .loading-overlay circle {
    stroke: CanvasText; } }
@keyframes dash {
  0% {
    stroke-dashoffset: 280; }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg); } }
.hidden {
  visibility: hidden; }

.disable-pointer-events {
  pointer-events: none; }

form:not(.__no-form-styles) button,
form:not(.__no-form-styles) input,
form:not(.__no-form-styles) textarea,
.form-styles button,
.form-styles input,
.form-styles textarea {
  font-family: var(--font-body-family);
  -webkit-appearance: none;
  margin: 0; }
form:not(.__no-form-styles) input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
form:not(.__no-form-styles) select,
.form-styles input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
.form-styles select {
  height: var(--inputHeight);
  padding: 0 calc(var(--inputHeight) / 3); }
form:not(.__no-form-styles) input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
form:not(.__no-form-styles) textarea,
form:not(.__no-form-styles) select,
.form-styles input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
.form-styles textarea,
.form-styles select {
  letter-spacing: var(--font-body-spacing);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: 1.4;
  margin: 0 0 1rem 0;
  font-size: calc(0.9rem * var(--font-body-scale));
  border: 1px solid RGB(var(--color-text));
  background: transparent;
  width: 100%;
  border-radius: var(--btnBorderRadius); }
  form:not(.__no-form-styles) input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):is(p),
  form:not(.__no-form-styles) textarea:is(p),
  form:not(.__no-form-styles) select:is(p),
  .form-styles input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):is(p),
  .form-styles textarea:is(p),
  .form-styles select:is(p) {
    max-width: 400px; }
form:not(.__no-form-styles) input[type="checkbox"],
form:not(.__no-form-styles) input[type="radio"],
.form-styles input[type="checkbox"],
.form-styles input[type="radio"] {
  border: 1px solid RGB(var(--color-text));
  height: calc(var(--inputHeight) / 2);
  width: calc(var(--inputHeight) / 2);
  min-height: calc(var(--inputHeight) / 2);
  min-width: calc(var(--inputHeight) / 2);
  position: relative; }
  form:not(.__no-form-styles) input[type="checkbox"]:checked::after,
  form:not(.__no-form-styles) input[type="radio"]:checked::after,
  .form-styles input[type="checkbox"]:checked::after,
  .form-styles input[type="radio"]:checked::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    position: absolute;
    transform: scale(0.9);
    background-color: RGBA(var(--color-text)/0.65); }
  form:not(.__no-form-styles) input[type="checkbox"] + label,
  form:not(.__no-form-styles) input[type="radio"] + label,
  .form-styles input[type="checkbox"] + label,
  .form-styles input[type="radio"] + label {
    letter-spacing: var(--font-body-spacing);
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    line-height: 1.4;
    margin: 0 0 1rem 0;
    font-size: calc(0.9rem * var(--font-body-scale));
    margin: 0 !important;
    min-height: calc(var(--inputHeight) / 2);
    line-height: calc(var(--inputHeight) / 2);
    padding-left: calc(var(--inputHeight) / 4);
    display: inline-block; }
    form:not(.__no-form-styles) input[type="checkbox"] + label:is(p),
    form:not(.__no-form-styles) input[type="radio"] + label:is(p),
    .form-styles input[type="checkbox"] + label:is(p),
    .form-styles input[type="radio"] + label:is(p) {
      max-width: 400px; }
form:not(.__no-form-styles) input[type="radio"],
.form-styles input[type="radio"] {
  border-radius: 50%; }
  form:not(.__no-form-styles) input[type="radio"]:checked::after,
  .form-styles input[type="radio"]:checked::after {
    border-radius: 50%; }
form:not(.__no-form-styles) textarea,
.form-styles textarea {
  padding: calc(var(--inputHeight) / 3); }
form:not(.__no-form-styles) ::placeholder,
.form-styles ::placeholder {
  color: RGBA(var(--color-text)/0.65);
  opacity: 1; }

.form-styles {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 660px;
  margin: 0 auto; }
  .form-styles__row {
    display: flex; }
  .form-styles label {
    letter-spacing: var(--font-body-spacing);
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    line-height: 1.4;
    margin: 0 0 1rem 0;
    font-size: calc(0.9rem * var(--font-body-scale));
    display: inline-block;
    margin-bottom: 0.5rem !important; }
    .form-styles label:is(p) {
      max-width: 400px; }
  .form-styles button:not(.__style-underline) {
    margin: 2rem auto 0 auto;
    width: 100%;
    justify-content: center;
    max-width: 350px; }
    .form-styles button:not(.__style-underline) + button {
      margin-top: 1rem; }
  .form-styles button.__style-underline {
    align-self: center; }
  .form-styles.__hide-labels-true label {
    display: none; }

.btn,
.button,
button,
.shopify-payment-button__button--unbranded,
.shopify-payment-button__button button,
input[type="submit"] {
  height: var(--btnHeight);
  line-height: var(--btnHeight);
  border-radius: var(--btnBorderRadius);
  background: RGB(var(--color-foreground));
  border: 1px solid RGB(var(--color-foreground));
  color: RGB(var(--color-foreground-text));
  padding: 0 calc(var(--btnHeight) * var(--btnSidesSpace));
  display: flex;
  width: fit-content;
  text-transform: var(--btnTextTransform);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: calc(1rem * var(--font-body-scale));
  letter-spacing: var(--btnSpacing);
  font-weight: 500;
  margin: 1rem 0 0 0;
  align-items: center;
  -webkit-appearance: none; }
  .btn svg *,
  .button svg *,
  button svg *,
  .shopify-payment-button__button--unbranded svg *,
  .shopify-payment-button__button button svg *,
  input[type="submit"] svg * {
    fill: RGB(var(--color-foreground-text)); }
  .btn:before, .btn:after,
  .button:before,
  .button:after,
  button:before,
  button:after,
  .shopify-payment-button__button--unbranded:before,
  .shopify-payment-button__button--unbranded:after,
  .shopify-payment-button__button button:before,
  .shopify-payment-button__button button:after,
  input[type="submit"]:before,
  input[type="submit"]:after {
    background: RGB(var(--color-foreground-text)); }
  .btn:hover:not(:disabled):not([aria-disabled="true"]),
  .button:hover:not(:disabled):not([aria-disabled="true"]),
  button:hover:not(:disabled):not([aria-disabled="true"]),
  .shopify-payment-button__button--unbranded:hover:not(:disabled):not([aria-disabled="true"]),
  .shopify-payment-button__button button:hover:not(:disabled):not([aria-disabled="true"]),
  input[type="submit"]:hover:not(:disabled):not([aria-disabled="true"]) {
    background: RGB(var(--color-foreground-text));
    color: RGB(var(--color-foreground));
    border: 1px solid RGB(var(--color-foreground)); }
    .btn:hover:not(:disabled):not([aria-disabled="true"]) svg *,
    .button:hover:not(:disabled):not([aria-disabled="true"]) svg *,
    button:hover:not(:disabled):not([aria-disabled="true"]) svg *,
    .shopify-payment-button__button--unbranded:hover:not(:disabled):not([aria-disabled="true"]) svg *,
    .shopify-payment-button__button button:hover:not(:disabled):not([aria-disabled="true"]) svg *,
    input[type="submit"]:hover:not(:disabled):not([aria-disabled="true"]) svg * {
      fill: RGB(var(--color-foreground)); }
    .btn:hover:not(:disabled):not([aria-disabled="true"]):before, .btn:hover:not(:disabled):not([aria-disabled="true"]):after,
    .button:hover:not(:disabled):not([aria-disabled="true"]):before,
    .button:hover:not(:disabled):not([aria-disabled="true"]):after,
    button:hover:not(:disabled):not([aria-disabled="true"]):before,
    button:hover:not(:disabled):not([aria-disabled="true"]):after,
    .shopify-payment-button__button--unbranded:hover:not(:disabled):not([aria-disabled="true"]):before,
    .shopify-payment-button__button--unbranded:hover:not(:disabled):not([aria-disabled="true"]):after,
    .shopify-payment-button__button button:hover:not(:disabled):not([aria-disabled="true"]):before,
    .shopify-payment-button__button button:hover:not(:disabled):not([aria-disabled="true"]):after,
    input[type="submit"]:hover:not(:disabled):not([aria-disabled="true"]):before,
    input[type="submit"]:hover:not(:disabled):not([aria-disabled="true"]):after {
      background: RGB(var(--color-foreground)); }
  .btn.__style-secondary,
  .button.__style-secondary,
  button.__style-secondary,
  .shopify-payment-button__button--unbranded.__style-secondary,
  .shopify-payment-button__button button.__style-secondary,
  input[type="submit"].__style-secondary {
    background: RGBA(var(--color-text)/0.05);
    border: 1px solid transparent;
    color: RGB(var(--color-text)); }
    .btn.__style-secondary svg *,
    .button.__style-secondary svg *,
    button.__style-secondary svg *,
    .shopify-payment-button__button--unbranded.__style-secondary svg *,
    .shopify-payment-button__button button.__style-secondary svg *,
    input[type="submit"].__style-secondary svg * {
      fill: RGB(var(--color-text)); }
    .btn.__style-secondary:before, .btn.__style-secondary:after,
    .button.__style-secondary:before,
    .button.__style-secondary:after,
    button.__style-secondary:before,
    button.__style-secondary:after,
    .shopify-payment-button__button--unbranded.__style-secondary:before,
    .shopify-payment-button__button--unbranded.__style-secondary:after,
    .shopify-payment-button__button button.__style-secondary:before,
    .shopify-payment-button__button button.__style-secondary:after,
    input[type="submit"].__style-secondary:before,
    input[type="submit"].__style-secondary:after {
      background: RGB(var(--color-text)); }
    .btn.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]),
    .button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]),
    button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]),
    .shopify-payment-button__button--unbranded.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]),
    .shopify-payment-button__button button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]),
    input[type="submit"].__style-secondary:hover:not(:disabled):not([aria-disabled="true"]) {
      background: RGBA(var(--color-text)/0.05);
      color: RGB(var(--color-text));
      border: 1px solid transparent;
      opacity: 0.5; }
      .btn.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]) svg *,
      .button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]) svg *,
      button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]) svg *,
      .shopify-payment-button__button--unbranded.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]) svg *,
      .shopify-payment-button__button button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]) svg *,
      input[type="submit"].__style-secondary:hover:not(:disabled):not([aria-disabled="true"]) svg * {
        fill: RGB(var(--color-text)); }
      .btn.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):before, .btn.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):after,
      .button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):before,
      .button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):after,
      button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):before,
      button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):after,
      .shopify-payment-button__button--unbranded.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):before,
      .shopify-payment-button__button--unbranded.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):after,
      .shopify-payment-button__button button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):before,
      .shopify-payment-button__button button.__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):after,
      input[type="submit"].__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):before,
      input[type="submit"].__style-secondary:hover:not(:disabled):not([aria-disabled="true"]):after {
        background: RGB(var(--color-text)); }
  .btn.__style-underline,
  .button.__style-underline,
  button.__style-underline,
  .shopify-payment-button__button--unbranded.__style-underline,
  .shopify-payment-button__button button.__style-underline,
  input[type="submit"].__style-underline {
    background: none;
    color: RGB(var(--color-text));
    border: none;
    height: auto;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    padding: 0 0 0.25rem 0;
    margin-top: 0;
    margin-bottom: 0; }
    .btn.__style-underline:after,
    .button.__style-underline:after,
    button.__style-underline:after,
    .shopify-payment-button__button--unbranded.__style-underline:after,
    .shopify-payment-button__button button.__style-underline:after,
    input[type="submit"].__style-underline:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: RGB(var(--color-text));
      will-change: transform;
      transform: scaleX(1);
      transform-origin: center left;
      transition: all 0.25s ease; }
    .btn.__style-underline:hover:not(:disabled):not([aria-disabled="true"]),
    .button.__style-underline:hover:not(:disabled):not([aria-disabled="true"]),
    button.__style-underline:hover:not(:disabled):not([aria-disabled="true"]),
    .shopify-payment-button__button--unbranded.__style-underline:hover:not(:disabled):not([aria-disabled="true"]),
    .shopify-payment-button__button button.__style-underline:hover:not(:disabled):not([aria-disabled="true"]),
    input[type="submit"].__style-underline:hover:not(:disabled):not([aria-disabled="true"]) {
      border: none;
      color: RGB(var(--color-text));
      background: transparent; }
      .btn.__style-underline:hover:not(:disabled):not([aria-disabled="true"]):after,
      .button.__style-underline:hover:not(:disabled):not([aria-disabled="true"]):after,
      button.__style-underline:hover:not(:disabled):not([aria-disabled="true"]):after,
      .shopify-payment-button__button--unbranded.__style-underline:hover:not(:disabled):not([aria-disabled="true"]):after,
      .shopify-payment-button__button button.__style-underline:hover:not(:disabled):not([aria-disabled="true"]):after,
      input[type="submit"].__style-underline:hover:not(:disabled):not([aria-disabled="true"]):after {
        transform: scaleX(0); }
  .btn:disabled, .btn:is([disabled], [aria-disabled="true"]), .btn[aria-disabled="true"],
  .button:disabled,
  .button:is([disabled], [aria-disabled="true"]),
  .button[aria-disabled="true"],
  button:disabled,
  button:is([disabled], [aria-disabled="true"]),
  button[aria-disabled="true"],
  .shopify-payment-button__button--unbranded:disabled,
  .shopify-payment-button__button--unbranded:is([disabled], [aria-disabled="true"]),
  .shopify-payment-button__button--unbranded[aria-disabled="true"],
  .shopify-payment-button__button button:disabled,
  .shopify-payment-button__button button:is([disabled], [aria-disabled="true"]),
  .shopify-payment-button__button button[aria-disabled="true"],
  input[type="submit"]:disabled,
  input[type="submit"]:is([disabled], [aria-disabled="true"]),
  input[type="submit"][aria-disabled="true"] {
    opacity: 0.6;
    cursor: not-allowed; }

.__with-plus {
  padding-right: calc(var(--expandableContentIconWidth) * 3);
  position: relative; }
  .__with-plus:before, .__with-plus:after {
    content: "";
    width: var(--expandableContentIconWidth);
    height: 1px;
    position: absolute;
    right: var(--expandableContentIconWidth);
    top: 50%;
    background: RGB(var(--color-text)); }
  .__with-plus:after {
    will-change: transform;
    transition: transform 0.25s ease;
    transform: rotate(90deg); }
  .__with-plus.btn:before, .__with-plus.btn:after {
    background: RGB(var(--color-foreground-text)); }

.placeholder-svg,
.page-placeholder {
  background: RGB(var(--color-text));
  opacity: 0.7; }
  .placeholder-svg path,
  .page-placeholder path {
    fill: RGB(var(--color-background)); }

/* Creates clickable overlay backdrop when details is open */
details.overlay[open] > summary::before {
  content: "";
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default; }

/* Classic arrow, extend this class where arrows are used (pagination and sliders) */
.classic-arrow {
  height: var(--arrowBtnHeight);
  width: var(--arrowBtnHeight);
  padding: 0;
  display: grid;
  place-content: center;
  margin-top: 0; }
  .classic-arrow svg * {
    fill: RGB(var(--color-foreground-text));
    width: 40%;
    height: auto; }
  .classic-arrow.next svg {
    transform: scale(-1); }
  .classic-arrow.disabled {
    opacity: 0.5;
    pointer-events: none; }

.marquee-styles {
  padding-right: 0 !important;
  padding-left: 0 !important; }
@keyframes textMarquee {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(-100%); } }
@keyframes oneFrameTextMarquee {
  from {
    transform: translateX(100vw); }
  to {
    transform: translateX(-100%); } }
  .marquee-styles__inner {
    overflow: hidden; }
  .marquee-styles__text {
    will-change: transform;
    width: 100%;
    animation: textMarquee var(--marqueeSpeed) linear infinite;
    margin-bottom: 0 !important;
    width: var(--marqueeCharacterCount);
    max-width: none;
    text-shadow: var(--marqueeCharacterCount) 0 RGB(var(--color-text)), calc(var(--marqueeCharacterCount) * 2) 0 RGB(var(--color-text)), calc(var(--marqueeCharacterCount) * 3) 0 RGB(var(--color-text)), calc(var(--marqueeCharacterCount) * 4) 0 RGB(var(--color-text)), calc(var(--marqueeCharacterCount) * 5) 0 RGB(var(--color-text)), calc(var(--marqueeCharacterCount) * 6) 0 RGB(var(--color-text)); }
  .marquee-styles.__style-fullwidth .marquee-styles__inner {
    width: 100%; }
  .marquee-styles.__style-fullwidth .marquee-styles__text {
    width: fit-content;
    text-shadow: none;
    white-space: nowrap;
    animation: oneFrameTextMarquee var(--marqueeSpeed) linear infinite; }

/* Message */
.message-error:not[hidden],
.message-success:not[hidden] {
  display: block;
  color: var(--color-text); }
  .message-error:not[hidden]:after,
  .message-success:not[hidden]:after {
    display: inline-block;
    height: calc(var(--pxSize) / 2);
    width: calc(var(--pxSize) / 2);
    border-radius: 100%;
    border: 1px solid RGB(255, 255, 255);
    color: RGB(255, 255, 255);
    text-align: center;
    font-size: calc(var(--pxSize) / 4);
    margin-left: calc(var(--pxSize) / 4); }

.message-error:not[hidden]:after {
  content: "✕";
  background-color: RGB(var(--color-error));
  line-height: calc(var(--pxSize) / 2.25); }

.message-success:not[hidden]:after {
  content: "⏗";
  background-color: RGB(var(--color-success));
  transform: scaleX(-1) rotate(45deg);
  line-height: calc(var(--pxSize) / 2.5); }

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .image-container img,
  .image-container svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.shopify-challenge__container {
  max-width: none; }
.shopify-challenge__message {
  margin-left: auto;
  margin-right: auto; }
.shopify-challenge__button {
  margin-top: 1rem !important; }

.shopify-policy__container {
  max-width: none; }
  .shopify-policy__container .shopify-policy__body {
    max-width: var(--maxWidth);
    margin: 0 auto; }
    .shopify-policy__container .shopify-policy__body p {
      max-width: none; }

.product-phrase {
  position: absolute;
  width: 50%;
  text-align: center;
  right: 5%;
  top: 5%;
  transform: rotate(var(--productPhraseTilt)); }
  .product-phrase.alt {
    font-family: var(--font-heading-family); }
  .product-phrase.__style-badge {
    --sideSpace: calc(var(--btnHeight) * var(--btnSidesSpace));
    background: RGB(var(--color-foreground));
    color: RGB(var(--color-foreground-text));
    width: calc(50% + var(--sideSpace) + var(--sideSpace));
    border-radius: var(--btnBorderRadius);
    padding: calc(var(--sideSpace) / 4) var(--sideSpace); }

.disclosure__summary {
  position: relative;
  cursor: pointer; }
  .disclosure__summary span {
    pointer-events: none; }
.disclosure.__with-overlay[open] > summary:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  cursor: default; }
.disclosure.__style-dropdown-traditional, .disclosure.__style-dropdown-button {
  position: relative; }
  .disclosure.__style-dropdown-traditional .disclosure__content, .disclosure.__style-dropdown-button .disclosure__content {
    background-color: RGBA(var(--color-background));
    border: 1px solid RGBA(var(--color-border));
    box-shadow: 5px 5px 10px 0 RGB(var(--color-text)/0.1);
    position: absolute;
    left: 0;
    z-index: 500; }
    .disclosure.__style-dropdown-traditional .disclosure__content input, .disclosure.__style-dropdown-button .disclosure__content input {
      display: none; }
    .disclosure.__style-dropdown-traditional .disclosure__content.__content-top, .disclosure.__style-dropdown-button .disclosure__content.__content-top {
      bottom: 100%; }
.disclosure.__style-dropdown-traditional .disclosure__content, .disclosure.__style-dropdown-button .disclosure__content {
  min-width: 200px;
  max-height: 350px;
  overflow-y: auto; }
  .disclosure.__style-dropdown-traditional .disclosure__content ul, .disclosure.__style-dropdown-button .disclosure__content ul {
    margin: 0; }
    .disclosure.__style-dropdown-traditional .disclosure__content ul li, .disclosure.__style-dropdown-button .disclosure__content ul li {
      display: block; }
      .disclosure.__style-dropdown-traditional .disclosure__content ul li:not(:first-child), .disclosure.__style-dropdown-button .disclosure__content ul li:not(:first-child) {
        border-top: 1px solid RGB(var(--color-border)); }
      .disclosure.__style-dropdown-traditional .disclosure__content ul li a,
      .disclosure.__style-dropdown-traditional .disclosure__content ul li label, .disclosure.__style-dropdown-button .disclosure__content ul li a,
      .disclosure.__style-dropdown-button .disclosure__content ul li label {
        display: block;
        padding: var(--expandableContentIconWidth);
        width: 100%;
        height: auto;
        cursor: pointer; }
        .disclosure.__style-dropdown-traditional .disclosure__content ul li a:after,
        .disclosure.__style-dropdown-traditional .disclosure__content ul li label:after, .disclosure.__style-dropdown-button .disclosure__content ul li a:after,
        .disclosure.__style-dropdown-button .disclosure__content ul li label:after {
          content: none; }
      .disclosure.__style-dropdown-traditional .disclosure__content ul li a.current,
      .disclosure.__style-dropdown-traditional .disclosure__content ul li input:checked + label, .disclosure.__style-dropdown-button .disclosure__content ul li a.current,
      .disclosure.__style-dropdown-button .disclosure__content ul li input:checked + label {
        opacity: 0.8; }
        .disclosure.__style-dropdown-traditional .disclosure__content ul li a.current:before,
        .disclosure.__style-dropdown-traditional .disclosure__content ul li input:checked + label:before, .disclosure.__style-dropdown-button .disclosure__content ul li a.current:before,
        .disclosure.__style-dropdown-button .disclosure__content ul li input:checked + label:before {
          content: "- "; }
.disclosure.__style-dropdown-button[open] .disclosure__summary:after, .disclosure.__style-default[open] .disclosure__summary:after, .disclosure.__style-blank-button[open] .disclosure__summary:after {
  transform: none; }
.disclosure.__style-dropdown-traditional {
  border: 1px solid RGB(var(--color-border)); }
  .disclosure.__style-dropdown-traditional .disclosure__summary {
    padding: 0 var(--expandableContentIconWidth);
    height: var(--inputHeight);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .disclosure.__style-dropdown-traditional .disclosure__summary span {
      margin: 0; }
    .disclosure.__style-dropdown-traditional .disclosure__summary:after {
      content: "\25BE"; }
  .disclosure.__style-dropdown-traditional .disclosure__content {
    width: 100%; }
  .disclosure.__style-dropdown-traditional[open] .disclosure__summary:after {
    transform: rotate(180deg); }
.disclosure.__style-default {
  border-top: 1px solid RGB(var(--color-border));
  border-bottom: 1px solid RGB(var(--color-border)); }
  .disclosure.__style-default + .disclosure {
    border-top: none; }
  .disclosure.__style-default .disclosure__summary, .disclosure.__style-default .disclosure__content {
    padding: calc(var(--pxSize) / 4) 0; }
.disclosure.__style-dropdown-button .disclosure__summary, .disclosure.__style-blank-button .disclosure__summary {
  margin-top: 0; }
  .disclosure.__style-dropdown-button .disclosure__summary span, .disclosure.__style-blank-button .disclosure__summary span {
    margin: 0; }

html {
  height: 100%;
  background: RGB(var(--color-background));
  color: RGB(var(--color-text));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight); }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: calc(100% - var(--navWithAnnouncementHeight)); }
  body.__mobile-overflow-none {
    overflow: hidden; }
  body main > *:first-child {
    margin-top: var(--navWithAnnouncementHeight); }

body > main > section > div,
body > main > article > div,
body > div > footer,
body > main > .shopify-challenge__container,
body > main > .shopify-policy__container {
  padding: calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio)) var(--sectionGuttersSpacing) calc(var(--sectionVerticalSpacing) * var(--bottomSpacingRatio)) var(--sectionGuttersSpacing);
  position: relative;
  color: RGB(var(--color-text)); }
  body > main > section > div:after,
  body > main > article > div:after,
  body > div > footer:after,
  body > main > .shopify-challenge__container:after,
  body > main > .shopify-policy__container:after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    background: RGB(var(--color-background));
    z-index: -1; }

body > main > section {
  max-width: var(--siteMaxWidth);
  margin: 0 auto; }

.__visible-nav + main {
  --stickyElementTransition: translateY(var(--navHeight)); }

.__align-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }
  .__align-center > *,
  .__align-center p {
    justify-content: center;
    margin-left: auto;
    margin-right: auto; }
.__align-left, .__align-default {
  text-align: left;
  align-items: flex-start;
  margin-right: auto; }
  .__align-left > *,
  .__align-left p, .__align-default > *,
  .__align-default p {
    justify-content: flex-start;
    margin-right: auto; }
.__align-right {
  text-align: right;
  align-items: flex-end;
  margin-left: auto; }
  .__align-right > *,
  .__align-right p {
    justify-content: flex-end;
    margin-left: auto; }

.__crop-default {
  padding-top: var(--imageRatio); }
.__crop-video {
  padding-top: 56.25%; }
.__crop-circle, .__crop-square, .__crop-rounded-square {
  padding-top: 100%; }
.__crop-landscape, .__crop-semicircle-landscape, .__crop-rounded-landscape {
  padding-top: 66.66%; }
.__crop-wide, .__crop-rounded-wide, .__crop-semicircle-wide {
  padding-top: 30%; }
.__crop-portrait, .__crop-rounded-portrait, .__crop-semicircle-portrait, .__crop-arch {
  padding-top: 133.33%; }
.__crop-circle, .__crop-semicircle, .__crop-semicircle-portrait, .__crop-semicircle-landscape, .__crop-semicircle-wide {
  border-radius: 4000px; }
  .__crop-circle:after,
  .__crop-circle img, .__crop-semicircle:after,
  .__crop-semicircle img, .__crop-semicircle-portrait:after,
  .__crop-semicircle-portrait img, .__crop-semicircle-landscape:after,
  .__crop-semicircle-landscape img, .__crop-semicircle-wide:after,
  .__crop-semicircle-wide img {
    border-radius: 4000px; }
.__crop-rounded, .__crop-rounded-square, .__crop-rounded-portrait, .__crop-rounded-landscape, .__crop-rounded-wide {
  border-radius: calc(var(--vwSize) * 2); }
  .__crop-rounded:after,
  .__crop-rounded img, .__crop-rounded-square:after,
  .__crop-rounded-square img, .__crop-rounded-portrait:after,
  .__crop-rounded-portrait img, .__crop-rounded-landscape:after,
  .__crop-rounded-landscape img, .__crop-rounded-wide:after,
  .__crop-rounded-wide img {
    border-radius: calc(var(--vwSize) * 2); }
  @media screen and (max-width: 676px) {
    .__crop-rounded, .__crop-rounded-square, .__crop-rounded-portrait, .__crop-rounded-landscape, .__crop-rounded-wide {
      border-radius: calc(var(--pxSize) * 2); }
      .__crop-rounded:after,
      .__crop-rounded img, .__crop-rounded-square:after,
      .__crop-rounded-square img, .__crop-rounded-portrait:after,
      .__crop-rounded-portrait img, .__crop-rounded-landscape:after,
      .__crop-rounded-landscape img, .__crop-rounded-wide:after,
      .__crop-rounded-wide img {
        border-radius: calc(var(--pxSize) * 2); } }
.__crop-arch {
  border-top-left-radius: 4000px;
  border-top-right-radius: 4000px; }
  .__crop-arch:after,
  .__crop-arch img {
    border-top-left-radius: 4000px;
    border-top-right-radius: 4000px; }

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  border: none;
  background: transparent;
  color: RGB(var(--color-foreground));
  z-index: 1; }

.flickity-button:hover {
  cursor: pointer; }
  .flickity-button:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: RGB(var(--color-foreground));
    opacity: 0.2; }

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px RGBA(var(--color-foreground)/0.5); }

.flickity-button:active {
  opacity: 0.6; }

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }

.flickity-button-icon {
  fill: currentColor;
  z-index: 10; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: var(--btnHeight);
  height: var(--btnHeight);
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  margin-top: calc(var(--sectionVerticalSpacing) / 4); }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: calc(var(--pxSize) / 4);
  height: calc(var(--pxSize) / 4);
  margin: 0 calc(var(--pxSize) / 8);
  background: RGB(var(--color-text));
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

/*# sourceMappingURL=theme.css.map */
