.timeline-section {
  --timelineSectionDotSize: calc(var(--pxSize) / 2);
  --timelineSectionGap: calc(var(--sectionVerticalSpacing) / 2);
  --timelineBgColor: var(--color-background); }
  .timeline-section__heading {
    margin-bottom: calc(var(--navWithAnnouncementHeight)); }
  .timeline-section__part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--timelineSectionGap);
    position: sticky;
    -webkit-position: sticky;
    top: calc(var(--navWithAnnouncementHeight) * 2);
    padding-bottom: var(--timelineSectionGap);
    background: linear-gradient(to right, RGB(var(--timelineBgColor)) 50%, RGB(var(--timelineBgColor)/0) 50%, RGB(var(--timelineBgColor)/0) calc( 50% + calc(var(--timelineSectionDotSize) * 1.5) + calc(var(--timelineSectionGap) / 2) ), RGB(var(--timelineBgColor)) calc( 50% + calc(var(--timelineSectionDotSize) * 1.5) + calc(var(--timelineSectionGap) / 2) )); }
    .timeline-section__part__image {
      grid-column: 1 / 2;
      border-radius: 0;
      overflow: visible; }
    .timeline-section__part__text {
      grid-column: 2 / 3;
      padding-left: calc(var(--timelineSectionDotSize) * 1.5);
      position: relative;
      z-index: 3; }
      .timeline-section__part__text__inner {
        height: 100%; }
      .timeline-section__part__text:after {
        content: "";
        width: var(--timelineSectionDotSize);
        height: var(--timelineSectionDotSize);
        background: RGB(var(--color-foreground));
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%; }
    .timeline-section__part:before {
      content: "";
      position: absolute;
      top: 0;
      left: calc( 50% + calc(var(--timelineSectionDotSize) / 2) + calc(var(--timelineSectionGap) / 2) );
      width: 1px;
      background: RGB(var(--color-border));
      height: calc(100% + var(--timelineSectionGap));
      z-index: 2; }
    .timeline-section__part:not(:first-of-type) .timeline-section__part__image:before, .timeline-section__part:not(:first-of-type) .timeline-section__part__text__inner:before {
      content: "";
      position: absolute;
      top: calc(var(--timelineSectionGap) * -1);
      left: 0;
      width: 100%;
      height: var(--timelineSectionGap);
      background: linear-gradient(to top, RGBA(var(--timelineBgColor)/1), RGBA(var(--timelineBgColor)/1), RGBA(var(--timelineBgColor)/0)); }
  @media screen and (max-width: 676px) {
    .timeline-section {
      --timelineSectionGap: var(--sectionVerticalSpacing); }
      .timeline-section__heading {
        margin-bottom: calc(var(--sectionVerticalSpacing) / 2); }
      .timeline-section__part {
        grid-template-columns: calc(var(--timelineSectionDotSize) * 1.5) 1fr;
        gap: calc(var(--timelineSectionGap) / 2) 0;
        background: transparent;
        position: relative;
        top: 0; }
        .timeline-section__part__text {
          grid-column: 1 / 3;
          grid-row: 1 / 2; }
        .timeline-section__part__image {
          grid-column: 2 / 3;
          grid-row: 2 / 3; }
        .timeline-section__part__image:before, .timeline-section__part__text__inner:before {
          content: none !important; }
        .timeline-section__part:last-child {
          padding-bottom: 0; }
          .timeline-section__part:last-child:before {
            height: auto;
            bottom: 0; }
        .timeline-section__part:before {
          left: calc(var(--timelineSectionDotSize) / 2); } }

/*# sourceMappingURL=timeline-section.css.map */
