.timeline-section {
  --timelineSectionDotSize: calc(var(--pxSize) / 2);
  --timelineSectionGap: calc(var(--sectionVerticalSpacing) / 2);
  --timelineBgColor: var(--color-background);
  display: flex;
  gap: var(--timelineSectionGap);
  align-items: flex-start; }
  .timeline-section__container, .timeline-section__parts {
    flex: 0 0 calc(50% - calc(var(--timelineSectionGap) / 2)); }
  .timeline-section__parts {
    background-color: RGB(var(--color-background)); }
    .timeline-section__parts__part {
      padding-bottom: var(--timelineSectionGap);
      position: relative;
      min-height: 50vh; }
      .timeline-section__parts__part__text {
        padding-left: calc(var(--timelineSectionDotSize) * 1.5); }
      .timeline-section__parts__part:after {
        content: "";
        width: var(--timelineSectionDotSize);
        height: var(--timelineSectionDotSize);
        background: RGB(var(--color-foreground));
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%; }
      .timeline-section__parts__part:before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(var(--timelineSectionDotSize) / 2);
        width: 1px;
        background: RGB(var(--color-border));
        height: 100%; }
  .timeline-section__container {
    position: sticky;
    min-height: calc(100vh - calc(var(--navHeight) * 2));
    -webkit-position: sticky;
    top: calc(var(--navHeight) * 2);
    z-index: 2; }
    .timeline-section__container:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 100%;
      width: calc(100% + var(--timelineSectionGap));
      height: 25vh;
      background: linear-gradient(to top, RGBA(var(--timelineBgColor)/1), RGBA(var(--timelineBgColor)/1), RGBA(var(--timelineBgColor)/0)); }
  .timeline-section__heading {
    margin-bottom: calc(var(--sectionVerticalSpacing) / 2); }
  @media screen and (max-width: 676px) {
    .timeline-section {
      --timelineSectionGap: var(--sectionVerticalSpacing);
      flex-direction: column; }
      .timeline-section__container {
        width: 100%;
        min-height: auto;
        position: relative;
        top: 0; }
        .timeline-section__container:before {
          content: none; }
      .timeline-section__parts__part {
        min-height: auto; } }
