.variant-picker__fieldset {
  margin: 0; }
  .variant-picker__fieldset__label {
    margin-bottom: 0.5rem; }
    .variant-picker__fieldset__label span {
      display: block; }
  .variant-picker__fieldset__input:checked + label {
    background-color: RGB(var(--color-foreground));
    color: RGB(var(--color-foreground-text)); }
  .variant-picker__fieldset__input:focus + label {
    transform: scale(1.1); }
  .variant-picker__fieldset__value {
    --valueMinWidth: 70px;
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    min-width: 70px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    will-change: transform;
    transition: transform 0.25s ease;
    border-radius: var(--btnBorderRadius); }
    .variant-picker__fieldset__value__text {
      position: relative;
      padding: calc(var(--pxSize) / 6) calc(var(--pxSize) / 4);
      z-index: 2;
      height: 100%;
      display: block;
      margin: 0; }
    .variant-picker__fieldset__value:hover {
      background-color: RGB(var(--color-foreground));
      color: RGB(var(--color-foreground-text)); }
.variant-picker__dropdown__label {
  display: block;
  margin-bottom: 0.5rem; }
.variant-picker__dropdown__select {
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid RGBA(var(--color-border)); }
