.section-footer {
  position: relative;
  display: flex;
  padding: 0;

  &__col {
    color: var(--color-text);
    background: var(--color-background);

    &:first-of-type {
      padding: var(--sectionVerticalSpacing) var(--sectionVerticalSpacing)
        var(--sectionVerticalSpacing) var(--sectionGuttersSpacing);
      flex: 2;
    }

    &:last-of-type {
      padding: var(--sectionVerticalSpacing) var(--sectionGuttersSpacing)
        var(--sectionVerticalSpacing) var(--sectionVerticalSpacing);
      flex: 3;
    }
  }

  &__branding {
    &__logo {
      img {
        width: 100%;
        height: auto;
        max-width: 170px;
      }
    }
  }

  &__badges {
    padding-top: calc(var(--pxSize) / 3);
    display: flex;
    flex-flow: row wrap;
    gap: calc(var(--pxSize) / 3);

    &__badge img {
      height: calc(var(--pxSize) / 1.75);
      width: auto;
    }
  }

  &__blocks {
    display: flex;
    gap: var(--pxSize);
  }

  &__copywright {
    a:hover {
      opacity: 0.5;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(var(--pxSize) / 4) var(--pxSize);
  }

  &__copywright {
    padding: calc(var(--pxSize) / 6) 0;
    margin-bottom: 0;
  }

  &__sec-links {
    display: flex;

    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child):after {
        content: "|";
        font-weight: 900;
        margin: 0 calc(var(--pxSize) / 4);
      }
    }
  }

  &__header {
    margin-bottom: calc(var(--pxSize) / 4);
  }

  &__links,
  &__sec-links {
    &__item {
      line-height: 1.2;

      &__link {
        display: block;
        opacity: 1;
        will-change: opacity;
        transition: all 0.25s ease;
        line-height: 1.2;
        margin: 0;
        padding: calc(var(--pxSize) / 6) 0;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  @media screen and (max-width: 850px) {
    &__branding {
      display: flex;
      justify-content: space-between;
      margin-bottom: calc(var(--pxSize) / 1.75);

      &__logo {
        max-width: 130px;

        svg {
          width: 100%;
          height: auto;
          padding-right: var(--pxSize);
        }
      }

      &__info {
        padding-top: 0;
      }
    }

    &__blocks {
      flex-wrap: wrap;

      &__block {
        flex: 0 0 calc(50% - calc(var(--pxSize) / 2));
      }
    }

    &__badges {
      gap: calc(var(--pxSize) / 2);
      margin-top: var(--sectionVerticalSpacing);
      justify-content: center;

      img {
        height: calc(var(--pxSize) * 1.5);
      }
    }

    &__sec-links {
      flex-direction: column;
      text-align: center;
      gap: calc(var(--pxSize) / 2);
    }

    &__copywright {
      padding-right: 0;
      padding-bottom: calc(var(--pxSize) / 2);
    }
  }
}
