.section-footer {
  position: relative;
  display: flex;
  padding: 0;

  &__col {
    color: RGB(var(--color-text));
    background: RGB(var(--color-background));

    &:first-of-type {
      padding: var(--sectionVerticalSpacing);
      flex: 2;
    }

    &:last-of-type {
      padding: var(--sectionVerticalSpacing) var(--sectionGuttersSpacing)
        var(--sectionVerticalSpacing) var(--sectionVerticalSpacing);
      flex: 3;
    }
  }

  &__branding {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: calc(var(--pxSize) / 3);

    &__logo {
      grid-row: 1 / 3;

      img {
        width: 100%;
        height: auto;
        max-width: var(--footerLogoMaxWidth);
      }
    }

    h2,
    p {
      grid-column: 2 / -1;
      margin: 0;
    }

    &.__stack {
      display: flex;
      flex-direction: column;
    }
  }

  &__social {
    margin-top: calc(var(--pxSize) / 2);
  }

  &__badges {
    margin: calc(var(--pxSize) / 2) 0;
    display: flex;
    flex-flow: row wrap;
    gap: calc(var(--pxSize) / 2);

    &__badge img {
      height: var(--pxSize);
      width: auto;
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pxSize);

    + * {
      margin-top: var(--pxSize);
    }
  }

  &__copywright {
    a:hover {
      opacity: 0.5;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(var(--pxSize) / 4) var(--pxSize);
  }

  &__copywright {
    padding: calc(var(--pxSize) / 6) 0;
    margin-bottom: 0;
  }

  &__sec-links {
    display: flex;

    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child):after {
        content: "|";
        font-weight: 900;
        margin: 0 calc(var(--pxSize) / 4);
      }
    }
  }

  &__header {
    margin-bottom: calc(var(--pxSize) / 4);
  }

  &__links,
  &__sec-links {
    &__item {
      line-height: 1.2;

      &__link {
        display: block;
        opacity: 1;
        will-change: opacity;
        transition: all 0.25s ease;
        line-height: 1.2;
        margin: 0;
        padding: calc(var(--pxSize) / 6) 0;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    display: block;

    &__badges,
    &__social,
    &__copywright,
    &__sec-links {
      justify-content: center;
      text-align: center;
    }

    &__row {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 676px) {
    &__col:first-of-type,
    &__col:last-of-type {
      padding-left: var(--sectionGuttersSpacing);
      padding-right: var(--sectionGuttersSpacing);
    }

    &__social {
      margin-top: var(--pxSize);
    }

    &__blocks {
      &__block {
        flex: 1 0 40%;
      }
    }
  }
}
