.site-header {
  display: flex;
  gap: var(--pxSize);
  height: var(--navHeight);
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(var(--pxSize) * 1.5);
  position: fixed;
  inset: 0px 0px auto 0px;
  width: 100%;
  z-index: 999;
  color: RGB(var(--color-text));

  // We have two navigation types, this one displays on scroll up
  &.__style-on-scroll {
    transform: translateY(-100%);
    background: RGB(var(--color-background));
    opacity: 0;
    will-change: transform, opacity;
    transition: all 0.25s ease;

    &.__visible {
      transform: translateY(0);
      opacity: 1;
    }
  }

  // We have two navigation types, this one displays at the top of the page content
  &.__style-relative {
    position: absolute;

    &.__dropdown-open,
    &.__overlay-open {
      background: RGB(var(--color-background));
    }
  }

  // Logo
  &__logo {
    display: flex;
    height: 100%;
    order: var(--logoOrder);

    * {
      margin-bottom: 0;
    }

    a {
      display: grid;
      height: 100%;
      place-content: center;
    }

    &__text {
      display: block;
      font-size: calc(var(--vwSize) * var(--font-heading-scale));
    }

    img {
      height: calc(var(--navHeight) * 0.6);
      width: auto;
    }
  }

  //CTA
  &__cta {
    flex: 1;
    height: 100%;
    text-align: right;
    margin-right: calc(var(--pxSize) * -1.5);

    &__btn {
      margin-top: 0;
      height: 100%;
      border-radius: 0;
    }
  }

  // All the links container
  &__main {
    display: flex;
    gap: var(--pxSize);
    flex: 1;
    align-self: stretch;

    &.__center-links {
      justify-content: center;
    }
  }

  // Search, Account and Cart
  &__utility-links {
    display: flex;
    height: 100%;
    align-items: center;
    gap: calc(var(--pxSize) / 4);
  }

  // All the links text (dropdown labels and plain links)
  &__plain-link,
  &__label {
    margin: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    order: var(--linkOrder);

    &:hover {
      cursor: pointer;
      color: RGB(var(--color-text) / 0.5);
    }
  }

  // dropdown label
  &__label {
    position: relative;

    &:after {
      content: "";
      display: block;
      margin-left: calc(var(--pxSize) / 3);
      height: calc(var(--navHeight) / 10);
      width: calc(var(--navHeight) / 10);
      border-right: 1px solid RGB(var(--color-border));
      border-top: 1px solid RGB(var(--color-border));
      transform: rotate(135deg) translate(25%, 25%);
    }

    &.__active {
      color: RGB(var(--color-text));

      &:after {
        border-color: RGB(var(--color-text));
      }

      + .site-header__dropdown,
      .site-header__dropdown {
        display: block;
      }
    }
  }

  // dropdown container
  &__dropdown {
    display: none;
    position: fixed;
    top: var(--navHeight);
    left: 0;
    right: 0;
    width: 100%;
    order: var(--linkOrder);

    &__inner {
      position: relative;
      background: RGB(var(--color-background));
      padding: var(--pxSize) calc(var(--pxSize) * 1.5);
      width: 100%;
      display: flex;
      gap: var(--pxSize);
    }

    &.__skinny {
      position: absolute;
      right: unset;
      width: auto;

      .site-header__dropdown {
        &__inner {
          padding: calc(var(--pxSize) / 4) calc(var(--pxSize) / 2);
          flex-direction: column;
          gap: calc(var(--pxSize) / 2);
        }

        &__block {
          max-width: unset;
        }
      }
    }

    //overlay over page content
    &:before {
      content: "";
      position: absolute;
      width: 200vw;
      left: 50%;
      top: 0;
      height: 100vh;
      transform: translateX(-50%);
      background: RGB(var(--color-foreground));
      opacity: 0.5;
    }

    //each block inside dropdown
    &__block {
      position: relative;
      z-index: 2;
      max-width: 30%;

      .p-sm {
        font-weight: 600;
      }

      //any block's label
      &__label {
        font-weight: 900;
      }

      //any block's menu list
      &__submenu-list {
        li {
          a {
            display: block;
            margin: 0;
            padding: calc(var(--pxSize) / 5) 0;

            &:hover {
              color: RGB(var(--color-text) / 0.5);
            }
          }

          &:first-of-type {
            margin-top: calc(var(--pxSize) / 5);
          }
        }
      }

      //any block's image
      &__image {
        padding-top: 60%;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          inset: 0px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          will-change: transform;
          transition: all 0.25s ease;
        }

        + * {
          margin-top: 1rem;
        }
      }

      //any block's article list
      &__articles-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        gap: calc(var(--pxSize) / 4);
        padding-top: calc(var(--pxSize) / 2);

        li {
          flex: calc(50% - calc(var(--pxSize) / 8));

          .article-card {
            &__image {
              padding-top: 17%;
            }

            &__content {
              flex: 4;
            }

            &:hover {
              * {
                color: RGB(var(--color-text) / 0.5);
              }
            }
          }
        }
      }

      //articles block container
      &.__articles {
        padding-left: var(--pxSize);
      }

      &.__featured-page {
        max-width: 250px;
        flex: 1;
      }

      &.__text-block {
        order: -1;
      }

      // all blocks hover states
      &:hover {
        .site-header__dropdown__block {
          &__image {
            img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }

  &__hamburger {
    display: none;
  }

  &__hamburger {
    height: calc(var(--navHeight) * 0.4);
    width: calc(var(--navHeight) * 0.7);
    flex-direction: column;
    justify-content: space-between;

    &:before,
    &:after,
    span {
      content: "";
      display: block;
      left: 0;
      height: 2px;
      border-radius: 2px;
      width: 100%;
      background: RGB(var(--color-text));
      transform: scaleX(1) rotate(0deg);
      will-change: transform, opacity;
      opacity: 1;
      transition: all 0.25s ease;
    }

    &:before {
      transform-origin: top left;
    }

    &:after {
      transform-origin: bottom left;
    }

    &.__active {
      span {
        transform: scaleX(0);
        opacity: 0;
      }

      &:before {
        transform: rotate(45deg) translate(0, calc(var(--navHeight) * -0.08));
      }

      &:after {
        transform: rotate(-45deg) translate(0, calc(var(--navHeight) * 0.08));
      }

      //main links
      ~ .site-header__main {
        display: block;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 var(--sectionGuttersSpacing);

    &__logo {
      flex: 1;
    }

    &__cta {
      height: auto;
      text-align: left;
      margin-right: 0;

      &__btn {
        width: 100%;
        justify-content: center;
      }
    }

    &__main {
      display: none;
      position: fixed;
      top: var(--navHeight);
      left: 0;
      right: 0;
      bottom: 0;
      height: calc(100vh - var(--navHeight));
      background-color: RGB(var(--color-background));
      padding: var(--sectionGuttersSpacing) var(--sectionGuttersSpacing)
        calc(var(--sectionGuttersSpacing) * 2) var(--sectionGuttersSpacing);
      overflow: auto;
    }

    // All the links text (dropdown labels and plain links)
    &__plain-link,
    &__label,
    &__cta,
    &__cta__btn {
      font-weight: 600;
      padding: calc(var(--pxSize) / 3) 0;

      &__btn {
        --btnHeight: 5rem;
        padding: 0 calc(var(--btnHeight) / 2);
      }
    }

    &__label {
      justify-content: space-between;

      &:after {
        order: 3;
        border-width: 2px;
        height: calc(var(--navHeight) / 4);
        width: calc(var(--navHeight) / 4);
      }
    }

    &__dropdown {
      position: static;
      inset: auto;
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      padding: 0 0 var(--pxSize) calc(var(--pxSize));

      &:before {
        content: none;
      }

      // Used to dull out other links that aren't part of the active dropdown
      &:after {
        // content: "";
        position: absolute;
        z-index: 0;
        inset: 0;
        background: RGB(var(--color-background));
        opacity: 0.4;
        pointer-events: none;
      }

      &__block {
        position: relative;
        z-index: 1;

        &__label.p-lg {
          opacity: 0.5;
          text-transform: uppercase;
        }

        &__submenu-list {
          li {
            a {
              padding: 0;
            }
          }
        }

        &.__articles {
          padding-left: 0;

          li {
            flex: 100%;

            .article-card {
              &__content {
                padding: calc(var(--pxSize) / 2);
              }
            }
          }
        }
      }
    }

    &__hamburger {
      display: flex;
    }
  }
}

/*

header.header {
  height: var(--navHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .p-sm {
    margin-bottom: 0;
  }

  nav.header__inline-menu {
    flex: 1;

    ul {
      gap: calc(var(--pxSize) / 2);
    }
  }

  .header__heading-link {
    padding-right: var(--pxSize);
  }
}

*/
