.announcement-bar {
  background: RGB(var(--color-background));
  color: RGB(var(--color-text));
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--navHeight) / 2);
  flex: 0 0 100%;
  overflow: hidden;

  p{
    margin-bottom: 0;
  }

  .marquee-styles__inner {
    flex-basis: 100%;
  }
}
