.announcement-bar {
  width: 100vw;
  z-index: 1000;
  position: relative;
  background: RGB(var(--color-background));
  color: RGB(var(--color-text));
  display: flex;
  justify-content: center;
  align-items: center;

  &__text{
    margin-bottom: 0;
    padding: calc(8px * var(--topSpacingRatio))
    var(--sectionGuttersSpacing)
    calc(8px * var(--bottomSpacingRatio))
    var(--sectionGuttersSpacing);
  }
}