.announcement-bar {
  background: RGB(var(--color-background));
  color: RGB(var(--color-text));
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--navHeight) / 2);
  flex: 0 0 100%;
  overflow: hidden;

  &__text {
    margin-bottom: 0;
    white-space: nowrap;
  }

  &.marquee{
  padding-right: 0 !important;
  padding-left: 0 !important;

    @keyframes textMarquee {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-100%);
      }
    }

    .announcement-bar__inner {
      overflow: hidden;
      flex-basis: 100%;
      max-width: var(--siteMaxWidth);
      margin: 0 auto;
    }

    .announcement-bar__text {
      will-change: transform;
      width: 100%;
      animation: textMarquee var(--marqueeSpeed) linear infinite;
      margin-bottom: 0;
      width: var(--marqueeCharacterCount);
      text-shadow: var(--marqueeCharacterCount) 0 RGB(var(--color-text)),
        calc(var(--marqueeCharacterCount) * 2) 0 RGB(var(--color-text)),
        calc(var(--marqueeCharacterCount) * 3) 0 RGB(var(--color-text)),
        calc(var(--marqueeCharacterCount) * 4) 0 RGB(var(--color-text)),
        calc(var(--marqueeCharacterCount) * 5) 0 RGB(var(--color-text)),
        calc(var(--marqueeCharacterCount) * 6) 0 RGB(var(--color-text));
    }
  }
}
