.cart-recommendations {
  &__container {
    display: flex;
    gap: calc(var(--pxSize) / 3);

    > * {
      flex: 0 1 calc(100% / 3);
    }
  }

  &__heading {
    border-bottom: 1px solid RGB(var(--color-border));
    margin-bottom: calc(var(--pxSize) / 2);
    padding-bottom: 1rem;
  }

  @media screen and (max-width: 1024px) {
    &__container {
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
