.collections-list {
  --collections-list-space: calc(var(--pxSize) / 3);
  padding-left: var(--collections-list-space);
  padding-right: var(--collections-list-space);
  margin-left: calc(var(--collections-list-space) / -2);
  margin-right: calc(var(--collections-list-space) / -2);
  width: calc(100% + var(--collections-list-space));

  &__heading {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 1rem auto;
  }

  &__container {
    gap: var(--collections-list-space) 0;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    > * {
      flex: 0 0 25%;
      padding: 0 calc(var(--collections-list-space) / 2);
    }
  }

  @media screen and (max-width: 1024px) {
    &__container {
      > * {
        flex: 50%;
      }
    }
  }

  @media screen and (max-width: 676px) {
    &__container {
      flex-direction: column;
    }
  }
}
