.content-marquee {
  padding-right: 0 !important;
  padding-left: 0 !important;
  will-change: transform;
  transition: transform 0.25s ease;
  --contentMarqueeCardSize: calc(
    var(--siteMaxWidth) / var(--contentMarqueeDivisor)
  );

  @keyframes contentMarquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(calc(-100% / var(--contentMarqueeDivisor)));
    }
  }

  &__inner {
    overflow: hidden;
  }

  &__content {
    position: relative;
    display: flex;
    will-change: transform, left;
    width: calc(
      var(--contentMarqueeCardCount) * var(--contentMarqueeCardSize) *
        var(--contentMarqueeDivisor)
    );
    animation: contentMarquee var(--contentMarqueeSpeed) linear infinite;

    //Hide scrollbars
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      cursor: grab;
      animation-play-state: paused;
    }
  }

  &__item {
    flex: 0 0 var(--contentMarqueeCardSize);
    padding: 0 calc(var(--pxSize) / 6);
    // transform: scale(0.97);
  }

  &__text {
    margin-bottom: 0;
  }

  svg * {
    fill: RGB(var(--color-text));
  }

  @media screen and (max-width: 676px) {
    --contentMarqueeCardSize: 260px;

    @keyframes contentMarquee {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(calc(var(--contentMarqueeCardSize) * -1));
      }
    }
  }
}
