.divider-section {
  padding-left: 0;
  padding-right: 0;

  &:before {
    content: "";
    display: block;
    border-bottom: 1px solid RGB(var(--color-border));
    padding-top: var(--dividerSnippetUseTopSpace);
    padding-bottom: var(--dividerSnippetUseBottomSpace);
  }

  &.__hide-divider {
    &:before {
      border: none;
    }
  }
}
