.featured-collection {
  display: flex;
  padding-right: 0;
  padding-left: 0;

  &__text,
  &__container {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  &__text {
    flex: 0 0 30%;
    border-right: 1px solid var(--color-border);
    padding: calc(var(--sectionHorizontalSpacing) / 2);
  }

  &__container {
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;

    &:after {
      content: "";
      background: var(--color-foreground);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 50%;
      z-index: 0;
    }

    &__cards {
      display: flex;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      scroll-behavior: smooth;
      position: relative;
      z-index: 1;
      padding-right: var(--pxSize);

      &__card {
        flex: 0 0 calc(100% / 3);
        flex-shrink: 0;
        scroll-snap-align: center;

        padding-left: var(--pxSize);
      }
    }

    &__controls {
      text-align: center;
      z-index: 2;

      a {
        display: inline-block;
        width: 0.85em;
        height: 0.85em;
        border-radius: 50%;
        outline: none;
        background-color: #fff;
        opacity: 0.8;
        cursor: pointer;
        transition: opacity 0.2s;

        &:not(:first-child) {
          margin-left: 0.25em;
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
  }

  @media screen and (max-width: 676px) {
  }
}
