.featured-blog {
  --featuredBlogCardSize: calc(100% / 3);

  &__heading {
    text-align: center;
  }

  &__articles {
    &__article-container {
      flex: 0 0 var(--featuredBlogCardSize);
      padding: calc(var(--pxSize) / 2) calc(var(--pxSize) / 2) 0
        calc(var(--pxSize) / 2);
    }
  }

  &__btn {
    margin-top: var(--pxSize);
  }

  @media screen and (max-width: 1024px) {
    --featuredBlogCardSize: 50%;
  }

  @media screen and (max-width: 676px) {
    --featuredBlogCardSize: 75%;

    &.__mobile {
      &-stacked,
      &-stacked-4 {
        --featuredBlogCardSize: 100%;

        .featured-blog {
          &__articles {
            flex-direction: column;
            overflow: unset;

            &__article-container {
              padding: var(--pxSize) 0;
            }

            ~ .overflow-slider__arrow {
              display: none;
            }
          }
        }
      }

      &-stacked-4 {
        .featured-blog {
          &__articles {
            &__article-container {
              &:not(:nth-of-type(1)):not(:nth-of-type(2)):not(
                  :nth-of-type(3)
                ):not(:nth-of-type(4)) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
