.featured-collection {
  --featuredCollectionNavControlSize: calc(var(--vwSize) * 0.75);
  --featuredCollectionCardWidth: calc(calc(100% / 3) - calc(var(--pxSize) / 3));
  display: flex;
  padding-right: 0;
  padding-left: 0;

  &__text,
  &__container {
    border-top: 1px solid RGB(var(--color-border));
    border-bottom: 1px solid RGB(var(--color-border));
  }

  &__text {
    flex: 0 0 30%;
    border-right: 1px solid RGB(var(--color-border));
    padding: calc(var(--sectionGuttersSpacing) / 2);

    &__desc {
      max-width: var(--maxWidth);
    }
  }

  &__container {
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--pxSize) 0 calc(var(--pxSize) / 2) 0;
  }

  &__cards {
    flex: 1;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;

    &__card {
      width: var(--featuredCollectionCardWidth);
      padding: 0 calc(var(--pxSize) / 2);
      margin-bottom: calc(var(--sectionVerticalSpacing) / 2);

      .product-card__phrase {
        color: var(--featuredCollectionThemedTextColor);
      }
    }
  }

  &__controls {
    text-align: center;
    margin: var(--featuredCollectionNavControlSize) 0;

    &__control {
      width: var(--featuredCollectionNavControlSize);
      height: var(--featuredCollectionNavControlSize);
      margin: 0 calc(var(--featuredCollectionNavControlSize) / 3.5);
      opacity: 1;
      background: none;

      &:before,
      &:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        display: block;
      }

      &:before {
        transform: scale(0.8);
        background-color: var(--productColor);
      }

      &.is-selected {
        &:after {
          border: 1px solid RGB(var(--color-border));
        }
      }
    }
  }

  &__background-color {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    height: 100%;
    inset: 0;

    .flickity-viewport {
      height: 100% !important;
    }

    .flickity-slider {
      transform: translateX(0) !important;
    }

    &__item {
      width: 100%;
      height: 50%;
      transition: opacity 0.4s;
      opacity: 0;
      transform: translateX(0) !important;

      &.is-selected {
        opacity: 1;
      }
    }
  }

  &.__no-slider {
    .featured-collection {
      &__cards {
        display: flex;
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    --featuredCollectionNavControlSize: calc(var(--pxSize));
    display: block;
    overflow: hidden;

    &__text,
    &__container {
      border: none;
    }

    &__text {
      padding: calc(var(--sectionVerticalSpacing) / 2)
        var(--sectionGuttersSpacing);
    }

    &__container {
      max-width: none;
    }

    .flickity-viewport {
      overflow: visible;
    }

    &.__no-slider {
      .featured-collection {
        &__cards {
          gap: calc(var(--pxSize) / 2);

          &__card {
            width: calc(50% - calc(var(--pxSize) / 4));
            padding: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    --featuredCollectionCardWidth: 75%;

    &__cards {
      &__card {
        padding: 0 calc(var(--pxSize) / 1.5);
      }
    }

    .flickity-button {
      display: none;
    }
  }
}
