.featured-collection {
  --navControlSize: calc(var(--vwSize) * 0.75);
  display: flex;
  padding-right: 0;
  padding-left: 0;

  &__text,
  &__container {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  &__text {
    flex: 0 0 30%;
    border-right: 1px solid var(--color-border);
    padding: calc(var(--sectionHorizontalSpacing) / 2);

    &__desc {
      max-width: var(--maxWidth);
      margin-left: auto;
      margin-right: auto;
    }

    &.__align {
      &-center {
        text-align: center;
      }

      &-right {
        text-align: right;
        margin-left: auto;
      }
    }
  }

  &__container {
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--pxSize) 0 calc(var(--pxSize) / 2) 0;
  }

  &__cards {
    flex: 1;
    position: relative;
    z-index: 1;

    &__card {
      width: calc(calc(100% / 3) - calc(var(--pxSize) / 3));
      padding: 0 calc(var(--pxSize) / 2);
    }
  }

  &__controls {
    text-align: center;
    margin: var(--navControlSize) 0;

    &__control {
      width: var(--navControlSize);
      height: var(--navControlSize);
      margin: 0 calc(var(--navControlSize) / 3.5);
      opacity: 1;
      background: none;

      &:before,
      &:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        display: block;
      }

      &:before {
        transform: scale(0.8);
        background-color: var(--productColor);
      }

      &.is-selected {
        &:after {
          border: 1px solid var(--color-border);
        }
      }
    }
  }

  &__background-color {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    height: 100%;
    inset: 0;

    .flickity-viewport {
      height: 100% !important;
    }

    .flickity-slider {
      transform: translateX(0) !important;
    }

    &__item {
      width: 100%;
      height: 50%;
      transition: opacity 0.4s;
      opacity: 0;
      transform: translateX(0) !important;

      &.is-selected {
        opacity: 1;
      }
    }
  }

  &.__no-slider {
    &.__layout-stacked {
      padding-left: var(--sectionVerticalSpacing);
      padding-right: var(--sectionVerticalSpacing);
    }

    .featured-collection {
      &__cards {
        display: flex;
        justify-content: center;
      }
    }
  }

  &.__theme-slider {
    &.__layout-stacked {
      .featured-collection {
        &__text {
          padding-bottom: calc(var(--sectionHorizontalSpacing) / 4);
        }
      }
    }
  }

  &.__layout-stacked {
    display: block;

    .featured-collection {
      &__text,
      &__container {
        border: none;
        max-width: none;
      }

      &__cards {
        &__card {
          width: 25%;
        }
      }

      &__text {
        padding-bottom: 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
  }

  @media screen and (max-width: 676px) {
  }
}
