.icons-section {
  &__icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--pxSize) 0;

    &__icon {
      text-align: center;
      padding: 0 calc(var(--pxSize));

      img {
        height: var(--iconHeight);
        width: auto;
        margin-bottom: 1rem;
      }
    }

    &.__layout {
      &-default,
      &-three-col {
        .icons-section__icons__icon {
          flex: 0 0 calc(100% / 3);
        }
      }

      &-two-col {
        .icons-section__icons__icon {
          flex: 0 0 50%;
        }
      }

      &-row {
        justify-content: unset;
        gap: calc(var(--pxSize) / 3);

        .icons-section__icons__icon {
          padding: 0;
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
  }
}
