.icons-section {
  &__heading {
    + * {
      padding-top: calc(var(--pxSize) / 2);
    }
  }

  &__icons {
    display: flex;
    flex-flow: row wrap;
    gap: var(--vwSize) 0;

    &__icon {
      text-align: center;

      img {
        height: var(--iconHeight);
        width: auto;
        margin-bottom: 1rem;
      }
    }

    &.__layout-rows {
      gap: calc(var(--vwSize));
    }

    &:not(.__layout-rows) {
      .icons-section__icons__icon {
        flex: 0 0 calc(100% / var(--numColumns));
        padding: 0 calc(var(--vwSize));
      }
    }
  }

  @media screen and (max-width: 676px) {
  }
}
