.image-banner {
  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto auto;
  }

  &__image,
  &__text-container {
    position: relative;
  }

  &__text-container {
    z-index: 2;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    padding-top: calc(
      var(--sectionVerticalSpacing) * var(--topInternalSpacingRatio)
    );
    padding-bottom: calc(
      var(--sectionVerticalSpacing) * var(--bottomInternalSpacingRatio)
    );
  }

  &__image {
    @extend .image-container;
    pointer-events: none;
    position: relative;
    inset: auto;
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    &:after {
      content: "";
      background: RGB(var(--color-background));
      opacity: var(--overlayOpacity);
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &.__crop {
      &-wide,
      &-rounded-wide,
      &-semicircle-wide {
        grid-column: 1 / -1;
      }
    }
  }

  &__text {
    * {
      max-width: var(--maxWidth);
    }
  }

  &.__fullwidth-bg {
    padding-left: 0;
    padding-right: 0;

    .image-banner {
      &__inner {
        position: relative;
        display: block;
        padding-right: var(--sectionGuttersSpacing);
        padding-left: var(--sectionGuttersSpacing);
        color: RGB(var(--color-foreground));
      }

      &__image {
        position: absolute;
        inset: 0;
        width: 100%;
      }
    }
  }

  &.__align-right {
    .image-banner {
      &__text-container {
        grid-column: 2 / -1;
      }

      &__image {
        grid-column: 1 / 3;
      }
    }
  }

  @media screen and (max-width: 676px) {
    &__text-container {
      grid-column: 1 / -1;
    }
  }
}
