.main-password {
  display: flex;
  flex-direction: column;
  padding: 0;

  &__forms,
  &__bottom {
    padding-left: calc(var(--pxSize) * 1.5);
    padding-right: calc(var(--pxSize) * 1.5);
  }

  &__forms {
    flex: 1;
    padding-top: var(--sectionVerticalSpacing);
    padding-bottom: var(--sectionVerticalSpacing);
  }

  &__bottom {
    background: RGB(var(--color-background));
    color: RGB(var(--color-text));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: calc(var(--pxSize) / 3);
    padding-bottom: calc(var(--pxSize) / 3);

    &__third {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      &:first-child {
        grid-column: 1 / 2;
      }

      &:nth-child(2) {
        grid-column: 2 / 3;
        justify-content: center;
      }

      &:last-child {
        grid-column: 3 / 4;
        justify-content: flex-end;

        a {
          margin-left: 0.5rem;
          will-change: transform;
          transition: transform 0.25s ease;

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      > * {
        margin-bottom: 0;
      }

      svg {
        height: calc(var(--pxSize) / 2);
      }
    }
  }

  &.__full-height {
    min-height: calc(100vh - var(--navHeight));
  }
}
