.main-collection-grid {
  --mainCollectionGridColumns: 3;
  &__container {
    display: grid;
    grid-template-columns: repeat(var(--mainCollectionGridColumns), 1fr);
    gap: calc(var(--pxSize) / 2);
  }

  &__grid-item {
    grid-column: span var(--gridItemWidth);
    grid-row: span var(--gridItemHeight);
  }

  &__block {
    height: 100%;
    padding: var(--vwSize);
    overflow: hidden;
    display: block; //because it could potentially be a link

    &:after {
      content: "";
      background: RGB(var(--color-background));
      opacity: var(--overlayOpacity);
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    > *:not(img) {
      position: relative;
      z-index: 3;
    }
  }

  @media screen and (max-width: 1024px) {
    --mainCollectionGridColumns: 2;
  }

  @media screen and (max-width: 676px) {
    --mainCollectionGridColumns: 1;

    &__grid-item {
      min-height: var(--mobileMinHeight);
    }

    &__container {
      gap: var(--sectionVerticalSpacing);
    }

    &.__mobile-fw {
      padding-left: 0;
      padding-right: 0;

      .filter-and-sort {
        margin-left: var(--sectionGuttersSpacing);
        margin-right: var(--sectionGuttersSpacing);
      }
    }
  }
}
