.main-order-main-account {
  display: flex;
  gap: var(--pxSize);

  &__breadcrumbs {
    padding-top: var(--pxSize);
    padding-bottom: var(--pxSize);
    border-bottom: 1px solid RGBA(var(--color-border));

    > .breadcrumbs {
      margin: 0;
    }
  }

  &__nav {
    flex: 1;

    ul {
      display: flex;
      flex-direction: column;
      gap: calc(var(--pxSize) / 2);

      a {
        @extend .h2;
        @extend .p;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &__sidebar {
    flex: 1;

    a {
      @extend .txt-link;
    }

    h1 {
      @extend .p-lg;
    }

    h2 {
      margin-top: var(--pxSize);
      @extend .p;
    }

    a,
    p {
      @extend .p-sm;
    }
  }

  &__orders {
    flex: 3;

    &__order:not(:last-child) {
      border-bottom: 1px solid RGBA(var(--color-border));
      padding-bottom: 1rem;
      margin-bottom: 2rem;
    }

    &__order {
      display: flex;
      flex-direction: column;

      a {
        @extend .txt-link;
      }
    }

    &__list {
      p {
        @extend .p-sm;
      }

      li {
        margin-top: var(--sectionVerticalSpacing);
      }
    }
  }

  &__table {
    &__hidden-head {
      display: none;
    }

    &__styled-head {
      border-bottom: 1px solid RGBA(var(--color-border));

      th {
        @extend .p-sm;
        border: none;
      }
    }

    &__list-body {
      td {
        all: unset;
        padding-bottom: 1rem;
      }
    }

    &__row-body {
      td {
        border: none;
      }
    }

    &__foot {
      tr {
        border-top: 1px solid RGBA(var(--color-border));

        td {
          border: none;
        }
      }
    }
  }

  .pagination {
    &__list {
      justify-content: flex-start;
    }
  }

  @media screen and (max-width: 676px) {
    flex-direction: column;
    gap: var(--sectionVerticalSpacing);

    .pagination {
      &__list {
        justify-content: center;
      }
    }
  }
}
