.main-article {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  &__content,
  &__details,
  &__btn,
  &__heading {
    grid-column: 2 / 3;
  }

  &__sidebar {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding-left: calc(var(--pxSize) / 3);
    position: sticky;
    -webkit-position: sitcky;
    top: calc(var(--navHeight) * 1.5);
    height: 0px;

    &__inner {
      max-height: calc(100vh - calc(var(--navHeight) * 1.5));
      padding-bottom: var(--pxSize);
      padding-top: calc(var(--pxSize) / 2);
      overflow-y: auto;
    }

    &__products {
      display: flex;
      flex-direction: column;
      gap: var(--pxSize);
      margin-bottom: var(--pxSize);
    }
  }

  &__content,
  &__content img,
  &__heading,
  &__details {
    max-width: var(--maxWidth);
    width: 100%;
  }

  &__image {
    grid-column: 1 / -1;
    position: relative;

    &:after {
      content: "";
      background: RGB(var(--color-background));
      opacity: var(--overlayOpacity);
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &__btn {
    margin-top: var(--sectionVerticalSpacing);
  }

  &__heading {
    &.__overlap-true {
      margin-top: calc(var(--pxSize) / -2);
      position: relative;
      z-index: 2;
    }
  }

  //Using Shopify's editor, if you just add an image, it wraps it in a p which includes a bottom margin
  // but if you edit and align it, it wraps it in a div, which excludes a margin. The styling below makes
  //the margin consistent no matter what its wrapped it
  &__content {
    img {
      margin-bottom: 1rem;
    }

    p img {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    display: block;

    &__sidebar {
      height: auto;
      padding: 0;
      position: static;
      top: 0px;

      &__inner {
        max-height: none;
        overflow: unset;
        padding: calc(var(--sectionVerticalSpacing) / 2) 0;
      }

      &__products {
        flex-direction: row;
        flex-wrap: wrap;

        &__product {
          flex: 1 0 200px;
          max-width: 300px;
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    &__sidebar {
      &__products {
        &__product {
          flex: 1 1 40%;
        }
      }
    }
  }
}
