.site-404 {
  text-align: center;
  margin: 0 auto;

  h1{
    max-width: var(--maxWidth);
    margin: 0 auto calc(var(--btnHeight) / 2.4);
  }

  &__image{
    svg,img{
      width: 100%;
      height: auto;
      max-width: var(--imageMaxWidth);
    }
  }

  &__btn{
    margin: 0 auto;
  }
}