.main-product {
  padding: 0;
  background-color: RGB(var(--color-background));
  color: RGB(var(--color-text));

  //main container with 3 columns
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    > * {
      position: relative;
      padding-top: calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio));
      padding-bottom: calc(
        var(--sectionVerticalSpacing) * var(--bottomSpacingRatio)
      );
    }
  }

  //blocks before media column position and space
  &__blocks-before-media {
    grid-column: 1 / 2;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
  }

  //media column position and space
  &__media {
    grid-column: 2 / 3;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
    padding-right: calc(var(--sectionGuttersSpacing) / 2);
    z-index: 2;
  }

  //blocks after media column position, space and coloring
  &__blocks-after-media {
    grid-column: 3 / -1;
    color: RGB(var(--color-text));
    padding-right: calc(var(--sectionGuttersSpacing) / 2);

    > * {
      position: relative;
    }

    &:before {
      content: "";
      position: absolute;
      width: 50vw;
      left: -50%;
      top: 0;
      bottom: 0;
      background: RGB(var(--color-background));
    }
  }

  //block wrapper that wraps some product blocks
  &__block {
    &.__border-top {
      border-top: 1px solid RGB(var(--color-border));
      padding-top: calc(var(--pxSize) / 4);
    }
  }

  //media block
  &__media {
    &:not(.__layout-sticky) {
      .main-product {
        &__media {
          &__container {
            display: grid;
          }

          &__item {
            grid-column: 1 / -1;
            grid-row: 1 / -1;

            &:not(:first-child) {
              display: none;
            }
          }

          &__dots {
            display: flex;
            justify-content: center;
            margin-top: var(--pxSize);

            li {
              @extend .standard-flickity-dot;
            }
          }
        }
      }
    }
  }

  &__comp-products {
    &__product {
      margin-bottom: calc(var(--pxSize) / 2);
    }
  }
}
