.main-product {
  padding: 0;
  background-color: RGB(var(--color-background));
  color: RGB(var(--color-text));

  //main container with 3 columns
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    > * {
      position: relative;
      padding-top: calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio));
      padding-bottom: calc(
        var(--sectionVerticalSpacing) * var(--bottomSpacingRatio)
      );
    }
  }

  //blocks before media column position and space
  &__blocks-before-media {
    grid-column: 1 / 2;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
    color: RGB(var(--color-text));

    > * {
      position: relative;
    }

    &:before {
      content: "";
      position: absolute;
      width: 50vw;
      right: -50%;
      top: 0;
      bottom: 0;
      background: RGB(var(--color-background));
    }
  }

  //media column position and space
  &__media {
    grid-column: 2 / 3;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
    padding-right: calc(var(--sectionGuttersSpacing) / 2);
    z-index: 2;
  }

  //blocks after media column position, space and coloring
  &__blocks-after-media {
    grid-column: 3 / -1;
    padding-right: calc(var(--sectionGuttersSpacing) / 2);
  }

  //block wrapper that wraps some product blocks
  &__block {
    display: block;

    &.__border-top {
      border-top: 1px solid RGBA(var(--color-border));
      padding-top: calc(var(--pxSize) / 4);
    }
  }

  //fieldsets inside radios for variant picker
  &__fieldset {
    margin: 0;

    &__label {
      margin-bottom: 0.5rem;

      span {
        display: block;
      }
    }

    &__input {
      display: none;

      &:checked + label {
        background: RGB(var(--color-foreground));
        color: RGB(var(--color-foreground-text));
      }
    }

    &__value {
      padding: calc(var(--pxSize) / 6) calc(var(--pxSize) / 4);
      display: inline-block;
      border-radius: 100%;
      cursor: pointer;

      &:hover {
        background: RGB(var(--color-foreground) / 0.2);
      }
    }
  }

  //dropdowns for variant picker
  &__dropdown {
    &__label {
      display: block;
      margin-bottom: 0.5rem;
    }

    &__select {
      width: 100%;
      margin-bottom: 0.5rem;
      border: 1px solid RGBA(var(--color-border));
    }
  }

  //media block
  &__media {
    &:not(.__layout-sticky) {
      .main-product {
        &__media {
          &__container {
            display: grid;
          }

          &__item {
            grid-column: 1 / -1;
            grid-row: 1 / -1;

            &:not(:first-child) {
              display: none;
            }
          }

          &__dots {
            display: flex;
            justify-content: center;
            margin-top: var(--pxSize);

            li {
              @extend .standard-flickity-dot;
            }
          }
        }
      }
    }
  }

  &__comp-products {
    &__product {
      margin-bottom: calc(var(--pxSize) / 2);
    }
  }
}
