.main-account {
  display: flex;
  gap: var(--pxSize);

  &__sidebar {
    flex: 1;

    h2,
    h1 {
      @extend .p-lg;

      &:not(:first-child) {
        margin-top: var(--pxSize);
      }
    }

    a,
    p {
      @extend .p-sm;
    }

    a {
      @extend .txt-link;
    }
  }

  &__orders {
    flex: 3;

    &__order:not(:last-child) {
      border-bottom: 1px solid RGBA(var(--color-border));
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    &__order {
      display: flex;
      flex-direction: column;
    }
  }

  &__table {
    &__head {
      display: none;
    }

    &__body {
      td {
        all: unset;
        padding-bottom: 1rem;
      }
    }
  }
}
