.site-password-reset {
    max-width: 560px;
    margin: 0 auto;

    &__heading{
        text-align: center;
    }

    &__recover{
        text-decoration: underline;
        text-align: center;
        display: block;
        text-transform: uppercase;
        margin-top: 1rem;
    }

    &__text{
        margin-bottom: 3.5rem;

        &__description{
            p{
                font-size: calc(0.75rem * var(--font-heading-scale));
            }
        }
    }

    &__create{
        text-decoration: underline;
    }
}