.main-cart {
  &__form {
    > .js-contents {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto 1fr;
      gap: 0 var(--pxSize);
    }
  }

  &__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__link {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
  }

  &__table {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    &__item {
      border: none;
      padding: 0;
    }

    &__head {
      border-bottom: 1px solid RGB(var(--color-border));

      .main-cart {
        &__table {
          &__item {
            padding-bottom: 1rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }

  &__textarea {
    margin-left: 0;
  }

  &__footer {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    > .cart-actions {
      background: RGBA(var(--color-text) / 0.05);
      padding: calc(var(--pxSize) / 2);

      .main-cart {
        &__footer {
          &__total,
          &__discounts ul li {
            display: flex;
            justify-content: space-between;
            gap: calc(var(--pxSize) / 2);
          }

          &__fine-print {
            display: block;
          }
        }
      }

      button {
        width: 100%;
        justify-content: center;
      }
    }

    &__messages {
      padding: calc(var(--pxSize) / 2) calc(var(--pxSize) / 2) 0
        calc(var(--pxSize) / 2);
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: calc(var(--pxSize) / 2);
    }
  }

  &__product-details {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0 calc(var(--pxSize) / 2);
    padding: calc(var(--pxSize) / 2) 0;

    &__image {
      grid-column: 1 / 2;
    }

    &__text {
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;

        dt {
          font-weight: 600;
        }

        dd:not(:last-child):after {
          content: "/";
          margin-left: 0.25rem;
        }
      }

      > * {
        margin: 0 0 0.75rem 0;

        * {
          margin: 0;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__form {
      > .js-contents {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
    }

    &__link {
      order: 2;
      text-align: center;
      margin-top: var(--pxSize);
    }

    &__heading {
      text-align: center;
    }

    &__quantity {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &__price {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      margin-top: 1rem;
    }

    &__textarea {
      margin-left: auto;
    }

    &__messages {
      max-width: var(--maxWidth);
    }

    &__table {
      &__head {
        display: none;
      }

      &__body {
        display: block;
        margin-bottom: 1rem;

        .main-cart {
          &__table {
            &__row {
              max-width: var(--maxWidth);
              margin: 0 auto;
              display: grid;
              grid-template-columns: 2fr 3fr;
              gap: 0 calc(var(--pxSize) / 2);
              border-bottom: 1px solid RGB(var(--color-border));

              > *:first-child {
                grid-column: 1 / -1;
              }
            }
          }
        }
      }
    }
  }
}
