// container of two: bottom bar and forms wrapper
.main-password {
  display: flex;
  flex-direction: column;
  padding: 0;

  //shared styles for bottom bar and forms wrapper
  &__forms,
  &__bottom {
    padding-left: calc(var(--pxSize) * 1.5);
    padding-right: calc(var(--pxSize) * 1.5);
  }

  // styles for forms wrapper
  &__forms {
    flex: 1;
    padding-top: var(--pxSize);
    padding-bottom: var(--pxSize);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn {
      margin-top: 0;
    }

    //shared styles for both forms
    &__newsletter,
    &__password {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      > *:not(form) {
        text-align: center;
        max-width: 350px;
      }
    }

    //styles to hide and display forms based on toggle button click
    #form-password {
      display: none;

      ~ .__cancel {
        display: none;
      }

      &:target {
        display: flex;

        & ~ #form-newsletter {
          display: none;
        }

        & ~ .__cancel {
          display: inline-block;

          + a {
            display: none;
          }
        }
      }
    }
  }

  //bottom bar styles
  &__bottom {
    background: RGB(var(--color-background));
    color: RGB(var(--color-text));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: calc(var(--pxSize) / 3);
    padding-bottom: calc(var(--pxSize) / 3);

    &__third {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      &:first-child {
        grid-column: 1 / 2;
      }

      &:nth-child(2) {
        grid-column: 2 / 3;
        justify-content: center;
      }

      &:last-child {
        grid-column: 3 / 4;
        justify-content: flex-end;

        a {
          margin-left: 0.5rem;
          will-change: transform;
          transition: transform 0.25s ease;

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      > * {
        margin-bottom: 0;
      }

      svg {
        height: calc(var(--pxSize) / 2);
      }
    }
  }

  // option to make this full height
  &.__full-height {
    min-height: calc(100vh - var(--navHeight));
  }

  @media screen and (max-width: 1024px) {
    &__bottom {
      display: flex;
      flex-direction: column;
      gap: calc(var(--pxSize));

      &__third {
        &:first-child,
        &:nth-child(2),
        &:last-child {
          justify-content: center;
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    &__forms,
    &__bottom {
      padding-left: var(--sectionGuttersSpacing);
      padding-right: var(--sectionGuttersSpacing);
    }

    &__bottom {
      padding-top: var(--sectionGuttersSpacing);
      padding-bottom: var(--sectionGuttersSpacing);
    }
  }
}
