.main-account {
  display: flex;
  gap: var(--pxSize);

  &__sidebar {
    flex: 1;
  }

  &__orders {
    flex: 3;

    &__order:not(:last-child) {
      border-bottom: 1px solid var(--color-border);
    }
  }

  &__table {
    &__head {
      display: none;
    }

    &__body {
    }
  }
}
