.main-product {
  padding: 0;
  background-color: RGB(var(--color-background));
  color: RGB(var(--color-text));

  //main container with 3 columns
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    > * {
      position: relative;
      padding-top: calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio));
      padding-bottom: calc(
        var(--sectionVerticalSpacing) * var(--bottomSpacingRatio)
      );
    }
  }

  //blocks before media column position and space
  &__blocks-before-media {
    grid-column: 1 / 2;
    padding-left: var(--sectionGuttersSpacing);
  }

  //media column position and space
  &__media {
    grid-column: 2 / 3;
    padding-left: calc(var(--sectionGuttersSpacing) / 2);
    padding-right: calc(var(--sectionGuttersSpacing) / 2);
    z-index: 2;
  }

  //blocks after media column position, space and coloring
  &__blocks-after-media {
    grid-column: 3 / -1;
    color: RGB(var(--color-text));
    padding-right: var(--sectionGuttersSpacing);

    > * {
      position: relative;
    }

    &:before {
      content: "";
      position: absolute;
      width: 50vw;
      left: -50%;
      top: 0;
      bottom: 0;
      background: RGB(var(--color-background));
    }
  }

  //block wrapper that wraps some product blocks
  &__block {
    &.__border-top {
      border-top: 1px solid RGB(var(--color-border));
      padding-top: calc(var(--pxSize) / 4);
    }
  }

  //rating block
  &__rating {
    position: relative;

    > * {
      display: inline-block;
    }

    &__outlined-stars {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
    }

    &__solid-stars {
      z-index: 1;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(
          98% - calc(calc(var(--ratingWidth)) * 100%)
        ); // For some reason it appears 2% off, so we need to subtrract from 98% instead of 100%
        background: RGB(var(--color-background));
      }
    }
  }

  //media block
  &__media {
    &:not(.__layout-sticky) {
      .main-product {
        &__media {
          &__container {
            display: grid;
          }

          &__item {
            grid-column: 1 / -1;
            grid-row: 1 / -1;

            &:not(:first-child) {
              display: none;
            }
          }

          &__dots {
            display: flex;
            justify-content: center;
            margin-top: var(--pxSize);

            li {
              @extend .standard-flickity-dot;
            }
          }
        }
      }
    }
  }

  //icons block
  &__icons {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--customIconHeight));
    margin-bottom: calc(var(--pxSize) / 2);

    &__icon {
      display: flex;
      flex-direction: column;
      gap: calc(var(--customIconHeight) / 3);
      align-items: center;
      text-align: center;

      span {
        margin: 0;
      }

      &:before {
        @extend .custom-icon;
      }
    }

    &.__layout {
      &-row {
        .main-product {
          &__icons {
            &__icon {
              flex-direction: row;
              text-align: left;
            }
          }
        }
      }

      &-icon-only {
        .main-product {
          &__icons {
            &__icon {
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
