.main-list-collections {
  padding: 0;

  //pagination
  .pagination {
    margin-top: calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio));
    margin-bottom: calc(
      var(--sectionVerticalSpacing) * var(--bottomSpacingRatio)
    );
  }
}
