.marquee {
  // --marqueeGap: calc(var(--pxSize) / 5);
  padding-right: 0 !important;
  padding-left: 0 !important;

  @keyframes galleryMarquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  &__container {
    overflow: hidden;
    position: relative;

    &.__paused {
      .marquee__container__inner {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
      }
    }

    //Hide scrollbars
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__text {
    will-change: transform;
    width: 100%;
    animation: galleryMarquee var(--marqueeSpeed) linear infinite;
    margin-bottom: 0;
    width: var(--marqueeCharacterCount);
    text-shadow: var(--marqueeCharacterCount) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 2) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 3) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 4) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 5) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 6) 0 var(--color-text);
  }

  @media screen and (max-width: 676px) {
    //   --marqueeGap: calc(var(--pxSize) / 4);
  }
}
