.multicolumn {
  --multiColumnGap: calc(var(--pxSize) / 3);

  &__text {
    max-width: 600px;
  }

  &__heading,
  &__text {
    padding-left: calc(var(--sectionGuttersSpacing) - var(--multiColumnGap));
    padding-right: calc(var(--sectionGuttersSpacing) - var(--multiColumnGap));
  }

  &__inner {
    --overflowSliderItemGap: var(--multiColumnGap) !important;
    --overflowSliderItemSizeDesktop: calc(
      100% / var(--desktopColumns)
    ) !important;
    --overflowSliderItemSizeTablet: calc(
      100% / var(--mobileColumns)
    ) !important;
    --overflowSliderItemSizeMobile: calc(
      100% / var(--mobileColumns)
    ) !important;
  }

  &.__layout-slider {
    padding-left: var(--multiColumnGap);
    padding-right: var(--multiColumnGap);
  }

  &.__layout-default {
    .multicolumn {
      &__container {
        display: grid;
        grid-template-columns: repeat(
          var(--desktopColumns),
          calc(100% / var(--desktopColumns))
        );
        gap: calc(var(--sectionVerticalSpacing) / 1.5) 0;

        > * {
          width: 100%;
        }
      }
    }
  }
}
