.rich-text {
  display: flex;
  flex-direction: column;

  * {
    max-width: var(--maxWidth);
  }

  > *:last-child {
    margin-bottom: 0;

    * {
      margin-bottom: 0;
    }
  }

  &.__align {
    &-center {
      text-align: center;
      align-items: center;
    }

    &-right {
      text-align: right;
      align-items: flex-end;
    }
  }
}
