.shop-the-look {
  padding-left: 0;
  padding-right: 0;
  //TODO how to make the relative pos of the dots land on the same spot on the image no matter the slider content height or browser width?

  &__inner {
    display: flex;
    position: relative;
  }

  &__image,
  &__products {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    z-index: 1;
  }

  &__image {
    position: relative;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__dots {
    position: absolute;
    inset: 0;

    .flickity-viewport {
      height: 100% !important;

      .flickity-slider {
        transform: none !important;
      }
    }

    &__dot {
      padding: calc(var(--pxSize) / 4);
      position: absolute;
      border-radius: 50%;
      border-width: calc(var(--pxSize) / 4);
      border-style: solid;
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box;
      will-change: padding, border-width;
      transition: all 0.25s ease;

      //Don't allow flickity to overide our css
      transform: translate(-50%, -50%) !important;
      left: var(--shopTheLookDotleft) !important;
      top: var(--shopTheLookDotTop) !important;

      &.is-selected {
        border-width: calc(var(--pxSize) / 8);
        padding: calc(var(--pxSize) / 2.66);
      }
    }
  }

  &__products {
    @extend .cmnc-flickity-buttons-bottom;
    margin: var(--pxSize) 0;

    &__product {
      width: 60%;
      padding-left: var(--pxSize);
    }
  }

  //TODO: Shoudl we extract this into a global class with the only variable being height?
  &__background-color {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    inset: 0;

    .flickity-viewport {
      height: 100% !important;
    }

    .flickity-slider {
      transform: translateX(0) !important;
    }

    &__item {
      width: 100%;
      height: 100%;
      transition: opacity 0.4s;
      opacity: 0;
      transform: translateX(0) !important;

      &.is-selected {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 1024px) {
  }

  @media screen and (max-width: 676px) {
    &__inner {
      display: block;
    }

    &__image,
    &__products {
      max-width: 100%;
    }

    &__image {
      height: var(--mobileImageHeight);
    }

    &__products {
      &__product {
        width: 85%;
      }
    }
  }
}
