.text-marquee {
  padding-right: 0 !important;
  padding-left: 0 !important;

  @keyframes textMarquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  &__container {
    overflow: hidden;
    position: relative;

    //Hide scrollbars

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__text {
    will-change: transform;
    width: 100%;
    animation: textMarquee var(--marqueeSpeed) linear infinite;
    margin-bottom: 0;
    width: var(--marqueeCharacterCount);
    text-shadow: var(--marqueeCharacterCount) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 2) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 3) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 4) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 5) 0 var(--color-text),
      calc(var(--marqueeCharacterCount) * 6) 0 var(--color-text);
  }
}
