///////////////////////////////////////
/////////////////////////////////////
//Modifiers
/////////////////////////////////////
/////////////////////////////////////

.__align {
  &-center {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    > *,
    p {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-left,
  &-default {
    text-align: left;
    align-items: flex-start;
    margin-right: auto;

    > *,
    p {
      justify-content: flex-start;
      margin-right: auto;
    }
  }

  &-right {
    text-align: right;
    align-items: flex-end;
    margin-left: auto;

    > *,
    p {
      justify-content: flex-end;
      margin-left: auto;
    }
  }
}

// Crop images into specific shapes, don't forget to include
// --imageRatio css variable inside the elements style attr
// if one of the crop options is "default"
.__crop {
  &-default {
    padding-top: var(--imageRatio);
  }

  &-circle,
  &-square,
  &-rounded-square {
    padding-top: 100%;
  }

  &-landscape,
  &-semicircle-landscape,
  &-rounded-landscape {
    padding-top: 66.66%;
  }

  &-wide,
  &-rounded-wide,
  &-semicircle-wide {
    padding-top: 30%;
  }

  &-portrait,
  &-rounded-portrait,
  &-semicircle-portrait,
  &-arch {
    padding-top: 133.33%;
  }

  &-circle,
  &-semicircle,
  &-semicircle-portrait,
  &-semicircle-landscape,
  &-semicircle-wide {
    border-radius: 4000px;

    &:after,
    img {
      border-radius: 4000px;
    }
  }

  &-rounded,
  &-rounded-square,
  &-rounded-portrait,
  &-rounded-landscape,
  &-rounded-wide {
    border-radius: calc(var(--vwSize) * 2);

    &:after,
    img {
      border-radius: calc(var(--vwSize) * 2);
    }

    @media screen and (max-width: 676px) {
      border-radius: calc(var(--pxSize) * 2);

      &:after,
      img {
        border-radius: calc(var(--pxSize) * 2);
      }
    }
  }

  &-arch {
    border-top-left-radius: 4000px;
    border-top-right-radius: 4000px;

    &:after,
    img {
      border-top-left-radius: 4000px;
      border-top-right-radius: 4000px;
    }
  }
}
