///////////////////////////////////////
/////////////////////////////////////
//Variables
/////////////////////////////////////
/////////////////////////////////////

// Sizing
:root {
  --pxSize: 50px;
  --vwSize: 2vw;

  --sectionVerticalSpacing: 100px;
  --sectionGuttersSpacing: calc(var(--vwSize) * 5.5);

  --topSpacingRatio: 1;
  --bottomSpacingRatio: 1;
  --overlayOpacity: 0.5;

  --inputHeight: 48px;
  --arrowBtnHeight: calc(var(--pxSize) * 4 / 5);
  --customIconHeight: var(var(--pxSize));

  --stickyElementTransition: transformY(0);
  --maxWidth: 750px;
  --siteMaxWidth: 1680px;
  --navHeight: 75px;

  @media (min-width: 1680px) {
    --vwSize: calc(var(--siteMaxWidth) * 0.02);
  }

  @media (max-width: 1024px) {
    --pxSize: 40px;
    --vwSize: 1.6vw;

    --sectionVerticalSpacing: 70px;
    --sectionGuttersSpacing: calc(var(--vwSize) * 3);

    --navHeight: 65px;
    --inputHeight: 48px;
  }

  @media (max-width: 676px) {
    --pxSize: 30px;
    --vwSize: 1.2vw;

    --sectionVerticalSpacing: 65px;
    --sectionGuttersSpacing: 20px;

    --navHeight: 60px;
    --inputHeight: 45px;
  }
}
